Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump to v1.8.3a0 for testing
  pyproject.toml
Due: none

Remove now unused argument
  plugwise/smile.py
Due: userdata, pylint

Add test for schedule = "off"
  tests/test_adam.py
Due: userdata

Move to test to a suitable device-config
  tests/test_adam.py
  tests/test_anna.py
Due: userdata

Correct location_id
  tests/test_anna.py
Due: userdata

Set to v1.8.3 release-version
  CHANGELOG.md
  pyproject.toml
Due: none

Add detection of Anna P1
  plugwise/__init__.py
  plugwise/constants.py
Due: userdata, pylint

Improve
  plugwise/__init__.py
Due: userdata, pylint

Show model_id for legacy gataways
  plugwise/__init__.py
Due: userdata, pylint

Ruffed
  plugwise/helper.py
  plugwise/smile.py
  tests/test_anna.py
Due: userdata, pylint

Remove 3.13 testing
  .github/workflows/verify.yml
  CHANGELOG.md
  pyproject.toml
Due: none

All Emma configs have been tested
  README.md
Due: none

Change anna_p1 indication, collect smartmeter data when available
  plugwise/__init__.py
  plugwise/constants.py
  plugwise/helper.py
Due: userdata, pylint

Save updated fixture
  fixtures/anna_p1/data.json
Due: none

Collect P1 measurement data for Anna P1 too
  plugwise/helper.py
Due: userdata, pylint

Change OpenTherm device data
  userdata/anna_p1/core.domain_objects.xml
Due: none

Update anna_p1 entity_items assert
  tests/test_anna.py
Due: userdata

Improve typing
  plugwise/common.py
Due: userdata, pylint

Save updated anna_p1 fixture
  fixtures/anna_p1/data.json
Due: none

Add anna_p1 testcase
  tests/data/anna/anna_p1.json
  tests/test_anna.py
Due: userdata

Don't swap gateway and smartmeter entity id's for Anna P1
  plugwise/helper.py
Due: userdata, pylint

Update anna_p1 test-json
  tests/data/anna/anna_p1.json
Due: none

Don't stop collecting entity data for Anna P1
  plugwise/helper.py
Due: userdata, pylint

Cover Anna P1 as Anna too
  plugwise/common.py
Due: userdata, pylint

Save new and updated files
  fixtures/anna_p1/data.json
  tests/data/anna/anna_p1.json
Due: none

Increase anna_p1 entity_items assert
  tests/test_anna.py
Due: userdata

Update anna_p1 test-json, entity_items assert
  tests/data/anna/anna_p1.json
  tests/test_anna.py
Due: userdata

Fix typo
  plugwise/__init__.py
Due: userdata, pylint

Save updated anna_p1 test-json
  tests/data/anna/anna_p1.json
Due: none

Update testdata
  tests/data/anna/anna_p1.json
Due: none

Updated related test-json
  tests/data/anna/anna_p1.json
Due: none

Add Anna_P1 userdata
  userdata/anna_p1/core.domain_objects.xml
Due: none
