Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: Validating userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: Running MyPy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: PyLinting
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Try using the added dataclasses
  plugwise/constants.py
Due: userdata, pylint

Disable unused classes
  plugwise/devices.py
Due: userdata, pylint

fixup: device_classes Python code fixed using ruff
  plugwise/devices.py
Due: userdata, pylint

Ruffed
  plugwise/__init__.py
  plugwise/constants.py
  plugwise/devices.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

More updates
  plugwise/devices.py
Due: userdata, pylint

Updating...
  plugwise/devices.py
Due: userdata, pylint

Save PlugwiseData overview
  plugwise/devices.py
Due: userdata, pylint

Working
  plugwise/devices.py
Due: userdata, pylint

Working 2
  plugwise/devices.py
Due: userdata, pylint

Validate py314 compatibility
  .github/workflows/merge.yml
  .github/workflows/verify.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
Due: none

Bump cache
  .github/workflows/merge.yml
  .github/workflows/verify.yml
Due: none

Create matrix cache
  .github/workflows/verify.yml
Due: none

Use matrix version
  .github/workflows/verify.yml
Due: none

Move cache+python combo
  .github/workflows/verify.yml
Due: none

Rework in gh-actions
  .github/workflows/verify.yml
Due: none

Force venv consumption
  .github/workflows/verify.yml
Due: none

Reverse pre-commit pin
  .pre-commit-config.yaml
Due: none

Matrix typo
  .github/workflows/verify.yml
Due: none

Ingest python for minor version
  .github/workflows/verify.yml
Due: none

Use minor
  .github/workflows/verify.yml
Due: none

Bump version
  .github/workflows/verify.yml
Due: none

Validate py314 compatibility (#793)
  .github/workflows/merge.yml
  .github/workflows/verify.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
Due: none

Correct wrong counts
  plugwise/common.py
  plugwise/helper.py
Due: userdata, pylint

Sorting
  plugwise/common.py
Due: userdata, pylint

Save entity test-asserts for adam_plus_anna_new
  tests/test_adam.py
Due: userdata

Save updated test-jsons
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_multiple_devices_per_zone.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
  tests/data/adam/adam_plus_anna.json
  tests/data/adam/adam_plus_anna_new.json
  tests/data/adam/adam_plus_anna_new_regulation_off.json
  tests/data/adam/adam_zone_per_device.json
  tests/data/anna/anna_elga_2.json
  tests/data/anna/anna_elga_2_cooling.json
  tests/data/anna/anna_elga_2_schedule_off.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_cooling.json
  tests/data/anna/anna_heatpump_cooling_fake_firmware.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_loria_cooling_active.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_loria_heating_idle.json
  tests/data/anna/anna_v4.json
  tests/data/anna/anna_v4_dhw.json
  tests/data/anna/anna_v4_no_tag.json
  tests/data/anna/anna_without_boiler_fw441.json
  tests/data/p1/p1v4_442_single.json
  tests/data/p1/p1v4_442_triple.json
  tests/data/stretch/stretch_v23.json
  tests/data/stretch/stretch_v31.json
Due: none

Update adam entity_count asserts
  tests/test_adam.py
Due: userdata

legacy-data: add missing _count
  plugwise/legacy/data.py
Due: userdata, pylint

Update legacy_anna entity_count asserts
  tests/test_legacy_anna.py
Due: userdata

Update stretch entity_count asserts
  tests/test_legacy_stretch.py
Due: userdata

Update CHANGELOG
  CHANGELOG.md
Due: none

Update relevant test-jsons, asserst
  tests/data/anna/anna_v4.json
  tests/data/anna/anna_v4_UPDATED_DATA.json
  tests/data/anna/anna_v4_dhw.json
  tests/data/anna/anna_v4_no_tag.json
  tests/data/anna/anna_without_boiler_fw441.json
  tests/test_anna.py
  userdata/updated/anna_v4/core.domain_objects.xml
Due: userdata

Create ThermostatZone for Anna too
  plugwise/data.py
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, pylint

Try
  tests/test_init.py
Due: userdata

Update test-jsons
  tests/data/anna/anna_elga_2.json
  tests/data/anna/anna_elga_2_schedule_off.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_cooling.json
  tests/data/anna/anna_heatpump_cooling_fake_firmware.json
  tests/data/anna/anna_heatpump_heating.json
  tests/test_anna.py
Due: userdata

Fix Anna update_for_cooling()
  plugwise/data.py
Due: userdata, pylint

Update anna entity_count asserts
  tests/test_anna.py
Due: userdata

Save updated test-json
  tests/data/anna/anna_elga_2_cooling.json
Due: none

Update entity_count asserts
  tests/test_anna.py
Due: userdata

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
