Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

.pre-commit-config.yaml:

ci:
  # Defer autoupdate to quarterly (there is no 'off' button) to have renovate pick up first
  autoupdate_schedule: quarterly
  skip: [pylint, markdownlint, testing, fixtures]
  submodules: true

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.11

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.265
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests|scripts)/.+)?[^/]+\.py$
  #  Moved codespell configuration to setup.cfg as per 'all-files' issues not reading args
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.31.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.5.1
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(plugwise|tests)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/$
      - id: pylint
        name: pylint
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^plugwise/.+\.py$
      - id: testing
        name: "Local Testing - Performing Tests"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh test_and_coverage'
        language: script
        pass_filenames: false
      - id: fixtures
        name: "Fixture formatting"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh fixtures'
        language: script
        pass_filenames: false
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint

Remove double updated-test-asserts
  tests/test_smile.py
Due: userdata

Add adam_plus_anna_new to updated
  userdata/updated/adam_plus_anna_new/core.appliances.xml
  userdata/updated/adam_plus_anna_new/core.domain_objects.xml
  userdata/updated/adam_plus_anna_new/core.locations.xml
  userdata/updated/adam_plus_anna_new/core.modules.xml
Due: none

Update data for switch 29542b2b6a6a4169acecc15c72a599b8
  userdata/updated/adam_plus_anna_new/core.appliances.xml
Due: none

Fix assert
  tests/test_smile.py
Due: userdata

Update smile_setup
  tests/test_smile.py
Due: userdata

async_update(): improve collection of required xml-data,
  plugwise/__init__.py
Due: userdata, pylint

Set Livingroom preset to away
  userdata/updated/anna_v4/core.domain_objects.xml
Due: none

Full test-output
  scripts/tests_and_coverage.sh
Due: none

Log amount of test-assert
  tests/test_smile.py
Due: userdata

Revert "Full test-output"
  scripts/tests_and_coverage.sh
Due: none

Improve _full_update_device()
  plugwise/__init__.py
Due: userdata, pylint

_full_update_device(): correct for missing domain_objects
  plugwise/__init__.py
Due: userdata, pylint

async_update(): correct for plugwise notifications, and for future,
  plugwise/__init__.py
Due: userdata, pylint

Combine cases for only appliances
  plugwise/__init__.py
  plugwise/constants.py
Due: userdata, pylint

Add p1_v2_2 updated userdata
  userdata/updated/smile_p1_v2_2/core.domain_objects.xml
  userdata/updated/smile_p1_v2_2/core.locations.xml
  userdata/updated/smile_p1_v2_2/core.modules.xml
  userdata/updated/smile_p1_v2_2/system_status_xml.xml
Due: none

Add updated testing for P1 legacy
  tests/test_smile.py
Due: userdata

Add updated testing for P1
  userdata/updated/p1v4_442_single/core.appliances.xml
  userdata/updated/p1v4_442_single/core.domain_objects.xml
  userdata/updated/p1v4_442_single/core.locations.xml
  userdata/updated/p1v4_442_single/core.modules.xml
Due: none

P1 testing update
  tests/test_smile.py
  userdata/updated/p1v4_442_single/core.locations.xml
Due: userdata

Correct, cleanup
  tests/test_smile.py
Due: userdata

Ruffed
  tests/test_smile.py
Due: userdata

Add updated testing for stretch_31
  tests/test_smile.py
  userdata/updated/stretch_v31/core.appliances.xml
  userdata/updated/stretch_v31/core.domain_objects.xml
  userdata/updated/stretch_v31/core.locations.xml
  userdata/updated/stretch_v31/core.modules.xml
  userdata/updated/stretch_v31/system_status_xml.xml
Due: userdata

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump to v0.32.3a0 test-version
  pyproject.toml
Due: none

Set to v0.32.3 release-version
  pyproject.toml
Due: none

Revert codecov-action to v3
  .github/workflows/verify.yml
Due: none

Correct typo
  plugwise/helper.py
Due: userdata, pylint

Debug data
  plugwise/helper.py
Due: userdata, pylint

Debug
  plugwise/__init__.py
Due: userdata, pylint

Iterate through copy of devices
  plugwise/__init__.py
Due: userdata, pylint

Remove initial debug, add new
  plugwise/__init__.py
  plugwise/helper.py
Due: userdata, pylint

Try 2
  plugwise/helper.py
Due: userdata, pylint

More debug
  plugwise/__init__.py
Due: userdata, pylint

Add updated testing for anna_heatpump_heating
  tests/test_smile.py
Due: userdata

Look at actual date-time
  plugwise/helper.py
Due: userdata, pylint

Add missing .items()
  plugwise/__init__.py
Due: userdata, pylint

Fix
  plugwise/__init__.py
Due: userdata, pylint

Debug
  plugwise/helper.py
Due: userdata, pylint

Await
  plugwise/__init__.py
Due: userdata, pylint
