Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: Validating userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: Running MyPy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: PyLinting
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Simplify
  plugwise/models.py
Due: userdata, pylint

Formatting
  plugwise/models.py
Due: userdata, pylint

Format biome.json
  biome.json
Due: none

Convert xml to dict with debug
  plugwise/__init__.py
Due: userdata, pylint

Full test-output
  scripts/tests_and_coverage.sh
Due: none

Add xmltodict as dependency
  pyproject.toml
Due: none

Fix
  plugwise/__init__.py
Due: userdata, pylint

Check xml
  plugwise/__init__.py
Due: userdata, pylint

Try again
  plugwise/__init__.py
Due: userdata, pylint

Fix blank line in userdata
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: none

Skip
  tests/test_init.py
Due: userdata

Try 2
  plugwise/__init__.py
Due: userdata, pylint

Import json
  plugwise/__init__.py
  pyproject.toml
Due: userdata, pylint

Try 3
  plugwise/__init__.py
  pyproject.toml
Due: userdata, pylint

Add support for Groups
  plugwise/models.py
Due: userdata, pylint

Improve support for groups
  plugwise/common.py
  plugwise/constants.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Update test-json
  tests/data/adam/adam_plus_anna_new.json
Due: none

Update test asserts
  tests/test_adam.py
Due: userdata

Update test-json 2
  tests/data/adam/adam_plus_anna_new_regulation_off.json
Due: none

Collect group sensors
  plugwise/common.py
Due: userdata, pylint

Debug log
  plugwise/common.py
Due: userdata, pylint

Improve find
  plugwise/common.py
Due: userdata, pylint

Add GROUP_MEASUREMENTS constant
  plugwise/constants.py
Due: userdata, pylint

Try
  plugwise/common.py
Due: userdata, pylint

Debug 2
  plugwise/common.py
Due: userdata, pylint

Add count, debug 3
  plugwise/common.py
Due: userdata, pylint

Reorder, add debug 4
  plugwise/helper.py
Due: userdata, pylint

Add _collect_group_sensors() function
  plugwise/common.py
  plugwise/helper.py
Due: userdata, pylint

fixup: improve_group Python code fixed using ruff
  plugwise/helper.py
Due: userdata, pylint

Cleanup, improve docstring
  plugwise/common.py
  plugwise/helper.py
Due: userdata, pylint

Update entity_items assert
  tests/test_adam.py
Due: userdata

Update test-json 2
  tests/data/adam/adam_zone_per_device.json
Due: none

Update entity_items 2
  tests/test_adam.py
Due: userdata

Update test-json 3
  tests/data/adam/adam_multiple_devices_per_zone.json
Due: none

Update entity_items 3
  tests/test_adam.py
Due: userdata

Save test-jsons 4
  tests/data/stretch/stretch_v23.json
  tests/data/stretch/stretch_v31.json
Due: none

Save updated fixtures
  fixtures/adam_multiple_devices_per_zone/data.json
  fixtures/adam_plus_anna_new/data.json
  fixtures/adam_plus_anna_new_regulation_off/data.json
  fixtures/adam_zone_per_device/data.json
  fixtures/stretch_v23/data.json
  fixtures/stretch_v31/data.json
Due: none

Typing fix
  plugwise/helper.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
