Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Remove own added battery-low limits, not working
  plugwise/data.py
Due: userdata, pylint

Capture both battery-below notifications
  plugwise/data.py
Due: userdata, pylint

Keep showing battery-low warnings
  plugwise/data.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump to v1.2.0a0 test-version
  pyproject.toml
Due: none

Add debug-logging
  plugwise/data.py
Due: userdata, pylint

Bump to a1
  pyproject.toml
Due: none

Import LOGGER
  plugwise/data.py
Due: userdata, pylint

More debugging, fix code
  plugwise/data.py
Due: userdata, pylint

Bump to a2
  pyproject.toml
Due: none

Remove debug-logging
  plugwise/data.py
Due: userdata, pylint

Bump to v1.2.0 release-version
  pyproject.toml
Due: none

Add battery-state critically low message to userddata
  userdata/updated/adam_plus_anna_new/core.domain_objects.xml
Due: none

Update related test-assert
  tests/data/adam/adam_plus_anna_new_UPDATED_DATA.json
Due: none

Debug test
  .github/workflows/verify.yml
Due: none

Fix for upload-artifact #602
  .github/workflows/verify.yml
Due: none

Fix paste failure
  .github/workflows/verify.yml
Due: none

Update devuce_items test-assert
  tests/test_legacy_anna.py
Due: userdata

Add protection
  plugwise/util.py
Due: userdata, pylint

Update anna_loria_heating_idle
  tests/data/anna/anna_loria_heating_idle.json
Due: none

Don't use model_id for Smartmeter
  plugwise/helper.py
Due: userdata, pylint

Update device_items assert
  tests/test_adam.py
Due: userdata

Update adam_heatpump_cooling test-json
  tests/data/adam/adam_heatpump_cooling.json
Due: none

Update device_item asserts
  tests/test_p1.py
Due: userdata

Update anna_loria_driessens test-json
  tests/data/anna/anna_loria_driessens.json
Due: none

Correct device_items assert
  tests/test_legacy_anna.py
Due: userdata

Update device_items assert
  tests/test_anna.py
Due: userdata

Define appl.model_id for P1
  plugwise/helper.py
  plugwise/legacy/helper.py
Due: userdata, pylint

Fix typo
  plugwise/helper.py
Due: userdata, pylint

Update anna_v4_dhw test-json
  tests/data/anna/anna_v4_dhw.json
Due: none

Improvements
  plugwise/common.py
  plugwise/helper.py
Due: userdata, pylint

Avoid double model/model_id's for Anna
  plugwise/common.py
Due: userdata, pylint

Update adam_plus_anna_new test-json
  tests/data/adam/adam_plus_anna_new.json
Due: none

Remove model_if from Switchgroup, not needed
  plugwise/common.py
Due: userdata, pylint

Improve modelname for Aqara Smartplugs
  plugwise/util.py
Due: userdata, pylint

Update anna_v4 test-json
  tests/data/anna/anna_v4.json
Due: none

Correct device_items asserts
  tests/test_anna.py
Due: userdata

Update anna_loria_cooling_active test-json
  tests/data/anna/anna_loria_cooling_active.json
Due: none

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
