Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: Validating userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: Running MyPy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: PyLinting
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Implement improvement suggestion
  plugwise/__init__.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Clean up now unused code
  plugwise/smile.py
Due: userdata, pylint

Revert typing-update and adapt
  plugwise/helper.py
Due: userdata, pylint

Move toggles collection up
  plugwise/helper.py
Due: userdata, pylint

Constants: add 2nd options for select_dhw_mode
  plugwise/constants.py
Due: userdata, pylint

fixup: dhw_update Python code fixed using ruff
  plugwise/helper.py
Due: userdata, pylint

Fix typing as suggested
  plugwise/helper.py
Due: userdata, pylint

Save updated fixtures
  fixtures/adam_bad_thermostat/data.json
  fixtures/adam_heatpump_cooling/data.json
  fixtures/adam_jip/data.json
  fixtures/adam_onoff_cooling_fake_firmware/data.json
  fixtures/anna_elga_no_cooling/data.json
  fixtures/anna_heatpump_heating/data.json
  fixtures/anna_loria_cooling_active/data.json
  fixtures/anna_loria_driessens/data.json
  fixtures/anna_loria_heating_idle/data.json
  fixtures/anna_v4/data.json
  fixtures/anna_v4_dhw/data.json
  fixtures/anna_v4_no_tag/data.json
Due: none

Change `water_heater_mode` to `dhw_mode`
  plugwise/constants.py
  plugwise/data.py
  tests/data/adam/adam_bad_thermostat.json
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_loria_cooling_active.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_loria_heating_idle.json
  tests/data/anna/anna_v4.json
  tests/data/anna/anna_v4_UPDATED_DATA.json
  tests/data/anna/anna_v4_dhw.json
  tests/data/anna/anna_v4_no_tag.json
Due: userdata, pylint

Clean up
  plugwise/constants.py
  plugwise/helper.py
Due: userdata, pylint

Wide dhw_mode options in tinker-test
  tests/test_init.py
Due: userdata

Debug
  plugwise/smile.py
  scripts/tests_and_coverage.sh
Due: userdata, pylint

Debug 2
  plugwise/smile.py
Due: userdata, pylint

Add select_dhw_mode testcase
  tests/test_adam.py
Due: userdata

Update set_switch_state() URI call for toggle, relay and lock
  plugwise/smile.py
Due: userdata, pylint

Test dhw_mode off to as suggested
  tests/test_init.py
Due: userdata

Adapt set_dhw_mode() functions
  plugwise/__init__.py
  plugwise/smile.py
Due: userdata, pylint

Ruffed
  plugwise/smile.py
Due: userdata, pylint

Use try except to manage a missing switch
  plugwise/smile.py
Due: userdata, pylint

fixup: dhw_update Python code fixed using ruff
  plugwise/smile.py
Due: userdata, pylint

Add dhw_mode test for comfort_mode toggle
  tests/test_adam.py
Due: userdata

Improve comments, docstring
  plugwise/smile.py
Due: userdata, pylint

Update legacy set_dhw_mode() placeholder
  plugwise/legacy/smile.py
Due: userdata, pylint

Add comment for required functionality
  plugwise/smile.py
Due: userdata, pylint

Use the appropriate method
  plugwise/smile.py
Due: userdata, pylint

Remove double code
  plugwise/smile.py
  tests/test_adam.py
  tests/test_anna.py
Due: userdata, pylint

Improve comments
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, pylint

Ruffed
  plugwise/__init__.py
  plugwise/smile.py
Due: userdata, pylint

Allow POST for core/appliances
  tests/test_init.py
Due: userdata

Optimize
  plugwise/smile.py
Due: userdata, pylint

Tinker_dhw_mode(): pass lenght as argument
  tests/test_init.py
Due: userdata

Adapt use in test cases
  tests/test_adam.py
  tests/test_anna.py
Due: userdata

Init switch_id
  plugwise/smile.py
Due: userdata, pylint

Also adapt _set_groupswitch_member_state()
  plugwise/smile.py
Due: userdata, pylint

Update tinker_dhw_mode()
  tests/test_init.py
Due: userdata

Remove debug-logger lines
  plugwise/smile.py
Due: userdata, pylint

Update tinker_dhw_mode() functions in test
  tests/test_anna.py
  tests/test_init.py
Due: userdata

Update related test cases
  tests/test_adam.py
  tests/test_anna.py
Due: userdata

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
