Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

.pre-commit-config.yaml:

ci:
  # Defer autoupdate to quarterly (there is no 'off' button) to have renovate pick up first
  autoupdate_schedule: quarterly
  skip: [pylint, markdownlint, testing, fixtures]
  submodules: true

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.11

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.265
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests|scripts)/.+)?[^/]+\.py$
  #  Moved codespell configuration to setup.cfg as per 'all-files' issues not reading args
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.31.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.5.1
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(plugwise|tests)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/$
      - id: pylint
        name: pylint
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^plugwise/.+\.py$
      - id: testing
        name: "Local Testing - Performing Tests"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh test_and_coverage'
        language: script
        pass_filenames: false
      - id: fixtures
        name: "Fixture formatting"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh fixtures'
        language: script
        pass_filenames: false
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint

Update test_connect_anna_elga_2-related asserts
  tests/test_smile.py
Due: userdata

Save affected fixtures
  fixtures/m_anna_heatpump_cooling/all_data.json
  fixtures/m_anna_heatpump_idle/all_data.json
Due: none

Bump to v0.34.1 release-version
  CHANGELOG.md
  pyproject.toml
Due: none

Revert "Merge pull request #436 from plugwise/elga-bug"
  CHANGELOG.md
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
  fixtures/m_anna_heatpump_cooling/all_data.json
  fixtures/m_anna_heatpump_idle/all_data.json
  plugwise/helper.py
  pyproject.toml
  scripts/manual_fixtures.py
  tests/test_smile.py
Due: userdata, pylint

Collect all devices in a list
  plugwise/__init__.py
  plugwise/helper.py
Due: userdata, pylint

Add test covering the addition
  tests/test_smile.py
Due: userdata

Bump to v0.34.2a0 test-version
  pyproject.toml
Due: none

Bump to v0.34.2 release-version
  pyproject.toml
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Save remaining fixtture-deltas
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
  fixtures/m_anna_heatpump_cooling/all_data.json
  fixtures/m_anna_heatpump_idle/all_data.json
Due: none

Save updated fixtures
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
Due: none

Revert removal of catching PlugwiseError
  tests/test_smile.py
Due: userdata

Save fixtures with specific changes
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
Due: none

Fix ident
  plugwise/helper.py
Due: userdata, pylint

Improve Elga-related logic
  plugwise/helper.py
Due: userdata, pylint

Make sure to use MAX_SETPOINT temp in manual fixture
  scripts/manual_fixtures.py
Due: userdata

Update test_connect_anna_heatpump_heating-asserts
  tests/test_smile.py
Due: userdata

Fix test_connect_anna_heatpump_heating asserts
  tests/test_smile.py
Due: userdata

Revert changing setpoint_high to MAX_SETPOINT
  tests/test_smile.py
Due: userdata

Catch PlugwiseError
  tests/test_smile.py
Due: userdata

Update manual_fixtures.py
  scripts/manual_fixtures.py
Due: userdata

Revert back to using elga_status codes as means to determine cooling-on
  plugwise/helper.py
Due: userdata, pylint

Remove unused
  tests/test_smile.py
Due: userdata

test_connect_anna_loria_heating_idle - remove error-check
  tests/test_smile.py
Due: userdata

Blacked
  plugwise/helper.py
Due: userdata, pylint

Bump to v0.34.3 release-version
  CHANGELOG.md
  pyproject.toml
Due: none

Add device_list to fixtures
  tests/test_smile.py
Due: userdata

Make sure to Init device_list with []
  plugwise/__init__.py
Due: userdata, pylint

Remove empty-list-init at definition
  plugwise/helper.py
Due: userdata, pylint

Save updated fixtures
  fixtures/adam_heatpump_cooling/device_list.json
  fixtures/adam_jip/device_list.json
  fixtures/adam_multiple_devices_per_zone/device_list.json
  fixtures/adam_onoff_cooling_fake_firmware/device_list.json
  fixtures/adam_plus_anna/device_list.json
  fixtures/adam_plus_anna_copy_with_error_domain_added/device_list.json
  fixtures/adam_plus_anna_new/device_list.json
  fixtures/adam_zone_per_device/device_list.json
  fixtures/anna_elga_2/device_list.json
  fixtures/anna_elga_2_cooling/device_list.json
  fixtures/anna_elga_2_schedule_off/device_list.json
  fixtures/anna_heatpump_cooling/device_list.json
  fixtures/anna_heatpump_cooling_fake_firmware/device_list.json
  fixtures/anna_heatpump_heating/device_list.json
  fixtures/anna_loria_cooling_active/device_list.json
  fixtures/anna_loria_heating_idle/device_list.json
  fixtures/anna_v4/device_list.json
  fixtures/anna_v4_dhw/device_list.json
  fixtures/anna_v4_no_tag/device_list.json
  fixtures/anna_without_boiler_fw3/device_list.json
  fixtures/anna_without_boiler_fw4/device_list.json
  fixtures/anna_without_boiler_fw42/device_list.json
  fixtures/legacy_anna/device_list.json
  fixtures/legacy_anna_2/device_list.json
  fixtures/p1v3/device_list.json
  fixtures/p1v3_full_option/device_list.json
  fixtures/p1v3solarfake/device_list.json
  fixtures/p1v4/device_list.json
  fixtures/p1v4_442_single/device_list.json
  fixtures/p1v4_442_triple/device_list.json
  fixtures/smile_p1_v2/device_list.json
  fixtures/smile_p1_v2_2/device_list.json
  fixtures/stretch_v23/device_list.json
  fixtures/stretch_v27_no_domain/device_list.json
  fixtures/stretch_v31/device_list.json
Due: none

Update CHANGELOG
  CHANGELOG.md
  pyproject.toml
Due: none

Include device_list in manual-created fixtures
  scripts/manual_fixtures.py
Due: userdata

Update json_writer()
  scripts/manual_fixtures.py
Due: userdata

Save added fixture-files
  fixtures/m_adam_cooling/device_list.json
  fixtures/m_adam_heating/device_list.json
  fixtures/m_anna_heatpump_cooling/device_list.json
  fixtures/m_anna_heatpump_idle/device_list.json
Due: none

Add device for removal to m_adam_heating fixture
  scripts/manual_fixtures.py
Due: userdata

Save updated fixture
  fixtures/m_adam_heating/all_data.json
Due: none

Also remove devices from device_list when removing them from devices
  scripts/manual_fixtures.py
Due: userdata
