Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$

Add unhappy-zone_profile test
  tests/test_adam.py
Due: userdata

Fix time_out route
  tests/test_init.py
Due: userdata

Replace constant in legacy path
  plugwise/legacy/helper.py
Due: userdata, pylint

Save updated fixtures
  fixtures/adam_heatpump_cooling/data.json
  fixtures/adam_jip/data.json
  fixtures/adam_onoff_cooling_fake_firmware/data.json
  fixtures/adam_plus_anna_new/data.json
  fixtures/adam_plus_anna_new_regulation_off/data.json
Due: none

Start adding set-function
  plugwise/smile.py
Due: userdata, pylint

Ruff fixes
  plugwise/helper.py
  plugwise/util.py
Due: userdata, pylint

Sort
  plugwise/helper.py
Due: userdata, pylint

Save updated manual fixtures
  fixtures/m_adam_cooling/data.json
  fixtures/m_adam_heating/data.json
  fixtures/m_adam_jip/data.json
Due: none

Fix constant format
  plugwise/constants.py
Due: userdata, pylint

Correct entity_items assert
  tests/test_adam.py
Due: userdata

Revert format_measure() update, move try-except to helper.py
  plugwise/helper.py
  plugwise/util.py
Due: userdata, pylint

Let float_measure() handle string-type
  plugwise/util.py
Due: userdata, pylint

Update related adam-test-jsons
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
  tests/data/adam/adam_plus_anna_new.json
  tests/data/adam/adam_plus_anna_new_regulation_off.json
Due: none

Clean up
  plugwise/data.py
  plugwise/helper.py
Due: userdata, pylint

Update typing
  plugwise/constants.py
Due: userdata, pylint

Constant allowed zone profiles
  plugwise/constants.py
  plugwise/smile.py
Due: userdata, pylint

Add missing loc_id arg
  tests/test_init.py
Due: userdata

Add POST router routes for locations
  tests/test_init.py
Due: userdata

Add missing loc_id arg
  plugwise/smile.py
Due: userdata, pylint

Correct item_count
  plugwise/helper.py
Due: userdata, pylint

Move control_state collection
  plugwise/constants.py
Due: userdata, pylint

Amend typing
  plugwise/constants.py
Due: userdata, pylint

Set uri and call method
  plugwise/smile.py
Due: userdata, pylint

Change
  plugwise/constants.py
Due: userdata, pylint

Add tinker_zone_profile()
  tests/test_init.py
Due: userdata

Add f-string marker
  plugwise/smile.py
Due: userdata, pylint

Handle None-cases
  plugwise/helper.py
Due: userdata, pylint

Force str(control_state)
  plugwise/data.py
  plugwise/helper.py
Due: userdata, pylint

Add regulation_control items to data
  plugwise/data.py
  plugwise/helper.py
Due: userdata, pylint

Fix 2nd entity_items assert
  fixtures/adam_heatpump_cooling/data.json
  fixtures/adam_multiple_devices_per_zone/data.json
  fixtures/adam_onoff_cooling_fake_firmware/data.json
  fixtures/adam_plus_anna_new/data.json
  fixtures/adam_plus_anna_new_regulation_off/data.json
  fixtures/adam_zone_per_device/data.json
  tests/test_adam.py
Due: userdata

Update CHANGELOG
  CHANGELOG.md
Due: none

Improve CHANGELOG
  CHANGELOG.md
Due: none

Improve doc-string
  plugwise/helper.py
Due: userdata, pylint

Change constant definition for multi-use
  plugwise/constants.py
  plugwise/helper.py
Due: userdata, pylint

Add comment for _count increment
  plugwise/helper.py
Due: userdata, pylint

Fix lint issue
  CHANGELOG.md
Due: none

Bump to v1.10.0a0 test-version
  pyproject.toml
Due: none

Set to v1.10.0 release version
  pyproject.toml
Due: none
