Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Move battery-is-low detection to data.py
  plugwise/data.py
  plugwise/helper.py
Due: userdata, pylint

Add debugging
  plugwise/data.py
Due: userdata, pylint

Import LOGGER
  plugwise/data.py
Due: userdata, pylint

Fix typo
  plugwise/data.py
Due: userdata, pylint

Add guarding
  plugwise/data.py
Due: userdata, pylint

Move import re
  plugwise/data.py
  plugwise/helper.py
Due: userdata, pylint

Add walrus for msg
  plugwise/data.py
Due: userdata, pylint

Optimize when to execute self._add_or_update_notifications(()
  plugwise/data.py
Due: userdata, pylint

Avoid dictionary changed size during iteration
  plugwise/data.py
Due: userdata, pylint

Implement battery-binary_sensor updateing
  plugwise/data.py
Due: userdata, pylint

Debug
  plugwise/data.py
Due: userdata, pylint

Try
  plugwise/data.py
Due: userdata, pylint

Save updated fixtures
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
Due: none

Revert "Full test output"
  scripts/tests_and_coverage.sh
Due: none

Remove debugging, rearrange code
  plugwise/data.py
  plugwise/util.py
Due: userdata, pylint

Put lines in correct order
  plugwise/data.py
Due: userdata, pylint

Update/correct test-json files
  tests/data/adam/adam_plus_anna_new.json
  tests/data/adam/adam_plus_anna_new_UPDATED_DATA.json
Due: none

Remove unneeded lines
  plugwise/util.py
Due: userdata, pylint

Revert break-out of update_battery_binary_sensors() function
  plugwise/data.py
  plugwise/util.py
Due: userdata, pylint

Add battery to related classes in const.py
  plugwise/constants.py
Due: userdata, pylint

Unwrap, try fixing mypy errors
  plugwise/data.py
Due: userdata, pylint

Rearrange adam test-cases
  tests/test_adam.py
Due: userdata

Avoid double naming
  plugwise/constants.py
  plugwise/data.py
  plugwise/util.py
  tests/data/adam/adam_plus_anna_new.json
  tests/data/adam/adam_plus_anna_new_UPDATED_DATA.json
Due: userdata, pylint

Save updated fixtures
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_zone_per_device/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
  fixtures/m_adam_jip/all_data.json
  fixtures/m_adam_multiple_devices_per_zone/all_data.json
Due: none

Improve code
  plugwise/data.py
Due: userdata, pylint

Fix 3 CodeSmells
  plugwise/data.py
Due: userdata, pylint

Fix function-call also
  plugwise/data.py
Due: userdata, pylint

Implement as suggested
  plugwise/data.py
Due: userdata, pylint

Add walrus as suggested
  plugwise/data.py
Due: userdata, pylint

Update regex pattern
  plugwise/data.py
Due: userdata, pylint

Change battery_state to true when the percentage is less than 15(%)
  plugwise/data.py
  tests/data/adam/adam_plus_anna_new.json
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: userdata, pylint

Implement coderabbitai suggestions
  plugwise/data.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Add different battery-level limits for different device-types
  plugwise/data.py
Due: userdata, pylint

Bump to v1.1.0a0 test-version
  pyproject.toml
Due: none

Change battery_state to low_battery
  plugwise/constants.py
  plugwise/data.py
  plugwise/util.py
  tests/data/adam/adam_plus_anna_new.json
  tests/data/adam/adam_plus_anna_new_UPDATED_DATA.json
Due: userdata, pylint

Bump to v1.1.0 release-version
  pyproject.toml
Due: none

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
