Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

.pre-commit-config.yaml:

ci:
  # Defer autoupdate to quarterly (there is no 'off' button) to have renovate pick up first
  autoupdate_schedule: quarterly
  skip: [pylint, markdownlint, testing, fixtures]
  submodules: true

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.11

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.265
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests|scripts)/.+)?[^/]+\.py$
  #  Moved codespell configuration to setup.cfg as per 'all-files' issues not reading args
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.31.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.5.1
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(plugwise|tests)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/$
      - id: pylint
        name: pylint
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^plugwise/.+\.py$
      - id: testing
        name: "Local Testing - Performing Tests"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh test_and_coverage'
        language: script
        pass_filenames: false
      - id: fixtures
        name: "Fixture formatting"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh fixtures'
        language: script
        pass_filenames: false
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint

Disable
  tests/test_init.py
Due: userdata

Remove device_list
  plugwise/data_legacy.py
Due: userdata, pylint

Fix lower/upper_bound for Anna
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: none

Fix
  plugwise/legacy/smile.py
Due: userdata, pylint

Move all specific API-functions for actual devices to smile_actual.py
  plugwise/smile_actual.py
Due: userdata, pylint

Clean up 6
  tests/test_init.py
Due: userdata

Fix 2
  plugwise/smile.py
Due: userdata, pylint

P1 legacy tests: fix smile -> self
  tests/test_legacy_p1.py
Due: userdata

Add _get_plugwise_notifications() to legacy-helper.py
  plugwise/legacy/helper.py
Due: userdata, pylint

Add walrus as suggested
  plugwise/legacy/helper.py
Due: userdata, pylint

Re-add legacy-related code - keep function common
  plugwise/helper.py
Due: userdata, pylint

Fix 15
  tests/data/anna/anna_v4.json
Due: none

fixup: split_legacy Python code fixed using ruff
  plugwise/__init__.py
Due: userdata, pylint

Add self._gateway_id init and use
  plugwise/smile.py
Due: userdata, pylint

Add legacy-dir, move/add files, rename
  plugwise/legacy/data.py
  plugwise/legacy/helper.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Improve test-code
  tests/test_init.py
Due: userdata

Update userdata 12
  userdata/p1v4_442_triple/core.domain_objects.xml
Due: none

Add SmileLegacy class in smile_legacy.py
  plugwise/smile_legacy.py
Due: userdata, pylint

Change to smile_legacy
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Revert back to LOCATIONS
  tests/test_init.py
Due: userdata

Add get_all_devices() to Smile class
  plugwise/__init__.py
Due: userdata, pylint

Remove double init
  plugwise/helper.py
Due: userdata, pylint

Anna_loria_cooling_active fixes
  tests/data/anna/anna_loria_cooling_active.json
  tests/test_anna.py
Due: userdata

Clean up 5
  tests/test_init.py
Due: userdata

Fix 2
  tests/test_legacy_stretch.py
Due: userdata

Fix 20
  tests/data/anna/anna_v4_dhw.json
Due: none

try-except set_temperature_offset()
  plugwise/__init__.py
Due: userdata, pylint

Also init self.cooling_enabled, correct name
  tests/test_adam.py
  tests/test_anna.py
  tests/test_init.py
Due: userdata

Disable assert with comment
  tests/test_adam.py
Due: userdata

Fix typo's
  plugwise/smile_actual.py
Due: userdata, pylint

Remove device_list creation
  plugwise/legacy/data.py
Due: userdata, pylint

Extend comment
  plugwise/helper.py
Due: userdata, pylint

Fix 2
  plugwise/__init__.py
Due: userdata, pylint

Move the common _get_plugwise_notifications() to helper.py
  plugwise/helper.py
  plugwise/smile_actual.py
  plugwise/smile_legacy.py
Due: userdata, pylint

Clear domain_objects like appliances
  userdata/adam_onoff_cooling_fake_firmware/core.domain_objects.xml
Due: none

Try
  plugwise/__init__.py
  plugwise/smile_actual.py
Due: userdata, pylint

Add Aqara Smart Plug appliance to domain_objects
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: none

Tinker_switch_states(0: new_states are str
  fixtures/adam_zone_per_device/all_data.json
  tests/test_init.py
Due: userdata

Ruff fixes
  plugwise/legacy/helper.py
Due: userdata, pylint

Fix
  plugwise/__init__.py
Due: userdata, pylint
