Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$

Guard finding wifi_mac_address
  plugwise/__init__.py
Due: userdata, pylint

Add wifi_mac_address to fixtures
  plugwise/common.py
Due: userdata, pylint

Save updated test-jsons
  tests/data/adam/adam_bad_thermostat.json
  tests/data/adam/adam_plus_anna_new.json
  tests/data/adam/adam_plus_anna_new_regulation_off.json
  tests/data/anna/anna_elga_2.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_without_boiler_fw441.json
Due: none

Collect gateway wifi-MAC
  plugwise/__init__.py
Due: userdata, pylint

Save updated test-json
  tests/data/anna/anna_p1.json
  tests/data/p1/p1v4_442_single.json
  tests/data/p1/p1v4_442_triple.json
Due: none

Add wifi_mac_address to gateway data
  plugwise/helper.py
Due: userdata, pylint

Add missing appl.wifi_mac_address definitions
  plugwise/helper.py
  plugwise/legacy/helper.py
Due: userdata, pylint

Save updated test-fixtures
  fixtures/adam_bad_thermostat/data.json
  fixtures/adam_plus_anna_new/data.json
  fixtures/adam_plus_anna_new_regulation_off/data.json
  fixtures/anna_elga_2/data.json
  fixtures/anna_loria_driessens/data.json
  fixtures/anna_p1/data.json
  fixtures/anna_without_boiler_fw441/data.json
  fixtures/m_adam_cooling/data.json
  fixtures/m_adam_heating/data.json
  fixtures/m_adam_heating_off_schedule/data.json
  fixtures/p1v4_442_single/data.json
  fixtures/p1v4_442_triple/data.json
Due: none

P1: set wifi_mac_address on gateway only
  plugwise/helper.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Clean up
  Original/test_adam.py
  Original/test_anna.py
  Original/test_p1.py
Due: userdata

Update entity_items assert
  tests/test_adam.py
  tests/test_anna.py
  tests/test_p1.py
Due: userdata

Save updated test-files
  Q&Dtesting/test_adam.py
  Q&Dtesting/test_anna.py
  Q&Dtesting/test_p1.py
Due: userdata

Save modified and original test-files for quick fixture updating
  Original/test_adam.py
  Original/test_anna.py
  Original/test_p1.py
  Q&Dtesting/test_adam.py
  Q&Dtesting/test_anna.py
  Q&Dtesting/test_p1.py
Due: userdata

Add missing wifi_mac_address to classes as suggested
  plugwise/constants.py
Due: userdata, pylint

Solve _collect_smile_data() too high complexity
  plugwise/__init__.py
Due: userdata, pylint

Update valve_position to int
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_multiple_devices_per_zone.json
  tests/data/adam/adam_plus_anna_new.json
  tests/data/adam/adam_zone_per_device.json
Due: none

Ruffed, save updated fixtures
  fixtures/adam_bad_thermostat/data.json
  fixtures/adam_heatpump_cooling/data.json
  fixtures/adam_jip/data.json
  fixtures/adam_multiple_devices_per_zone/data.json
  fixtures/adam_onoff_cooling_fake_firmware/data.json
  fixtures/adam_plus_anna_new/data.json
  fixtures/adam_zone_per_device/data.json
  fixtures/anna_elga_2_cooling/data.json
  fixtures/anna_elga_2_schedule_off/data.json
  fixtures/anna_loria_driessens/data.json
  fixtures/anna_loria_heating_idle/data.json
  fixtures/anna_p1/data.json
  fixtures/anna_v4/data.json
  fixtures/anna_v4_dhw/data.json
  fixtures/anna_v4_no_tag/data.json
  fixtures/legacy_anna/data.json
  fixtures/legacy_anna_2/data.json
  fixtures/m_adam_cooling/data.json
  fixtures/m_adam_heating/data.json
  fixtures/m_adam_heating_off_schedule/data.json
  fixtures/m_adam_jip/data.json
  fixtures/m_adam_multiple_devices_per_zone/data.json
  plugwise/util.py
Due: userdata, pylint

Also return 0 as int
  plugwise/util.py
Due: userdata, pylint

Valve percentage has now a range on 0-100
  plugwise/util.py
Due: userdata, pylint

Don't multiply 0 times 100
  plugwise/util.py
Due: userdata, pylint

Set to v1.14.7 release-version
  CHANGELOG.md
  pyproject.toml
Due: none

Declare packaging as a dependency
  CHANGELOG.md
  pyproject.toml
Due: none
