Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: Validating userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: Running MyPy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: PyLinting
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Update anna_p1 entity_items assert
  tests/test_anna.py
Due: userdata

_get_module_data(): add key argument
  plugwise/common.py
  plugwise/helper.py
  plugwise/legacy/helper.py
Due: userdata, pylint

Don't replace gateway entity id for anna_p1
  plugwise/helper.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Remove us of thermostat_power type
  plugwise/__init__.py
Due: userdata, pylint

Fix date typo
  tests/test_anna.py
Due: userdata

_smile_detect(): lower complexity
  plugwise/__init__.py
Due: userdata, pylint

Add pragma-no-cover
  plugwise/__init__.py
Due: userdata, pylint

Less complex
  plugwise/helper.py
Due: userdata, pylint

CRAI nitpicks
  plugwise/helper.py
Due: userdata, pylint

Bump to v1.9.0a0 for testing
  pyproject.toml
Due: none

Set to v1.9.0 release version
  pyproject.toml
Due: none

Update check_name() docstring
  plugwise/common.py
Due: userdata, pylint

Update README
  README.md
Due: none

Full test-output
  scripts/tests_and_coverage.sh
Due: none

Line up adam test-jsons with adam fixtures
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_multiple_devices_per_zone.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
  tests/data/adam/adam_plus_anna.json
  tests/data/adam/adam_plus_anna_new.json
  tests/data/adam/adam_plus_anna_new_UPDATED_DATA.json
  tests/data/adam/adam_plus_anna_new_regulation_off.json
  tests/data/adam/adam_zone_per_device.json
  tests/test_init.py
Due: userdata

Fix test_init.py
  tests/test_init.py
Due: userdata

Line up other fixtures
  fixtures/p1v4_442_single/data (copy).json
  tests/data/anna/anna_elga_2.json
  tests/data/anna/anna_elga_2_cooling.json
  tests/data/anna/anna_elga_2_cooling_UPDATED_DATA.json
  tests/data/anna/anna_elga_2_schedule_off.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_cooling.json
  tests/data/anna/anna_heatpump_cooling_fake_firmware.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_heatpump_heating_UPDATED_DATA.json
  tests/data/anna/anna_loria_cooling_active.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_loria_heating_idle.json
  tests/data/anna/anna_p1.json
  tests/data/anna/anna_v4.json
  tests/data/anna/anna_v4_UPDATED_DATA.json
  tests/data/anna/anna_v4_dhw.json
  tests/data/anna/anna_v4_no_modules.json
  tests/data/anna/anna_v4_no_tag.json
  tests/data/anna/anna_without_boiler_fw441.json
  tests/data/anna/legacy_anna.json
  tests/data/anna/legacy_anna_2.json
  tests/data/p1/p1v4.json.old
  tests/data/p1/p1v4_442_single_UPDATED_DATA.json
  tests/data/p1/p1v4_442_triple.json
  tests/data/p1/smile_p1_v2.json
  tests/data/p1/smile_p1_v2_2.json
  tests/data/p1/smile_p1_v2_2_UPDATED_DATA.json
  tests/data/stretch/stretch_v23.json
  tests/data/stretch/stretch_v27_no_domain.json
  tests/data/stretch/stretch_v31.json
  tests/data/stretch/stretch_v31_UPDATED_DATA.json
Due: none

Clean up
  tests/data/p1/p1v4.json.old
Due: none

Correct legacy_anna test-json
  tests/data/anna/legacy_anna.json
Due: none

Compare internal test-items to code entity_items
  tests/test_adam.py
  tests/test_init.py
Due: userdata

Fix/guard/add count
  plugwise/data.py
Due: userdata, pylint

Correct entity_items to 519
  tests/test_adam.py
Due: userdata

Clean up
  fixtures/p1v4_442_single/data (copy).json
Due: none

Debug
  plugwise/data.py
Due: userdata, pylint

Correct 2nd entity_items assert
  tests/test_adam.py
Due: userdata

Clean up 2
  plugwise/data.py
Due: userdata, pylint

Reorder code, improve comment
  plugwise/data.py
Due: userdata, pylint

fixup: test_main Python code fixed using ruff
  plugwise/data.py
Due: userdata, pylint

Back to normal test-output
  scripts/tests_and_coverage.sh
Due: none

Add regulation_control to collect
  plugwise/constants.py
Due: userdata, pylint

Save fixture updates
  fixtures/adam_heatpump_cooling/data.json
  fixtures/adam_multiple_devices_per_zone/data.json
  fixtures/adam_onoff_cooling_fake_firmware/data.json
  fixtures/adam_plus_anna_new/data.json
  fixtures/adam_plus_anna_new_regulation_off/data.json
  fixtures/adam_zone_per_device/data.json
Due: none

Correct entity_items asserts
  tests/test_adam.py
Due: userdata

Fix entity_items assert
  tests/test_adam.py
Due: userdata

Fix missing test-updates after rebase
  tests/test_adam.py
Due: userdata

Improve datakey names
  plugwise/helper.py
Due: userdata, pylint

Adapt _control_state()
  plugwise/helper.py
Due: userdata, pylint

Add zone_profile tests
  tests/test_adam.py
Due: userdata

Rename constant for widened scope
  plugwise/constants.py
  plugwise/helper.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
