Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

.pre-commit-config.yaml:

ci:
  # Defer autoupdate to quarterly (there is no 'off' button) to have renovate pick up first
  autoupdate_schedule: quarterly
  skip: [pylint, markdownlint, testing, fixtures]
  submodules: true

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.11

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.265
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests|scripts)/.+)?[^/]+\.py$
  #  Moved codespell configuration to setup.cfg as per 'all-files' issues not reading args
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.31.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.5.1
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(plugwise|tests)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/$
      - id: pylint
        name: pylint
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^plugwise/.+\.py$
      - id: testing
        name: "Local Testing - Performing Tests"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh test_and_coverage'
        language: script
        pass_filenames: false
      - id: fixtures
        name: "Fixture formatting"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh fixtures'
        language: script
        pass_filenames: false
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint

Implement heater_cental filtering for legacy
  plugwise/legacy/helper.py
  plugwise/util.py
Due: userdata, pylint

Save updated fixtures
  fixtures/adam_g_o/all_data.json
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_plus_anna/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_zone_per_device/all_data.json
Due: none

Add/update comments
  plugwise/helper.py
  plugwise/legacy/helper.py
  plugwise/util.py
Due: userdata, pylint

Fix test too
  tests/test_init.py
Due: userdata

Revert removal of input typing
  plugwise/__init__.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Fix
  plugwise/smile.py
Due: userdata, pylint

Fix
  plugwise/util.py
Due: userdata, pylint

Add files
  fixtures/adam_g_o/all_data.json
  tests/data/adam/adam_g_o.json
Due: none

Bump to a1
  pyproject.toml
Due: none

Update stretch23.json
  tests/data/stretch/stretch_v23.json
Due: none

Timeout is always provided from the frontend
  plugwise/__init__.py
Due: userdata, pylint

Bump to v1.4.2 release-version
  pyproject.toml
Due: none

Initial timeout cleaning
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Pass _request() as an argument
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Add typing
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Bump to v1.4.3a0 test-version
  pyproject.toml
Due: none

Implement typing-suggestions
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Bump to v1.4.3 release-version
  pyproject.toml
Due: none

Final timeout cleanup
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Let connect() return smile_version
  plugwise/__init__.py
Due: userdata, pylint

Update related test-code
  tests/test_init.py
Due: userdata

Type as str | None
  plugwise/__init__.py
  tests/test_init.py
Due: userdata, pylint

Bump to v1.4.4a0 test-version
  pyproject.toml
Due: none

Also test negative
  tests/test_init.py
Due: userdata

Import from packaging and implement
  plugwise/__init__.py
Due: userdata, pylint

Adapt testing
  tests/test_init.py
Due: userdata

Translate back to str
  plugwise/helper.py
  plugwise/legacy/helper.py
Due: userdata, pylint

Fix
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
  tests/test_init.py
Due: userdata, pylint

Bump to v1.4.4 release-version
  pyproject.toml
Due: none
