Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$

Set to v1.14.0 release-version
  pyproject.toml
Due: none

Release-version v1.14.1
  pyproject.toml
Due: none

Update set-function in __init__.py
  plugwise/__init__.py
Due: userdata, pylint

Increase test coverage for set_schedule_state()
  tests/test_adam.py
Due: userdata

Adapt set_dhw_mode() call
  tests/test_init.py
Due: userdata

Save Copilot fix
  plugwise/smile.py
Due: userdata, pylint

Adapt set_select() in __init__.py
  plugwise/__init__.py
Due: userdata, pylint

Legacy set_select: handle unused key argument
  plugwise/legacy/smile.py
Due: userdata, pylint

Save updated fixtures
  fixtures/m_adam_cooling/data.json
  fixtures/m_anna_heatpump_cooling/data.json
  fixtures/m_anna_heatpump_idle/data.json
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Ruffed
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Also optimize the legacy set-functions
  plugwise/legacy/smile.py
Due: userdata, pylint

Fix test set_select() call
  tests/test_init.py
Due: userdata

Optimize set_dhw_mode(), set_select(), set_schedule_state() functions
  plugwise/smile.py
Due: userdata, pylint

Widen name scope options
  plugwise/smile.py
Due: userdata, pylint

Correct m_anna_heatpump_cooling fixture
  scripts/manual_fixtures.py
Due: userdata

Adapt test-set_schedule_state() call
  tests/test_adam.py
Due: userdata

Try different approach for state
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Implement nitpick suggestion
  plugwise/smile.py
Due: userdata, pylint

Correct m_adam_heating water_temperature
  scripts/manual_fixtures.py
Due: userdata

Set version to v1.14.1
  CHANGELOG.md
  pyproject.toml
Due: none

Rework select_schedule to default off when no schedule active
  plugwise/data.py
  plugwise/helper.py
Due: userdata, pylint

Rework json-file to match the code update
  tests/data/adam/adam_bad_thermostat.json
  tests/data/adam/adam_jip.json
  tests/data/anna/legacy_anna.json
Due: none

Update available_schedules order: off to first position
  tests/data/adam/adam_bad_thermostat.json
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_multiple_devices_per_zone.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
  tests/data/adam/adam_plus_anna.json
  tests/data/adam/adam_plus_anna_new.json
  tests/data/adam/adam_plus_anna_new_UPDATED_DATA.json
  tests/data/adam/adam_plus_anna_new_regulation_off.json
  tests/data/adam/adam_zone_per_device.json
  tests/data/anna/anna_elga_2.json
  tests/data/anna/anna_elga_2_cooling.json
  tests/data/anna/anna_elga_2_cooling_UPDATED_DATA.json
  tests/data/anna/anna_elga_2_schedule_off.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_cooling.json
  tests/data/anna/anna_heatpump_cooling_fake_firmware.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_heatpump_heating_UPDATED_DATA.json
  tests/data/anna/anna_loria_cooling_active.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_loria_heating_idle.json
  tests/data/anna/anna_p1.json
  tests/data/anna/anna_v4.json
  tests/data/anna/anna_v4_UPDATED_DATA.json
  tests/data/anna/anna_v4_dhw.json
  tests/data/anna/anna_v4_no_tag.json
  tests/data/anna/anna_without_boiler_fw441.json
  tests/data/anna/legacy_anna.json
  tests/data/anna/legacy_anna_2.json
  tests/data/stretch/stretch_v23.json
Due: none

Save updated fixtures
  fixtures/adam_bad_thermostat/data.json
  fixtures/adam_heatpump_cooling/data.json
  fixtures/adam_jip/data.json
  fixtures/adam_multiple_devices_per_zone/data.json
  fixtures/adam_onoff_cooling_fake_firmware/data.json
  fixtures/adam_plus_anna/data.json
  fixtures/adam_plus_anna_new/data.json
  fixtures/adam_plus_anna_new_regulation_off/data.json
  fixtures/adam_zone_per_device/data.json
  fixtures/anna_elga_2/data.json
  fixtures/anna_elga_2_cooling/data.json
  fixtures/anna_elga_2_schedule_off/data.json
  fixtures/anna_elga_no_cooling/data.json
  fixtures/anna_heatpump_cooling/data.json
  fixtures/anna_heatpump_cooling_fake_firmware/data.json
  fixtures/anna_heatpump_heating/data.json
  fixtures/anna_loria_cooling_active/data.json
  fixtures/anna_loria_driessens/data.json
  fixtures/anna_loria_heating_idle/data.json
  fixtures/anna_p1/data.json
  fixtures/anna_v4/data.json
  fixtures/anna_v4_dhw/data.json
  fixtures/anna_v4_no_tag/data.json
  fixtures/anna_without_boiler_fw441/data.json
Due: none

Same rework for legacy
  plugwise/legacy/data.py
  plugwise/legacy/helper.py
Due: userdata, pylint

Save update legacy device fixtures
  fixtures/legacy_anna/data.json
  fixtures/legacy_anna_2/data.json
Due: none

Cleanup
  plugwise/data.py
Due: userdata, pylint

Save updated manual fixtures
  fixtures/m_adam_cooling/data.json
  fixtures/m_adam_heating/data.json
  fixtures/m_adam_heating_off_schedule/data.json
  fixtures/m_adam_jip/data.json
  fixtures/m_adam_multiple_devices_per_zone/data.json
  fixtures/m_anna_heatpump_cooling/data.json
  fixtures/m_anna_heatpump_idle/data.json
Due: none

Use common typing definitions
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Allow release from mypy-fix branch
  .github/workflows/merge.yml
Due: none

Set to v1.14.2 release-version
  pyproject.toml
Due: none

Clean up
  Original/test_adam.py
  Original/test_anna.py
  Original/test_p1.py
Due: userdata

Save updated test-files
  Q&Dtesting/test_adam.py
  Q&Dtesting/test_anna.py
  Q&Dtesting/test_p1.py
Due: userdata

Save modified and original test-files for quick fixture updating
  Original/test_adam.py
  Original/test_anna.py
  Original/test_p1.py
  Q&Dtesting/test_adam.py
  Q&Dtesting/test_anna.py
  Q&Dtesting/test_p1.py
Due: userdata

Update entity_items assert
  tests/test_adam.py
  tests/test_anna.py
  tests/test_p1.py
Due: userdata
