Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

.pre-commit-config.yaml:

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.13

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      - id: ruff
        name: "Ruff check"
        args:
          - --fix
      - id: ruff-format
        name: "Ruff format"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
        name: "Check scripts"
        stages: [manual]
      - id: no-commit-to-branch
        name: "Check branch"
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        name: "Check Py upgrade"
        args: [--py311-plus]
  #  Moved codespell configuration to setup.cfg as per 'all-files' issues not reading args
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: "Check spelling"
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
      - id: bandit
        name: "Bandit checking"
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        name: "YAML linting"
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.7.2
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        name: "Python typing"
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(plugwise|tests)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: setup
        name: "Setup"
        entry: /usr/bin/env bash -c 'test -d ./venv || scripts/setup.sh'
        language: script
      - id: setup_test
        name: "Setup (extended for testing"
        entry: /usr/bin/env bash -c 'test -f ./tmp/biome || scripts/setup_test.sh pre-commit'
        language: script
      - id: userdata
        name: "Validating userdata"
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: "Running MyPy"
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/$
      - id: pylint
        name: "PyLinting"
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^plugwise/.+\.py$
      - id: testing
        name: "Performing Tests"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" NO_FIXTURES="1" scripts/tests_and_coverage.sh test_and_coverage'
        language: script
        pass_filenames: false
      - id: biome
        name: "Biome (prettier)"
        entry: ./tmp/biome check fixtures/ plugwise/ tests/ --files-ignore-unknown=true --no-errors-on-unmatched --json-formatter-indent-width=2 --json-formatter-indent-style=space
        language: script
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint

Doc-string updates
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

fixup: relay-sw-improve Python code fixed using ruff
  plugwise/__init__.py
Due: userdata, pylint

Test: clear no longer expected exception
  tests/test_init.py
Due: userdata

Bump to a3
  pyproject.toml
Due: none

Implement improvements as suggested
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Ruff fix
  tests/test_adam.py
Due: userdata

Bump to v1.7.6a0 test-version
  pyproject.toml
Due: none

Improve docstrings
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

fixup: relay-sw-improve Python code fixed using ruff
  plugwise/smile.py
Due: userdata, pylint

Move preset input-checking to __init__.py, use constants
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Bump to a2
  pyproject.toml
Due: none

Add input-check as suggested
  plugwise/__init__.py
  plugwise/constants.py
Due: userdata, pylint

Mypy fix
  plugwise/smile.py
Due: userdata, pylint

Debug
  plugwise/smile.py
Due: userdata, pylint

Revert move preset input-checking
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Save updates
  fixtures/adam_multiple_devices_per_zone/data.json
  fixtures/m_adam_multiple_devices_per_zone/data.json
  plugwise/smile.py
  tests/data/adam/adam_multiple_devices_per_zone.json
Due: userdata, pylint

Improve test
  tests/test_init.py
Due: userdata

Ruff fixes
  plugwise/smile.py
  tests/test_adam.py
Due: userdata, pylint

Add testcase covering switching of lock
  tests/test_adam.py
Due: userdata

Add missing constant imports
  plugwise/__init__.py
Due: userdata, pylint

Adapt tinker_switch() test function
  tests/test_init.py
Due: userdata

Improve group-switch logic for Adam
  plugwise/smile.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump to v1.7.6 release-version
  pyproject.toml
Due: none

Use #issue
  CHANGELOG.md
Due: none

Handle Loria WP without cooling capabilities
  plugwise/__init__.py
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, pylint

Add new userdata
  userdata/anna_loria_2/@senselessvince
  userdata/anna_loria_2/core.domain_objects.xml
Due: none

Revert change
  plugwise/helper.py
Due: userdata, pylint

Implement async aiofiles.open()
  pyproject.toml
  tests/test_adam.py
  tests/test_anna.py
  tests/test_init.py
  tests/test_legacy_anna.py
  tests/test_legacy_p1.py
  tests/test_legacy_stretch.py
  tests/test_p1.py
Due: userdata

Remove unneeded async function designation
  tests/test_init.py
Due: userdata

Ruff fix
  tests/test_init.py
Due: userdata

Remove unneeded list(dict()) constructs
  plugwise/data.py
  plugwise/helper.py
Due: userdata, pylint

Use dict.copy() instead of list(dict)
  plugwise/data.py
Due: userdata, pylint

Combine if's
  plugwise/data.py
Due: userdata, pylint

Change boolean name to timeout_happened
  tests/test_init.py
Due: userdata

fixup: sc-fixes-2 Python code fixed using ruff
  tests/test_init.py
Due: userdata

Fix missed
  tests/test_init.py
Due: userdata

Test: combine connect-functions
  tests/test_init.py
Due: userdata

Define smile-Munch
  plugwise/__init__.py
  plugwise/common.py
  plugwise/helper.py
  plugwise/legacy/helper.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint
