Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Bump version to v0.37.2
  pyproject.toml
Due: none

Bump (back) to v4 for checkout, adding in #530 and #540
  .github/workflows/codeql-analysis.yml
  .github/workflows/merge.yml
  .github/workflows/verify.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/python-venv.sh
Due: none

Fix legacy set_temperature()
  plugwise/legacy/smile.py
Due: userdata, pylint

Fix tinker_legacy_thermostat_temp()
  tests/test_init.py
Due: userdata

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump to v0.37.3a0 test-version
  pyproject.toml
Due: none

Simplify tinker_thermostat-testing
  tests/test_init.py
Due: userdata

Bump to v0.37.3 release-version
  pyproject.toml
Due: none

Update constant as well
  plugwise/constants.py
Due: userdata, pylint

Bump to v0.38.0a0 test-version
  pyproject.toml
Due: none

Change to collecting new devices
  plugwise/smile.py
Due: userdata, pylint

Add code for detecting a config-change
  plugwise/constants.py
  plugwise/smile.py
  scripts/tests_and_coverage.sh
  tests/data/adam/adam_plus_anna_new_UPDATED_DATA.json
  tests/test_adam.py
  tests/test_init.py
  userdata/updated/adam_plus_anna_new/core.domain_objects.xml
Due: userdata, pylint

Update related test-assert
  tests/test_adam.py
Due: userdata

Bump to a1
  pyproject.toml
Due: none

Bump to a2
  pyproject.toml
Due: none

Change to detection of new devices, adapt tests
  plugwise/smile.py
  tests/test_adam.py
  tests/test_init.py
Due: userdata, pylint

Revert back to short test-output
  scripts/tests_and_coverage.sh
Due: none

Also collect removed devices
  plugwise/smile.py
Due: userdata, pylint

Shorten added gw_data keys, add to constants
  plugwise/constants.py
  plugwise/smile.py
Due: userdata, pylint

Update related test-code
  tests/test_adam.py
  tests/test_init.py
Due: userdata

Bump to a3
  pyproject.toml
Due: none

Not needed to output new devices.
  plugwise/smile.py
Due: userdata, pylint

Correct error in manual fixture creation
  scripts/manual_fixtures.py
Due: userdata

Save updated fixtures
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
Due: none

Integrate set_temp_offset() in set_number_setpoint()
  plugwise/smile.py
Due: userdata, pylint

Adapt relevant testcases
  tests/test_init.py
Due: userdata

Fix
  tests/test_init.py
Due: userdata

Fix at higher level
  plugwise/__init__.py
  plugwise/smile.py
Due: userdata, pylint

Fix 2
  plugwise/smile.py
Due: userdata, pylint

Update ruff syntax
  .github/workflows/verify.yml
Due: none

Update also in script
  scripts/tests_and_coverage.sh
Due: none

Clean-up
  plugwise/__init__.py
Due: userdata, pylint

Shorten function-names, clean-up
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
  tests/test_init.py
Due: userdata, pylint

Correct description
  plugwise/smile.py
Due: userdata, pylint

Fix mypy error
  plugwise/legacy/smile.py
Due: userdata, pylint

Update for release to v0.37.4
  CHANGELOG.md
  pyproject.toml
Due: none

Correct set_number() function
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Adapt relevant tests
  tests/test_init.py
Due: userdata

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
