Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

.pre-commit-config.yaml:

ci:
  # Defer autoupdate to quarterly (there is no 'off' button) to have renovate pick up first
  autoupdate_schedule: quarterly
  skip: [pylint, markdownlint, testing, fixtures]
  submodules: true

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.11

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.265
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests|scripts)/.+)?[^/]+\.py$
  #  Moved codespell configuration to setup.cfg as per 'all-files' issues not reading args
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.31.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.5.1
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(plugwise|tests)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/$
      - id: pylint
        name: pylint
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^plugwise/.+\.py$
      - id: testing
        name: "Local Testing - Performing Tests"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh test_and_coverage'
        language: script
        pass_filenames: false
      - id: fixtures
        name: "Fixture formatting"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh fixtures'
        language: script
        pass_filenames: false
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint

Bump to a3
  pyproject.toml
Due: none

Remove extra logging
  plugwise/__init__.py
Due: userdata, pylint

Set to v0.33.0 release-version
  pyproject.toml
Due: none

Correct to select_regulation_mode
  scripts/manual_fixtures.py
Due: userdata

Update CHANGELOG
  CHANGELOG.md
Due: none

Remove use of control_state, no longer present on Adam
  plugwise/__init__.py
  plugwise/helper.py
Due: userdata, pylint

Remove from testing
  tests/test_smile.py
Due: userdata

One more device_items correction
  tests/test_smile.py
Due: userdata

Save updated fixtures
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
Due: none

Bump version to v0.33.1
  pyproject.toml
Due: none

Correct spelling
  CHANGELOG.md
Due: none

Save updated fixtures
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
  fixtures/adam_plus_anna/all_data.json
  fixtures/adam_plus_anna_copy_with_error_domain_added/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_zone_per_device/all_data.json
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_cooling/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_heatpump_cooling/all_data.json
  fixtures/anna_heatpump_cooling_fake_firmware/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
  fixtures/anna_loria_cooling_active/all_data.json
  fixtures/anna_loria_heating_idle/all_data.json
  fixtures/anna_v4/all_data.json
  fixtures/anna_v4_dhw/all_data.json
  fixtures/anna_v4_no_tag/all_data.json
  fixtures/anna_without_boiler_fw3/all_data.json
  fixtures/anna_without_boiler_fw4/all_data.json
  fixtures/anna_without_boiler_fw42/all_data.json
  fixtures/legacy_anna/all_data.json
  fixtures/legacy_anna_2/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
  fixtures/m_anna_heatpump_cooling/all_data.json
  fixtures/m_anna_heatpump_idle/all_data.json
  fixtures/p1v3/all_data.json
  fixtures/p1v3_full_option/all_data.json
  fixtures/p1v3solarfake/all_data.json
  fixtures/p1v4/all_data.json
  fixtures/p1v4_442_single/all_data.json
  fixtures/p1v4_442_triple/all_data.json
  fixtures/smile_p1_v2/all_data.json
  fixtures/smile_p1_v2_2/all_data.json
  fixtures/stretch_v23/all_data.json
  fixtures/stretch_v27_no_domain/all_data.json
  fixtures/stretch_v31/all_data.json
Due: none

Bump to v0.33.2a0 test-version
  pyproject.toml
Due: none

Add daily_update boolean to gw_data
  plugwise/__init__.py
  plugwise/constants.py
Due: userdata, pylint

Remove energy-diff counting and logging
  plugwise/helper.py
Due: userdata, pylint

Remove some debug-logging
  plugwise/helper.py
Due: userdata, pylint

Improve counting of heating_.cooling_state
  plugwise/__init__.py
  plugwise/helper.py
Due: userdata, pylint

Fix ident
  plugwise/helper.py
Due: userdata, pylint

Debug
  plugwise/__init__.py
Due: userdata, pylint

Add various more counting lines
  plugwise/helper.py
Due: userdata, pylint

Update power_data_energy_diff() and move under class
  plugwise/helper.py
Due: userdata, pylint

More debug
  plugwise/helper.py
Due: userdata, pylint

Init self_count to 0 at every start of data-collection
  plugwise/helper.py
Due: userdata, pylint

Remove another debug
  plugwise/helper.py
Due: userdata, pylint

Try using len()
  plugwise/helper.py
Due: userdata, pylint

Full test-output
  plugwise/helper.py
  scripts/tests_and_coverage.sh
Due: userdata, pylint

Remove some debugging
  plugwise/helper.py
Due: userdata, pylint

Starting a different approach
  plugwise/helper.py
Due: userdata, pylint

Add counting in _create_legacy_gateway()
  plugwise/helper.py
Due: userdata, pylint

Count heating_state based on valves
  plugwise/__init__.py
Due: userdata, pylint

Ruff-fix
  plugwise/helper.py
Due: userdata, pylint

Fix
  plugwise/__init__.py
Due: userdata, pylint

Remove wrong count-line
  plugwise/helper.py
Due: userdata, pylint

Should be len(direct_data["sensors]}
  plugwise/helper.py
Due: userdata, pylint

Add more debugging
  plugwise/helper.py
Due: userdata, pylint

Clean up
  plugwise/__init__.py
Due: userdata, pylint

Call via self
  plugwise/helper.py
Due: userdata, pylint
