Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Re-add work-around for Stretch fw 2.7.18
  plugwise/__init__.py
Due: userdata, pylint

Add error-message
  plugwise/__init__.py
Due: userdata, pylint

Update tinker_legacy_thermostat_schedule()
  tests/test_init.py
Due: userdata

Try 5
  plugwise/__init__.py
Due: userdata, pylint

Fix 25
  tests/data/anna/anna_loria_driessens.json
Due: none

Fix relay state
  userdata/updated/adam_plus_anna_new/core.domain_objects.xml
Due: none

Fix 2
  plugwise/smile_legacy.py
Due: userdata, pylint

Add back REQUIRE_APPLIANCES
  plugwise/constants.py
Due: userdata, pylint

Add _gw_allowed_modes inits
  plugwise/__init__.py
  plugwise/smile_actual.py
Due: userdata, pylint

Fix 19
  tests/data/anna/anna_v4.json
Due: none

Fix double code, add pragma-no-covers
  plugwise/helper.py
Due: userdata, pylint

Clean up 8
  plugwise/legacy/helper.py
Due: userdata, pylint

Disable legacy-related test-code
  tests/test_init.py
Due: userdata

Await
  plugwise/__init__.py
Due: userdata, pylint

More fixes
  plugwise/__init__.py
Due: userdata, pylint

Replace smile._cooling_active
  tests/test_anna.py
  tests/test_init.py
Due: userdata

Add pragma-no-cover
  plugwise/helper.py
Due: userdata, pylint

Use try-expect to catch error
  plugwise/__init__.py
Due: userdata, pylint

Solve remaining question, only needed for Stretch
  plugwise/helper.py
Due: userdata, pylint

Update updated userdata 11
  userdata/updated/p1v4_442_single/core.domain_objects.xml
Due: none

Mypy fixes, clean up
  plugwise/__init__.py
  plugwise/legacy/smile.py
Due: userdata, pylint

Rearrange
  plugwise/helper.py
Due: userdata, pylint

Fix 22
  tests/data/anna/anna_heatpump_cooling.json
Due: none

Add legacy-test-functions
  tests/test_init.py
Due: userdata

More debug
  plugwise/smile.py
Due: userdata, pylint

Fix
  plugwise/smile.py
Due: userdata, pylint

Remove unused SmileHelper imports
  plugwise/smile_actual.py
  plugwise/smile_legacy.py
Due: userdata, pylint

Disable
  plugwise/legacy/smile.py
Due: userdata, pylint

Handle location not in device-dict
  tests/test_init.py
Due: userdata

Update comment
  plugwise/helper.py
Due: userdata, pylint

Try 11
  plugwise/smile_actual.py
Due: userdata, pylint

Add missed
  tests/test_init.py
Due: userdata

Fix
  plugwise/smile_actual.py
Due: userdata, pylint

Anna_loria_heating_idle fixes
  tests/data/anna/anna_loria_heating_idle.json
  tests/test_anna.py
Due: userdata

Improve legacy-helper.py
  plugwise/legacy/helper.py
Due: userdata, pylint

Updates, add SmileLegacyData class in data_legacy.py
  plugwise/data_legacy.py
  plugwise/smile_legacy.py
Due: userdata, pylint

Clean up 12
  plugwise/legacy/helper.py
Due: userdata, pylint

Revert back to full connect_function
  plugwise/__init__.py
Due: userdata, pylint

Move get_all_devices() into the main Smile class
  plugwise/__init__.py
Due: userdata, pylint

Clean up 9
  plugwise/legacy/helper.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
