Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Update userdata 9
  userdata/anna_elga_2_schedule_off/core.domain_objects.xml
Due: none

Fix 10
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_heatpump_cooling/device_list.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_multiple_devices_per_zone/device_list.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
  fixtures/adam_plus_anna/all_data.json
  fixtures/adam_plus_anna/device_list.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_plus_anna_new/device_list.json
  fixtures/adam_zone_per_device/all_data.json
  fixtures/adam_zone_per_device/device_list.json
  tests/data/adam/adam_plus_anna_new.json
Due: none

Update userdata 10
  userdata/anna_elga_2_cooling/core.domain_objects.xml
Due: none

Debug
  tests/test_init.py
Due: userdata

Add back missing self-inits
  plugwise/helper.py
Due: userdata, pylint

Set Stretch-connected switch to locked-state
  userdata/stretch_v31/core.appliances.xml
Due: none

Try 15
  plugwise/smile_actual.py
Due: userdata, pylint

Retry
  plugwise/legacy/smile.py
Due: userdata, pylint

Updates
  plugwise/__init__.py
  plugwise/data.py
  plugwise/helper.py
  plugwise/smile_legacy.py
Due: userdata, pylint

Fix
  plugwise/__init__.py
Due: userdata, pylint

Replace all relative imports
  plugwise/__init__.py
  plugwise/data.py
  plugwise/helper.py
  plugwise/legacy/data.py
  plugwise/legacy/helper.py
  plugwise/legacy/smile.py
  plugwise/smile.py
  plugwise/util.py
Due: userdata, pylint

Disable inits
  plugwise/helper.py
Due: userdata, pylint

Init missing selfs
  plugwise/smile.py
Due: userdata, pylint

Add missing init
  plugwise/smile.py
Due: userdata, pylint

Clean up
  plugwise/legacy/helper.py
  plugwise/smile.py
  tests/test_init.py
Due: userdata, pylint

Fix 9
  tests/data/adam/adam_plus_anna_new.json
Due: none

Add pragma: no cover's
  plugwise/legacy/smile.py
Due: userdata, pylint

Rename to _smile_api, update common set-functions
  plugwise/__init__.py
Due: userdata, pylint

fixup: split_legacy Python code fixed using ruff
  plugwise/helper.py
Due: userdata, pylint

Idem for set_number_setpoint()
  plugwise/__init__.py
  plugwise/smile_actual.py
Due: userdata, pylint

Do the same for set_regulation_mode()
  plugwise/__init__.py
  plugwise/smile_actual.py
Due: userdata, pylint

Add module as well to domain_objects
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: none

Cleanup
  plugwise/__init__.py
Due: userdata, pylint

Fix
  tests/data/p1/p1v4_442_single.json
Due: none

Disable all smile._last_active
  tests/test_adam.py
  tests/test_anna.py
Due: userdata

Call set_gateway_mode() from SmileApi
  plugwise/__init__.py
  plugwise/smile_actual.py
Due: userdata, pylint

Fix
  plugwise/smile_legacy.py
Due: userdata, pylint

Add schedule-off legacy_anna test-case
  tests/test_legacy_anna.py
Due: userdata

Add full_update_device() to Smile class
  plugwise/__init__.py
Due: userdata, pylint

Add missing inits
  plugwise/__init__.py
Due: userdata, pylint

Clean up legacy files
  plugwise/legacy/data.py
  plugwise/legacy/helper.py
  plugwise/legacy/smile.py
Due: userdata, pylint

Fixes
  plugwise/smile_actual.py
  plugwise/smile_legacy.py
Due: userdata, pylint

Clean up
  plugwise/__init__.py
Due: userdata, pylint

Add imports
  plugwise/smile_legacy.py
Due: userdata, pylint

Limit to ADAM
  plugwise/__init__.py
Due: userdata, pylint

Add _plugwise_notifications()
  plugwise/legacy/helper.py
Due: userdata, pylint

Clean up 4
  plugwise/legacy/helper.py
  plugwise/legacy/smile.py
Due: userdata, pylint

Update userdata 3
  userdata/anna_heatpump_heating/core.domain_objects.xml
Due: none

Add one cooling_enabled switch for Elga in userdata
  userdata/anna_heatpump_heating/core.domain_objects.xml
Due: none

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
