Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

.pre-commit-config.yaml:

ci:
  # Defer autoupdate to quarterly (there is no 'off' button) to have renovate pick up first
  autoupdate_schedule: quarterly
  skip: [pylint, markdownlint, testing, fixtures]
  submodules: true

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.11

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.265
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests|scripts)/.+)?[^/]+\.py$
  #  Moved codespell configuration to setup.cfg as per 'all-files' issues not reading args
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.31.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.5.1
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(plugwise|tests)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/$
      - id: pylint
        name: pylint
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^plugwise/.+\.py$
      - id: testing
        name: "Local Testing - Performing Tests"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh test_and_coverage'
        language: script
        pass_filenames: false
      - id: fixtures
        name: "Fixture formatting"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh fixtures'
        language: script
        pass_filenames: false
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint

Breakout skip_obsolete_measurements() to util.py
  plugwise/helper.py
  plugwise/legacy/helper.py
  plugwise/util.py
Due: userdata, pylint

Breakout check_alternative_locations() to util.py
  plugwise/common.py
  plugwise/util.py
Due: userdata, pylint

Mypy fix
  plugwise/util.py
Due: userdata, pylint

Improve
  plugwise/common.py
  plugwise/util.py
Due: userdata, pylint

Breakout _create_gw_devices() function
  plugwise/common.py
  plugwise/helper.py
  plugwise/legacy/helper.py
Due: userdata, pylint

Breakout _collect_power_values() and related
  plugwise/common.py
  plugwise/helper.py
  plugwise/legacy/helper.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump to a3
  pyproject.toml
Due: none

Bump to v0.37.1 release-version
  pyproject.toml
Due: none

Remove crcmod dependency
  pyproject.toml
Due: none

Remove more USB-related dependencies
  pyproject.toml
Due: none

Correct spaces before comments
  .github/workflows/codeql-analysis.yml
  .github/workflows/merge.yml
  .github/workflows/verify.yml
Due: none

Set min-spaces-from-content to 1
  .yamllint
Due: none

Correct typo
  tests/test_init.py
Due: userdata

Remove guard
  tests/test_init.py
Due: userdata

Fix inputs as suggested in warning messages
  .github/workflows/merge.yml
  .github/workflows/verify.yml
Due: none

Replace slave and master with secondary and main
  plugwise/constants.py
  plugwise/data.py
  plugwise/helper.py
  plugwise/legacy/data.py
  tests/data/anna/anna_elga_2.json
  tests/data/anna/anna_elga_2_cooling.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_cooling.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_heatpump_heating_UPDATED_DATA.json
Due: userdata, pylint

Save updated fixtures
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_cooling/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_elga_no_cooling/all_data.json
  fixtures/anna_heatpump_cooling/all_data.json
  fixtures/anna_heatpump_cooling_fake_firmware/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
  fixtures/m_anna_heatpump_cooling/all_data.json
  fixtures/m_anna_heatpump_idle/all_data.json
Due: none

Use primary instead of main
  plugwise/constants.py
  plugwise/data.py
  plugwise/helper.py
  plugwise/legacy/data.py
Due: userdata, pylint

Improve comments
  plugwise/data.py
Due: userdata, pylint

Improve code
  plugwise/legacy/data.py
Due: userdata, pylint

Sort constants
  plugwise/constants.py
Due: userdata, pylint

Clean up
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
  scripts/tests_and_coverage.sh
  tests/test_init.py
Due: userdata, pylint

Revert "Replace using semver"
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Add semver to requirements_test.txt
  requirements_test.txt
Due: none

Revert pyproject removal
  pyproject.toml
Due: none

Init strings with NONE
  plugwise/__init__.py
Due: userdata, pylint

Bump to a2
  pyproject.toml
Due: none

Bump to v0.38.0a0 test-version
  pyproject.toml
Due: none

Revert back to short test-output
  scripts/tests_and_coverage.sh
Due: none

Add code for detecting a config-change
  plugwise/constants.py
  plugwise/smile.py
  scripts/tests_and_coverage.sh
  tests/data/adam/adam_plus_anna_new_UPDATED_DATA.json
  tests/test_adam.py
  tests/test_init.py
  userdata/updated/adam_plus_anna_new/core.domain_objects.xml
Due: userdata, pylint

Update related test-assert
  tests/test_adam.py
Due: userdata

Bump to a1
  pyproject.toml
Due: none

Update constant as well
  plugwise/constants.py
Due: userdata, pylint

Change to collecting new devices
  plugwise/smile.py
Due: userdata, pylint

Change to detection of new devices, adapt tests
  plugwise/smile.py
  tests/test_adam.py
  tests/test_init.py
Due: userdata, pylint
