Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

.pre-commit-config.yaml:

ci:
  # Defer autoupdate to quarterly (there is no 'off' button) to have renovate pick up first
  autoupdate_schedule: quarterly
  skip: [pylint, markdownlint, testing, fixtures]
  submodules: true

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.11

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.265
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests|scripts)/.+)?[^/]+\.py$
  #  Moved codespell configuration to setup.cfg as per 'all-files' issues not reading args
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.31.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.5.1
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(plugwise|tests)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/$
      - id: pylint
        name: pylint
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^plugwise/.+\.py$
      - id: testing
        name: "Local Testing - Performing Tests"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh test_and_coverage'
        language: script
        pass_filenames: false
      - id: fixtures
        name: "Fixture formatting"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh fixtures'
        language: script
        pass_filenames: false
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint

Save updated
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
  tests/data/adam/adam_plus_anna_new.json
Due: none

Update typing
  plugwise/constants.py
Due: userdata, pylint

Fix comment
  plugwise/helper.py
Due: userdata, pylint

Fix legacy
  plugwise/legacy/data.py
  plugwise/legacy/helper.py
  plugwise/legacy/smile.py
Due: userdata, pylint

Save updated legacy fixtures and test-jsons
  fixtures/legacy_anna/all_data.json
  fixtures/smile_p1_v2/all_data.json
  fixtures/stretch_v31/all_data.json
  tests/data/anna/legacy_anna.json
  tests/data/p1/smile_p1_v2.json
  tests/data/stretch/stretch_v31.json
Due: none

Rework to combined dev_zones dict
  plugwise/__init__.py
  plugwise/common.py
  plugwise/constants.py
  plugwise/data.py
  plugwise/helper.py
  plugwise/smile.py
  tests/test_init.py
Due: userdata, pylint

Full output
  scripts/tests_and_coverage.sh
Due: none

Typing corrections
  plugwise/constants.py
  plugwise/data.py
  plugwise/helper.py
  plugwise/legacy/helper.py
  plugwise/smile.py
  plugwise/util.py
Due: userdata, pylint

And generate related test-json
  tests/data/adam/adam_plus_anna_new.json
Due: none

Add comment
  plugwise/helper.py
Due: userdata, pylint

Clean up non-thermostat locations
  plugwise/helper.py
Due: userdata, pylint

Count test-asserts per device/zone and output
  tests/test_init.py
Due: userdata

Bump to a1
  pyproject.toml
Due: none

Save updated fixtures
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
Due: none

Start adapting legacy
  plugwise/legacy/smile.py
Due: userdata, pylint

Fix function-argument use
  plugwise/data.py
Due: userdata, pylint

Save updated fixture
  fixtures/adam_plus_anna_new/all_data.json
Due: none

Rename to zone
  plugwise/constants.py
  plugwise/data.py
  plugwise/helper.py
  plugwise/smile.py
  tests/test_init.py
Due: userdata, pylint

Save updated fixture and related test-jsons
  fixtures/p1v4_442_single/all_data.json
  tests/data/p1/p1v4_442_single.json
  tests/data/p1/p1v4_442_single_UPDATED_DATA.json
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Update manual_fixtures script
  scripts/manual_fixtures.py
Due: userdata

Improve
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Adapt to several primary thermostats
  plugwise/helper.py
Due: userdata, pylint

Debug more
  plugwise/helper.py
Due: userdata, pylint

Fix typo
  pyproject.toml
Due: none

Try
  plugwise/helper.py
Due: userdata, pylint

Debug
  plugwise/helper.py
Due: userdata, pylint

Delete unused function-argument
  plugwise/data.py
Due: userdata, pylint

Add local mypy testing
  plugwise/constants.py
  plugwise/helper.py
  scripts/tests_and_coverage.sh
Due: userdata, pylint

Disable manual fixture creation
  scripts/tests_and_coverage.sh
Due: none

Save/fix
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/anna_v4/all_data.json
  fixtures/legacy_anna/all_data.json
  fixtures/p1v4_442_single/all_data.json
  fixtures/smile_p1_v2/all_data.json
  fixtures/stretch_v31/all_data.json
  plugwise/helper.py
  tests/test_anna.py
  tests/test_legacy_anna.py
  tests/test_legacy_p1.py
  tests/test_legacy_stretch.py
  tests/test_p1.py
Due: userdata, pylint

Return other Anna testcases
  tests/test_anna.py
Due: userdata

Adapt test-code
  tests/test_init.py
Due: userdata

Save updated fixtures, update test-jsons
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
  fixtures/adam_plus_anna/all_data.json
  fixtures/adam_zone_per_device/all_data.json
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_multiple_devices_per_zone.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
  tests/data/adam/adam_plus_anna.json
  tests/data/adam/adam_zone_per_device.json
  tests/test_adam.py
Due: userdata

Update naming
  plugwise/__init__.py
  plugwise/common.py
  plugwise/constants.py
  plugwise/data.py
  plugwise/helper.py
  plugwise/legacy/data.py
  plugwise/legacy/helper.py
  plugwise/legacy/smile.py
  plugwise/smile.py
  plugwise/util.py
Due: userdata, pylint

Updates for cooling
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
  scripts/manual_fixtures.py
Due: userdata

Save
  fixtures/anna_v4_dhw/all_data.json
  fixtures/anna_v4_no_tag/all_data.json
  tests/data/adam/adam_plus_anna_new_UPDATED_DATA.json
  tests/data/anna/anna_v4_UPDATED_DATA.json
  tests/data/anna/anna_v4_dhw.json
  tests/test_anna.py
Due: userdata

Save
  fixtures/adam_plus_anna_new/all_data.json
  tests/test_adam.py
Due: userdata

Fix double
  scripts/manual_fixtures.py
Due: userdata
