Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Add item_count to GatewayData class
  plugwise/constants.py
Due: userdata, pylint

Blacked
  plugwise/__init__.py
Due: userdata, pylint

Add counting in P1 sensor-data collection
  plugwise/helper.py
Due: userdata, pylint

Blacked
  plugwise/helper.py
Due: userdata, pylint

Add counting in _update_for_cooling()
  plugwise/__init__.py
Due: userdata, pylint

Final counting-improvement
  plugwise/helper.py
Due: userdata, pylint

Add counts for availability and plugwise-notification
  plugwise/__init__.py
Due: userdata, pylint

Add remaining counts
  plugwise/__init__.py
Due: userdata, pylint

Compare
  plugwise/__init__.py
Due: userdata, pylint

Change counting in _get_actuator_functionalities()
  plugwise/helper.py
Due: userdata, pylint

Save corrected fixtures
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_zone_per_device/all_data.json
Due: none

Add checking-function
  plugwise/__init__.py
Due: userdata, pylint

Fix
  plugwise/__init__.py
Due: userdata, pylint

Fix idents
  plugwise/helper.py
Due: userdata, pylint

Add counting in _appliance_measurements()
  plugwise/helper.py
Due: userdata, pylint

Add item_count to gw_data
  plugwise/__init__.py
Due: userdata, pylint

Count after assignment
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
  fixtures/adam_plus_anna/all_data.json
  fixtures/adam_plus_anna_copy_with_error_domain_added/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_zone_per_device/all_data.json
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_cooling/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_heatpump_cooling/all_data.json
  fixtures/anna_heatpump_cooling_fake_firmware/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
  fixtures/anna_loria_cooling_active/all_data.json
  fixtures/anna_loria_heating_idle/all_data.json
  fixtures/anna_v4/all_data.json
  fixtures/anna_v4_dhw/all_data.json
  fixtures/anna_v4_no_tag/all_data.json
  fixtures/anna_without_boiler_fw3/all_data.json
  fixtures/anna_without_boiler_fw4/all_data.json
  fixtures/anna_without_boiler_fw42/all_data.json
  fixtures/legacy_anna/all_data.json
  fixtures/legacy_anna_2/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
  fixtures/m_anna_heatpump_cooling/all_data.json
  fixtures/m_anna_heatpump_idle/all_data.json
  fixtures/p1v3/all_data.json
  fixtures/p1v3_full_option/all_data.json
  fixtures/p1v3solarfake/all_data.json
  fixtures/p1v4/all_data.json
  fixtures/p1v4_442_single/all_data.json
  fixtures/p1v4_442_triple/all_data.json
  fixtures/smile_p1_v2/all_data.json
  fixtures/smile_p1_v2_2/all_data.json
  fixtures/stretch_v23/all_data.json
  fixtures/stretch_v27_no_domain/all_data.json
  fixtures/stretch_v31/all_data.json
  plugwise/__init__.py
Due: userdata, pylint

Only define self._count
  plugwise/helper.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Debug
  plugwise/__init__.py
Due: userdata, pylint

Define self.device_items and use, clean up logging
  plugwise/__init__.py
Due: userdata, pylint

Move self.device_items definition and init
  plugwise/__init__.py
  plugwise/helper.py
Due: userdata, pylint

Update testing
  tests/test_smile.py
Due: userdata

Revert "Full test-output"
  scripts/tests_and_coverage.sh
Due: none

Add 2x pragma: no cover
  plugwise/helper.py
Due: userdata, pylint

Remove unneeded counting for Anna + OnOff
  plugwise/helper.py
Due: userdata, pylint

Fully sort GatewayData class
  plugwise/constants.py
Due: userdata, pylint

Add comment, move one count to the proper position
  plugwise/helper.py
Due: userdata, pylint

Add support for python 3.12
  .github/workflows/verify.yml
  pyproject.toml
  scripts/python-venv.sh
Due: none

When a schedule_name is not provided, use the last one used
  plugwise/__init__.py
Due: userdata, pylint

Update related test-function
  tests/test_smile.py
Due: userdata

Update CHANGELO)G
  CHANGELOG.md
Due: none

Remove left-over characters
  tests/test_smile.py
Due: userdata

Handle last_used == None
  plugwise/__init__.py
Due: userdata, pylint

Iterate through gw_devices.values()
  plugwise/__init__.py
Due: userdata, pylint

Solve mypy errors
  plugwise/__init__.py
Due: userdata, pylint

Add special single test for turning schedule on based on last_used
  tests/test_smile.py
Due: userdata

Fix typo
  tests/test_smile.py
Due: userdata

Break-out determine_contexts() function to reduce complexity
  plugwise/__init__.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
