Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Update CHANGELOG
  CHANGELOG.md
Due: none

Add new items to DeviceData class
  plugwise/constants.py
Due: userdata, pylint

Bump to a1
  pyproject.toml
Due: none

Bump to v0.36.0a0 test-version
  pyproject.toml
Due: none

Cache bump
  .github/workflows/verify.yml
Due: none

Try combining both actions to v4
  .github/workflows/verify.yml
Due: none

Refresh adam_plus_anna_new xml-files and adapt
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_plus_anna_new/device_list.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_cooling/device_list.json
  fixtures/m_adam_heating/all_data.json
  fixtures/m_adam_heating/device_list.json
  tests/test_smile.py
  userdata/adam_plus_anna_new/core.appliances.xml
  userdata/adam_plus_anna_new/core.domain_objects.xml
  userdata/adam_plus_anna_new/core.locations.xml
  userdata/adam_plus_anna_new/core.modules.xml
  userdata/updated/adam_plus_anna_new/core.appliances.xml
  userdata/updated/adam_plus_anna_new/core.domain_objects.xml
  userdata/updated/adam_plus_anna_new/core.locations.xml
  userdata/updated/adam_plus_anna_new/core.modules.xml
Due: userdata

Save updated fixtures
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
Due: none

Fix fw-number
  tests/test_smile.py
Due: userdata

Py bump and ruff over black/isort
  .github/workflows/merge.yml
  .github/workflows/verify.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  plugwise/__init__.py
  plugwise/helper.py
  plugwise/util.py
  pyproject.toml
  requirements_commit.txt
  scripts/tests_and_coverage.sh
  tests/test_smile.py
Due: userdata, pylint

Remove <3.12 testing
  .github/workflows/verify.yml
Due: none

Remove <3.12 testing
  .github/workflows/merge.yml
  .github/workflows/verify.yml
Due: none

Bump pre-commit
  .pre-commit-config.yaml
Due: none

Rework publishing
  .github/workflows/merge.yml
  .github/workflows/verify.yml
Due: none

Offload JSON data for Anna
  tests/data/anna/anna_elga_2.json
  tests/data/anna/anna_elga_2_cooling.json
  tests/data/anna/anna_elga_2_schedule_off.json
  tests/data/anna/anna_heatpump_cooling.json
  tests/data/anna/anna_heatpump_cooling_fake_firmware.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_heatpump_heating_UPDATED_DATA.json
  tests/data/anna/anna_loria_cooling_active.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_loria_heating_idle.json
  tests/data/anna/anna_v4.json
  tests/data/anna/anna_v4_UPDATED_DATA.json
  tests/data/anna/anna_v4_dhw.json
  tests/data/anna/anna_without_boiler_fw441.json
  tests/data/anna/legacy_anna.json
  tests/data/anna/legacy_anna_2.json
  tests/test_anna.py
  tests/test_init.py
Due: userdata

Offload JSON data for P1
  tests/data/p1/p1v4.json
  tests/data/p1/p1v4_442_single.json
  tests/data/p1/p1v4_442_single_UPDATED_DATA.json
  tests/data/p1/p1v4_442_triple.json
  tests/data/p1/smile_p1_v2.json
  tests/data/p1/smile_p1_v2_2.json
  tests/data/p1/smile_p1_v2_2_UPDATED_DATA.json
  tests/test_p1.py
Due: userdata

Offload JSON data for Stretch
  tests/data/stretch/stretch_v23.json
  tests/data/stretch/stretch_v27_no_domain.json
  tests/data/stretch/stretch_v31.json
  tests/data/stretch/stretch_v31_UPDATED_DATA.json
  tests/test_stretch.py
Due: userdata

Split testing - initial split
  tests/__init__.py
  tests/test_adam.py
  tests/test_anna.py
  tests/test_combined.py
  tests/test_generic.py
  tests/test_init.py
  tests/test_p1.py
  tests/test_stretch.py
Due: userdata

Refactor for #482
  tests/data/combined/adam_jip.json
  tests/data/combined/adam_plus_anna.json
  tests/data/combined/adam_plus_anna_new.json
  tests/data/combined/adam_plus_anna_new_UPDATED_DATA.json
  tests/test_combined.py
Due: userdata

Offload JSON data for Adam
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_multiple_devices_per_zone.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
  tests/data/adam/adam_zone_per_device.json
  tests/test_adam.py
  tests/test_init.py
Due: userdata

Remove rebased full suite, mark task
  tests/test_anna.py
  tests/test_smile.py
Due: userdata

Sonarcloud smell resolves for Adam (and cleanup)
  tests/test_adam.py
  tests/test_init.py
Due: userdata

Sonarcloud smell resolves for the others (and defaulting)
  tests/test_adam.py
  tests/test_anna.py
  tests/test_combined.py
  tests/test_init.py
  tests/test_p1.py
  tests/test_stretch.py
Due: userdata

Fix sonarcloud for python:S2245
  tests/test_init.py
Due: userdata

Properly class generic to ensure testing
  tests/test_generic.py
Due: userdata

Sonarcloud smell resolves continued for Anna (and indenting for exc)
  tests/test_anna.py
Due: userdata

Move combined into Adam as requested
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_plus_anna.json
  tests/data/adam/adam_plus_anna_new.json
  tests/data/adam/adam_plus_anna_new_UPDATED_DATA.json
  tests/test_combined.py
Due: userdata

Sonarcloud smell resolves continued
  tests/test_init.py
Due: userdata

Improve thinker_thermostat_temp()
  tests/test_init.py
Due: userdata

Coverage for debug
  tests/test_anna.py
Due: userdata

Sonarcloud smell resolves continued for Generic
  tests/test_generic.py
Due: userdata

Sonarcloud smell resolves continued for Init
  tests/test_init.py
Due: userdata

Add to changelog
  CHANGELOG.md
Due: none

Fix pre-commit
  tests/test_init.py
Due: userdata

Move tests from test_combined into test_adam
  tests/test_adam.py
Due: userdata

Chop some of the qualiy issues raised by sonarcloud
  plugwise/__init__.py
  plugwise/constants.py
  plugwise/helper.py
  plugwise/util.py
Due: userdata, pylint

Correctly rebase / rename model
  plugwise/__init__.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
