Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

.pre-commit-config.yaml:

ci:
  # Defer autoupdate to quarterly (there is no 'off' button) to have renovate pick up first
  autoupdate_schedule: quarterly
  skip: [pylint, markdownlint, testing, fixtures]
  submodules: true

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.11

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.265
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests|scripts)/.+)?[^/]+\.py$
  #  Moved codespell configuration to setup.cfg as per 'all-files' issues not reading args
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.31.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.5.1
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(plugwise|tests)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/$
      - id: pylint
        name: pylint
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^plugwise/.+\.py$
      - id: testing
        name: "Local Testing - Performing Tests"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh test_and_coverage'
        language: script
        pass_filenames: false
      - id: fixtures
        name: "Fixture formatting"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh fixtures'
        language: script
        pass_filenames: false
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint

Rework cooling_present related
  plugwise/__init__.py
  plugwise/common.py
  plugwise/data.py
  plugwise/helper.py
  plugwise/legacy/helper.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Break out SmileComm class
  plugwise/__init__.py
  plugwise/helper.py
  plugwise/smilecomm.py
  tests/test_generic.py
Due: userdata, pylint

Add devices property, replacing the PlugwiseData output
  plugwise/__init__.py
  plugwise/constants.py
  plugwise/data.py
  plugwise/helper.py
  plugwise/legacy/smile.py
  plugwise/smile.py
  tests/test_adam.py
  tests/test_init.py
  tests/test_legacy_anna.py
Due: userdata, pylint

Clean up smilecomm-related selfs
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Add cooling_present as a property
  plugwise/__init__.py
  plugwise/common.py
  plugwise/data.py
  plugwise/helper.py
  plugwise/legacy/helper.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Remove gateway-related from the manual_fixtures script
  scripts/manual_fixtures.py
Due: userdata

Remove notifications property, add to gateway data
  plugwise/__init__.py
  plugwise/data.py
Due: userdata, pylint

Revert adding not present properties
  plugwise/legacy/data.py
Due: userdata, pylint

Adapt testcode
  tests/test_init.py
Due: userdata

Save updated fixtures
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
  fixtures/adam_plus_anna/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_plus_anna_new_regulation_off/all_data.json
  fixtures/adam_zone_per_device/all_data.json
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_cooling/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_elga_no_cooling/all_data.json
  fixtures/anna_heatpump_cooling/all_data.json
  fixtures/anna_heatpump_cooling_fake_firmware/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
  fixtures/anna_loria_cooling_active/all_data.json
  fixtures/anna_loria_driessens/all_data.json
  fixtures/anna_loria_heating_idle/all_data.json
  fixtures/anna_v4/all_data.json
  fixtures/anna_v4_dhw/all_data.json
  fixtures/anna_v4_no_tag/all_data.json
  fixtures/anna_without_boiler_fw441/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
  fixtures/m_adam_jip/all_data.json
  fixtures/m_adam_multiple_devices_per_zone/all_data.json
  fixtures/m_anna_heatpump_cooling/all_data.json
  fixtures/m_anna_heatpump_idle/all_data.json
  fixtures/p1v4_442_single/all_data.json
  fixtures/p1v4_442_triple/all_data.json
Due: none

Save updated fixtures
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
  fixtures/adam_plus_anna/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_plus_anna_new_regulation_off/all_data.json
  fixtures/adam_zone_per_device/all_data.json
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_cooling/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_elga_no_cooling/all_data.json
  fixtures/anna_heatpump_cooling/all_data.json
  fixtures/anna_heatpump_cooling_fake_firmware/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
  fixtures/anna_loria_cooling_active/all_data.json
  fixtures/anna_loria_driessens/all_data.json
  fixtures/anna_loria_heating_idle/all_data.json
  fixtures/anna_v4/all_data.json
  fixtures/anna_v4_dhw/all_data.json
  fixtures/anna_v4_no_tag/all_data.json
  fixtures/anna_without_boiler_fw441/all_data.json
  fixtures/legacy_anna/all_data.json
  fixtures/legacy_anna_2/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
  fixtures/m_adam_jip/all_data.json
  fixtures/m_adam_multiple_devices_per_zone/all_data.json
  fixtures/m_anna_heatpump_cooling/all_data.json
  fixtures/m_anna_heatpump_idle/all_data.json
  fixtures/p1v4_442_single/all_data.json
  fixtures/p1v4_442_triple/all_data.json
  fixtures/smile_p1_v2/all_data.json
  fixtures/smile_p1_v2_2/all_data.json
  fixtures/stretch_v23/all_data.json
  fixtures/stretch_v27_no_domain/all_data.json
  fixtures/stretch_v31/all_data.json
Due: none

Rename gw_data to _smile_props
  plugwise/__init__.py
  plugwise/constants.py
  plugwise/data.py
  plugwise/legacy/data.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Save updated fixtures
  fixtures/adam_heatpump_cooling/data.json
  fixtures/adam_jip/data.json
  fixtures/adam_multiple_devices_per_zone/data.json
  fixtures/adam_onoff_cooling_fake_firmware/data.json
  fixtures/adam_plus_anna/data.json
  fixtures/adam_plus_anna_new/data.json
  fixtures/adam_plus_anna_new_regulation_off/data.json
  fixtures/adam_zone_per_device/data.json
  fixtures/anna_elga_2/data.json
  fixtures/anna_elga_2_cooling/data.json
  fixtures/anna_elga_2_schedule_off/data.json
  fixtures/anna_elga_no_cooling/data.json
  fixtures/anna_heatpump_cooling/data.json
  fixtures/anna_heatpump_cooling_fake_firmware/data.json
  fixtures/anna_heatpump_heating/data.json
  fixtures/anna_loria_cooling_active/data.json
  fixtures/anna_loria_driessens/data.json
  fixtures/anna_loria_heating_idle/data.json
  fixtures/anna_v4/data.json
  fixtures/anna_v4_dhw/data.json
  fixtures/anna_v4_no_tag/data.json
  fixtures/anna_without_boiler_fw441/data.json
  fixtures/legacy_anna/data.json
  fixtures/legacy_anna_2/data.json
  fixtures/p1v4_442_single/data.json
  fixtures/p1v4_442_triple/data.json
  fixtures/smile_p1_v2/data.json
  fixtures/smile_p1_v2_2/data.json
  fixtures/stretch_v23/data.json
  fixtures/stretch_v27_no_domain/data.json
  fixtures/stretch_v31/data.json
Due: none

Remove devices property, let async_update() return data
  plugwise/__init__.py
Due: userdata, pylint

Fix for no notifications for legacy
  tests/test_init.py
Due: userdata

Update entity_items asserts
  tests/test_adam.py
  tests/test_anna.py
  tests/test_p1.py
Due: userdata

Remove old fixtures
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
  fixtures/adam_plus_anna/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_plus_anna_new_regulation_off/all_data.json
  fixtures/adam_zone_per_device/all_data.json
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_cooling/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_elga_no_cooling/all_data.json
  fixtures/anna_heatpump_cooling/all_data.json
  fixtures/anna_heatpump_cooling_fake_firmware/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
  fixtures/anna_loria_cooling_active/all_data.json
  fixtures/anna_loria_driessens/all_data.json
  fixtures/anna_loria_heating_idle/all_data.json
  fixtures/anna_v4/all_data.json
  fixtures/anna_v4_dhw/all_data.json
  fixtures/anna_v4_no_tag/all_data.json
  fixtures/anna_without_boiler_fw441/all_data.json
  fixtures/legacy_anna/all_data.json
  fixtures/legacy_anna_2/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
  fixtures/m_adam_jip/all_data.json
  fixtures/m_adam_multiple_devices_per_zone/all_data.json
  fixtures/m_anna_heatpump_cooling/all_data.json
  fixtures/m_anna_heatpump_idle/all_data.json
  fixtures/p1v4_442_single/all_data.json
  fixtures/p1v4_442_triple/all_data.json
  fixtures/smile_p1_v2/all_data.json
  fixtures/smile_p1_v2_2/all_data.json
  fixtures/stretch_v23/all_data.json
  fixtures/stretch_v27_no_domain/all_data.json
  fixtures/stretch_v31/all_data.json
Due: none

Fix cooling_present
  plugwise/__init__.py
Due: userdata, pylint

Bump to a3
  pyproject.toml
Due: none

Clean up self-vars
  plugwise/common.py
  plugwise/helper.py
  plugwise/legacy/helper.py
  plugwise/smile.py
Due: userdata, pylint

Bump to a2, a1 exists
  pyproject.toml
Due: none

Remove self.smile_fw_version, only use smile_version
  plugwise/__init__.py
  plugwise/helper.py
  plugwise/legacy/helper.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Save updated manual fixtures
  fixtures/m_adam_cooling/data.json
  fixtures/m_adam_heating/data.json
  fixtures/m_adam_jip/data.json
  fixtures/m_adam_multiple_devices_per_zone/data.json
  fixtures/m_anna_heatpump_cooling/data.json
  fixtures/m_anna_heatpump_idle/data.json
Due: none

Fix legacy
  plugwise/legacy/data.py
Due: userdata, pylint

Bump to v1.7.0a0 test-version
  pyproject.toml
Due: none

Sorting, use _request
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Fix
  tests/test_init.py
Due: userdata

Bump to a4
  pyproject.toml
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Remove headers from _request(), never provided in the function-call
  plugwise/smilecomm.py
Due: userdata, pylint

Init _gateway_id in helper.py, take gateway_if from _smile_props
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, pylint

Mark use of http as sensitive
  plugwise/smilecomm.py
Due: userdata, pylint

Bump to a5
  pyproject.toml
Due: none

Init gw_entities in helper.py
  plugwise/helper.py
  plugwise/smilecomm.py
Due: userdata, pylint

Bump to a6
  pyproject.toml
Due: none

Add missing Smile/Legay/Api attributes
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Sort
  plugwise/helper.py
Due: userdata, pylint

Bump to a7
  pyproject.toml
Due: none

Test + re-evaluate hint
  requirements_test.txt
Due: none

Align
  requirements_test.txt
Due: none
