Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Bump to a3
  pyproject.toml
Due: none

Manual-fixtures: keep setpoint for Tom
  scripts/manual_fixtures.py
Due: userdata

Save updated fixtures
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump to v1.6.0 release-version
  pyproject.toml
Due: none

Try
  biome.json
  scripts/tests_and_coverage.sh
Due: none

Bump python to 3.123 following core 2024.12
  .github/workflows/merge.yml
  .github/workflows/verify.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  scripts/python-venv.sh
Due: none

CodeRabbit correctly identifies core as not current on 313
  .github/workflows/verify.yml
Due: none

Workflows to 3.13
  .github/workflows/verify.yml
Due: none

Fix correct list
  .github/workflows/verify.yml
Due: none

Improve control_state processing
  plugwise/data.py
Due: userdata, pylint

Fix
  plugwise/data.py
Due: userdata, pylint

Handle old/new Adam firmware
  plugwise/data.py
Due: userdata, pylint

Make smile_version available to SmileApi class
  plugwise/__init__.py
  plugwise/smile.py
Due: userdata, pylint

Add missing import
  plugwise/data.py
Due: userdata, pylint

Fix lowest version
  plugwise/data.py
Due: userdata, pylint

Fix once more
  plugwise/data.py
Due: userdata, pylint

Save changed fixture and test-json
  fixtures/adam_heatpump_cooling/all_data.json
  tests/data/adam/adam_heatpump_cooling.json
Due: none

Add missing count
  plugwise/data.py
Due: userdata, pylint

Save updated fixtures and test-jsons
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
Due: none

Save TODO
  plugwise/data.py
  plugwise/helper.py
Due: userdata, pylint

Add userdata with regulation_mode set to off
  userdata/adam_plus_anna_new_regulation_mode/core.domain_objects.xml
Due: none

Add new test-data json
  tests/data/adam/adam_plus_anna_new_regulation_off.json
Due: none

Add new testcase
  tests/test_adam.py
  userdata/adam_plus_anna_new_regulation_off/core.domain_objects.xml
Due: userdata

Adapt xml-key
  tests/data/adam/adam_plus_anna_new_regulation_off.json
  userdata/adam_plus_anna_new_regulation_off/core.domain_objects.xml
Due: none

Correct control_state
  tests/data/adam/adam_plus_anna_new_regulation_off.json
Due: none

Fix select_schedule
  tests/data/adam/adam_plus_anna_new_regulation_off.json
Due: none

Fix typing
  plugwise/data.py
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, pylint

Save new and updated fixtures
  fixtures/adam_plus_anna_new_regulation_off/all_data.json
  fixtures/m_adam_jip/all_data.json
Due: none

Remove TODO comment
  plugwise/data.py
Due: userdata, pylint

Fix comment
  plugwise/data.py
Due: userdata, pylint

Bump to v1.6.2a0 test-version
  pyproject.toml
Due: none

Add missing client, server disconnect
  tests/test_adam.py
Due: userdata

Update manual_fixture script
  scripts/manual_fixtures.py
Due: userdata

Save updated fixture
  fixtures/m_adam_heating/all_data.json
Due: none

Type control_state as str
  plugwise/constants.py
Due: userdata, pylint

Bump to a1
  pyproject.toml
Due: none

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
