Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: Validating userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: Running MyPy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: PyLinting
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Save updated test-json
  tests/data/anna/anna_elga_2_cooling_UPDATED_DATA.json
Due: none

Fix typo in xml-file
  userdata/updated/anna_elga_2_switch_heating/core.domain_objects.xml
Due: none

Fix test-json data
  tests/data/anna/anna_elga_2_cooling_UPDATED_DATA.json
Due: none

Fix code, ongoing
  plugwise/data.py
  plugwise/helper.py
Due: userdata, pylint

fixup: anna-thermozone Python code fixed using ruff
  tests/test_init.py
Due: userdata

Fix code, ongoing 2
  plugwise/helper.py
Due: userdata, pylint

Clean up
  plugwise/smile.py
Due: userdata, pylint

Add ThermoZone for Anna
  plugwise/data.py
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, pylint

Update test_anna.py
  tests/test_anna.py
Due: userdata

Update anna test-jsons
  tests/data/anna/anna_elga_2.json
  tests/data/anna/anna_elga_2_cooling.json
  tests/data/anna/anna_elga_2_cooling_UPDATED_DATA.json
  tests/data/anna/anna_elga_2_schedule_off.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_cooling.json
  tests/data/anna/anna_heatpump_cooling_fake_firmware.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_loria_cooling_active.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_loria_heating_idle.json
  tests/data/anna/anna_v4.json
  tests/data/anna/anna_v4_UPDATED_DATA.json
  tests/data/anna/anna_v4_dhw.json
  tests/data/anna/anna_v4_no_tag.json
  tests/data/anna/anna_without_boiler_fw441.json
Due: none

Update manual_fixtures script
  scripts/manual_fixtures.py
Due: userdata

Correct updated anna_v4 userdata
  userdata/updated/anna_v4/core.domain_objects.xml
Due: none

Save updated fixture files
  fixtures/anna_elga_2/data.json
  fixtures/anna_elga_2_cooling/data.json
  fixtures/anna_elga_2_schedule_off/data.json
  fixtures/anna_elga_no_cooling/data.json
  fixtures/anna_heatpump_cooling/data.json
  fixtures/anna_heatpump_cooling_fake_firmware/data.json
  fixtures/anna_heatpump_heating/data.json
  fixtures/anna_loria_cooling_active/data.json
  fixtures/anna_loria_driessens/data.json
  fixtures/anna_loria_heating_idle/data.json
  fixtures/anna_v4/data.json
  fixtures/anna_v4_dhw/data.json
  fixtures/anna_v4_no_tag/data.json
  fixtures/anna_without_boiler_fw441/data.json
  fixtures/m_anna_heatpump_cooling/data.json
  fixtures/m_anna_heatpump_idle/data.json
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump to v1.8.0a0 for testing
  pyproject.toml
Due: none

Save adam with emma userdata, add testcase
  fixtures/adam_anna_new_2/data.json
  tests/data/adam/adam_anna_new_2.json
  tests/test_adam.py
  userdata/adam_anna_new_2/core.domain_objects.xml
Due: userdata

Add Emma to HW_MODELS
  plugwise/constants.py
Due: userdata, pylint

Save updated fixture
  fixtures/adam_anna_new_2/data.json
Due: none

Add related test-json
  tests/data/adam/adam_anna_new_2.json
Due: none

Save ruffed json files
  fixtures/adam_anna_new_2/data.json
  tests/data/adam/adam_anna_new_2.json
Due: none

Extend testing
  tests/test_adam.py
Due: userdata

Bump to v1.8.0 for release
  CHANGELOG.md
  pyproject.toml
Due: none

Update README
  README.md
Due: none

Update emma-related userdata
  userdata/adam_anna_new_2/core.domain_objects.xml
Due: none

Save updated fixture, update related test-json
  fixtures/adam_anna_new_2/data.json
  tests/data/adam/adam_anna_new_2.json
Due: none

Update entity_items assert
  tests/test_adam.py
Due: userdata

Ruffed
  fixtures/adam_anna_new_2/data.json
  tests/data/adam/adam_anna_new_2.json
Due: none

Again update userdata, now with schedule active
  userdata/adam_anna_new_2/core.domain_objects.xml
Due: none

Revert mac-addr changes
  userdata/adam_anna_new_2/core.domain_objects.xml
Due: none

Save updates json files
  fixtures/adam_anna_new_2/data.json
  tests/data/adam/adam_anna_new_2.json
Due: none

Ruff updates
  fixtures/adam_anna_new_2/data.json
  tests/data/adam/adam_anna_new_2.json
Due: none

Update adam_plus_anna_new userdata
  tests/test_adam.py
  userdata/adam_anna_new_2/core.domain_objects.xml
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: userdata

Update related test asserts
  tests/test_adam.py
Due: userdata

Save updatef fixture, copy to test-json
  fixtures/adam_plus_anna_new/data.json
  tests/data/adam/adam_plus_anna_new.json
Due: none

Stop thermostat appliance collection when the module is not present
  plugwise/common.py
Due: userdata, pylint

Add testcoverage for missing modules
  tests/data/anna/anna_v4_no_modules.json
  tests/test_anna.py
  userdata/anna_v4_no_modules/core.domain_objects.xml
Due: userdata

Bump to v1.8.1a0 for testing
  pyproject.toml
Due: none

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
