Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Save updated fixture
  fixtures/m_adam_heating/all_data.json
Due: none

Improve as suggested
  plugwise/helper.py
Due: userdata, pylint

Save
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_cooling/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_elga_no_cooling/all_data.json
  fixtures/anna_heatpump_cooling/all_data.json
  fixtures/anna_heatpump_cooling_fake_firmware/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
  fixtures/anna_loria_cooling_active/all_data.json
  fixtures/anna_loria_driessens/all_data.json
  fixtures/anna_loria_heating_idle/all_data.json
  fixtures/legacy_anna_2/all_data.json
  fixtures/p1v4_442_triple/all_data.json
  fixtures/smile_p1_v2_2/all_data.json
  fixtures/stretch_v23/all_data.json
  fixtures/stretch_v27_no_domain/all_data.json
  tests/data/anna/anna_elga_2.json
  tests/data/anna/anna_elga_2_cooling.json
  tests/data/anna/anna_elga_2_schedule_off.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_cooling.json
  tests/data/anna/anna_heatpump_cooling_fake_firmware.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_heatpump_heating_UPDATED_DATA.json
  tests/data/anna/anna_loria_cooling_active.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_loria_heating_idle.json
  tests/data/anna/anna_without_boiler_fw441.json
  tests/data/anna/legacy_anna_2.json
  tests/data/p1/p1v4_442_single.json
  tests/data/p1/p1v4_442_single_UPDATED_DATA.json
  tests/data/p1/p1v4_442_triple.json
  tests/data/p1/smile_p1_v2_2.json
  tests/data/p1/smile_p1_v2_2_UPDATED_DATA.json
  tests/data/stretch/stretch_v23.json
  tests/data/stretch/stretch_v27_no_domain.json
  tests/test_anna.py
  tests/test_legacy_p1.py
  tests/test_legacy_stretch.py
  tests/test_p1.py
Due: userdata

Update CHANGELOG
  CHANGELOG.md
Due: none

Correct function-name
  plugwise/__init__.py
Due: userdata, pylint

Improve comment
  plugwise/helper.py
Due: userdata, pylint

Clean up
  plugwise/common.py
  plugwise/helper.py
  plugwise/legacy/helper.py
  plugwise/util.py
Due: userdata, pylint

Bump to a2
  pyproject.toml
Due: none

Cleanup
  plugwise/legacy/helper.py
  tests/test_anna.py
Due: userdata, pylint

Break out _count_data_items() function and implement
  plugwise/common.py
  plugwise/helper.py
  plugwise/legacy/helper.py
Due: userdata, pylint

Improve
  plugwise/helper.py
Due: userdata, pylint

Reorder
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Extend internal-use selfs
  plugwise/__init__.py
  plugwise/data.py
  plugwise/helper.py
  plugwise/legacy/helper.py
  plugwise/legacy/smile.py
  plugwise/smile.py
  tests/test_init.py
Due: userdata, pylint

Return remaining testcases
  tests/test_legacy_anna.py
  tests/test_legacy_p1.py
  tests/test_legacy_stretch.py
  tests/test_p1.py
Due: userdata

Another fix
  scripts/manual_fixtures.py
Due: userdata

Fix counting in _appliance_measurements()
  plugwise/helper.py
Due: userdata, pylint

Update manual_fixtures script
  scripts/manual_fixtures.py
Due: userdata

Save updated fixtures
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
  fixtures/m_adam_jip/all_data.json
  fixtures/m_adam_multiple_devices_per_zone/all_data.json
  fixtures/m_anna_heatpump_cooling/all_data.json
  fixtures/m_anna_heatpump_idle/all_data.json
Due: none

Fix test-code
  tests/test_adam.py
  tests/test_init.py
Due: userdata

Fix missed
  plugwise/common.py
Due: userdata, pylint

Improve counting of tested entities, tests/asserts
  tests/test_init.py
Due: userdata

Remove new device
  scripts/manual_fixtures.py
Due: userdata

Save
  fixtures/anna_without_boiler_fw441/all_data.json
  tests/data/anna/anna_v4_no_tag.json
  tests/test_anna.py
Due: userdata

Save updated fixture and test-json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  tests/data/adam/adam_multiple_devices_per_zone.json
Due: none

Reduce complexity
  plugwise/helper.py
Due: userdata, pylint

Fix return
  plugwise/helper.py
Due: userdata, pylint

Modify adam_multiple_devs-per_zone
  tests/data/adam/adam_multiple_devices_per_zone.json
Due: none

Modify related userdata
  userdata/adam_multiple_devices_per_zone/core.domain_objects.xml
Due: none

Fixes
  plugwise/common.py
  plugwise/legacy/helper.py
Due: userdata, pylint

Manual_fixtures script fix
  scripts/manual_fixtures.py
Due: userdata

Return other Adam testcases
  tests/test_adam.py
Due: userdata

Enable manual fixture generation
  scripts/tests_and_coverage.sh
Due: none

Revert full test-output
  scripts/tests_and_coverage.sh
Due: none

Add manufacturer and model for zone and switchgroup
  plugwise/common.py
  plugwise/helper.py
Due: userdata, pylint

Save updated fixtures
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
  fixtures/adam_plus_anna/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_zone_per_device/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
  fixtures/m_adam_jip/all_data.json
  fixtures/m_adam_multiple_devices_per_zone/all_data.json
  fixtures/stretch_v23/all_data.json
  fixtures/stretch_v31/all_data.json
Due: none

Return to devices in the output data
  plugwise/__init__.py
  plugwise/constants.py
  plugwise/legacy/smile.py
  plugwise/smile.py
  tests/test_init.py
Due: userdata, pylint

Save updated fixtures
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
  fixtures/adam_plus_anna/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_zone_per_device/all_data.json
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_cooling/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_elga_no_cooling/all_data.json
  fixtures/anna_heatpump_cooling/all_data.json
  fixtures/anna_heatpump_cooling_fake_firmware/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
  fixtures/anna_loria_cooling_active/all_data.json
  fixtures/anna_loria_driessens/all_data.json
  fixtures/anna_loria_heating_idle/all_data.json
  fixtures/anna_v4/all_data.json
  fixtures/anna_v4_dhw/all_data.json
  fixtures/anna_v4_no_tag/all_data.json
  fixtures/anna_without_boiler_fw441/all_data.json
  fixtures/legacy_anna/all_data.json
  fixtures/legacy_anna_2/all_data.json
  fixtures/p1v4_442_single/all_data.json
  fixtures/p1v4_442_triple/all_data.json
  fixtures/smile_p1_v2/all_data.json
  fixtures/smile_p1_v2_2/all_data.json
  fixtures/stretch_v23/all_data.json
  fixtures/stretch_v27_no_domain/all_data.json
  fixtures/stretch_v31/all_data.json
Due: none

Update manual-fixtures script
  scripts/manual_fixtures.py
Due: userdata

Save updated manual fixtures
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
  fixtures/m_adam_jip/all_data.json
  fixtures/m_adam_multiple_devices_per_zone/all_data.json
  fixtures/m_anna_heatpump_cooling/all_data.json
  fixtures/m_anna_heatpump_idle/all_data.json
Due: none

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
