Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Add missing
  plugwise/__init__.py
Due: userdata, pylint

Add missed new_state as input
  plugwise/__init__.py
Due: userdata, pylint

Pass missed output
  plugwise/__init__.py
Due: userdata, pylint

Add missed name as input
  plugwise/__init__.py
Due: userdata, pylint

Fix docstring
  plugwise/__init__.py
Due: userdata, pylint

Blacked
  plugwise/__init__.py
Due: userdata, pylint

Bump CACHE_VERSION
  .github/workflows/verify.yml
Due: none

Store last_active for legacy anna
  plugwise/helper.py
Due: userdata, pylint

Use self._last_active to find the schedule-name
  plugwise/__init__.py
Due: userdata, pylint

Update more tests
  tests/test_smile.py
Due: userdata

Again remove unused import
  plugwise/constants.py
Due: userdata, pylint

Fix
  plugwise/helper.py
Due: userdata, pylint

Remove location/loc_id as input, not used
  plugwise/helper.py
Due: userdata, pylint

Blacked
  plugwise/helper.py
  tests/test_smile.py
Due: userdata, pylint

smile, not self
  tests/test_smile.py
Due: userdata

Fix typo
  tests/test_smile.py
Due: userdata

One more
  tests/test_smile.py
Due: userdata

Save updated fixtures
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
  fixtures/adam_plus_anna/all_data.json
  fixtures/adam_plus_anna_copy_with_error_domain_added/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_zone_per_device/all_data.json
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_cooling/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_heatpump_cooling/all_data.json
  fixtures/anna_heatpump_cooling_fake_firmware/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
  fixtures/anna_loria_cooling_active/all_data.json
  fixtures/anna_loria_heating_idle/all_data.json
  fixtures/anna_v4/all_data.json
  fixtures/anna_v4_dhw/all_data.json
  fixtures/anna_v4_no_tag/all_data.json
  fixtures/anna_without_boiler_fw3/all_data.json
  fixtures/anna_without_boiler_fw4/all_data.json
  fixtures/anna_without_boiler_fw42/all_data.json
  fixtures/legacy_anna/all_data.json
  fixtures/legacy_anna_2/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
  fixtures/m_anna_heatpump_cooling/all_data.json
  fixtures/m_anna_heatpump_idle/all_data.json
Due: none

Fix 1st testcase
  tests/test_smile.py
Due: userdata

Fix
  tests/test_smile.py
Due: userdata

Update more tests 2
  tests/test_smile.py
Due: userdata

Fix typo
  plugwise/helper.py
Due: userdata, pylint

Correct device-items assert
  tests/test_smile.py
Due: userdata

Should be is None
  tests/test_smile.py
Due: userdata

Reduce function-vars
  plugwise/helper.py
Due: userdata, pylint

Fix another
  tests/test_smile.py
Due: userdata

Clean up util.py
  plugwise/util.py
Due: userdata, pylint

Fix counting
  plugwise/__init__.py
Due: userdata, pylint

Remove unused constant
  plugwise/constants.py
Due: userdata, pylint

More clean up
  plugwise/helper.py
Due: userdata, pylint

Finish updates
  tests/test_smile.py
Due: userdata

Starting to clean up
  plugwise/__init__.py
  plugwise/helper.py
Due: userdata, pylint

Fix another return
  plugwise/helper.py
Due: userdata, pylint

Remove no longer used imports
  plugwise/util.py
Due: userdata, pylint

Fix ident
  plugwise/__init__.py
Due: userdata, pylint

Clean up helper.py
  plugwise/helper.py
Due: userdata, pylint

Fix another device-items assert
  tests/test_smile.py
Due: userdata

Update CHANGELOG
  CHANGELOG.md
Due: none

Ffrix
  tests/test_smile.py
Due: userdata

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
