Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Add link to issue
  CHANGELOG.md
Due: none

Cover testing of max_dwh_temperature
  tests/test_init.py
Due: userdata

Bump to v0.38.3 release-version
  pyproject.toml
Due: none

Handle setting and test max_dwh_temperature correctly
  plugwise/smile.py
  tests/test_init.py
Due: userdata, pylint

Fix
  tests/test_init.py
Due: userdata

fixup: core_119686 Python code fixed using ruff
  plugwise/smile.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump to v0.37.4 release-version
  pyproject.toml
Due: none

Release as v 0.37.4.1
  pyproject.toml
Due: none

Also update CHANGELOG
  CHANGELOG.md
Due: none

Enable merging for release-v0.37.4 branch
  .github/workflows/merge.yml
Due: none

Follow beta/core with uv
  requirements_test.txt
  scripts/tests_and_coverage.sh
  tests/INIT.md
Due: none

loosen restrictions
  requirements_test.txt
Due: none

Workaround for aiohttp
  patch/aiohttp310.patch
  scripts/tests_and_coverage.sh
Due: none

Workaround for aiohttp
  scripts/tests_and_coverage.sh
Due: none

Ruff no longer accepts just path
  .github/workflows/verify.yml
Due: none

Include aiohttp patch in verify
  .github/workflows/verify.yml
  CHANGELOG.md
Due: none

Include aiohttp patch in verify
  .github/workflows/verify.yml
Due: none

Replace prettier with biome
  .pre-commit-config.yaml
  .prettierignore
Due: none

Remove workarounds (HA-core updated to aiohttp 3.10.1
  CHANGELOG.md
  scripts/tests_and_coverage.sh
Due: none

Remove stale patches
  patch/aiohttp310.patch
Due: none

Bump to v1.0.0 formal release-version
  pyproject.toml
Due: none

Cleanup prettier
  package.json
  requirements_test.txt
Due: none

Add battery binary_sensor for devices with a battery
  plugwise/util.py
Due: userdata, pylint

Update device-asserts
  tests/test_adam.py
Due: userdata

Save updated fixtures
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_zone_per_device/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
  fixtures/m_adam_jip/all_data.json
  fixtures/m_adam_multiple_devices_per_zone/all_data.json
Due: none

Find MAC address of device with low battery
  plugwise/helper.py
Due: userdata, pylint

Adam_plus_anna_new: add battery-low notification
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: none

Update corresponding test-json
  tests/data/adam/adam_plus_anna_new.json
Due: none

Save updated fixtures
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
Due: none

Full test output
  scripts/tests_and_coverage.sh
Due: none

Correct regex
  plugwise/helper.py
Due: userdata, pylint

Filter out battery-low notification
  plugwise/helper.py
Due: userdata, pylint

Revert "Update corresponding test-json"
  tests/data/adam/adam_plus_anna_new.json
Due: none

Ruff fix
  plugwise/helper.py
Due: userdata, pylint

Save updated fixtures, again
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
Due: none

Remove no longer valud comment
  plugwise/smile.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
