Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Legacy: rename to _home_loc_value as well
  plugwise/legacy/helper.py
Due: userdata, pylint

Add clarifying comment
  plugwise/util.py
Due: userdata, pylint

Simplify
  plugwise/helper.py
Due: userdata, pylint

Simplify legacy too
  plugwise/legacy/helper.py
Due: userdata, pylint

Full var name
  plugwise/helper.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Back to normal test-output
  scripts/tests_and_coverage.sh
Due: none

Extend CHANGELOG
  CHANGELOG.md
Due: none

Remove try-except from format_measure, exception never happens
  plugwise/util.py
Due: userdata, pylint

Return int-typing
  plugwise/util.py
Due: userdata, pylint

Improve comment
  plugwise/legacy/helper.py
Due: userdata, pylint

Update anna_elga_2 userdata with added inactive control_state
  userdata/anna_elga_2/core.domain_objects.xml
  userdata/anna_elga_2_cooling/core.domain_objects.xml
  userdata/anna_elga_2_schedule_off/core.domain_objects.xml
Due: none

Perform a single find-action
  plugwise/helper.py
Due: userdata, pylint

Add missed device-item-count
  plugwise/data.py
Due: userdata, pylint

Save updated fixtures
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_cooling/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_elga_no_cooling/all_data.json
  fixtures/anna_heatpump_cooling/all_data.json
  fixtures/anna_heatpump_cooling_fake_firmware/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
  fixtures/anna_loria_cooling_active/all_data.json
  fixtures/anna_loria_driessens/all_data.json
  fixtures/anna_loria_heating_idle/all_data.json
  fixtures/anna_v4/all_data.json
  fixtures/anna_v4_dhw/all_data.json
  fixtures/anna_v4_no_tag/all_data.json
  fixtures/anna_without_boiler_fw441/all_data.json
  fixtures/m_anna_heatpump_cooling/all_data.json
  fixtures/m_anna_heatpump_idle/all_data.json
Due: none

Update anna-device-item asserts
  tests/test_anna.py
Due: userdata

Refresh anna+elga2 userdata
  userdata/anna_elga_2/core.domain_objects.xml
  userdata/anna_elga_2/old_core.domain_objects.xml
Due: none

Refresh all anna_elga_2 related
  fixtures/anna_elga_2/all_data.json
  tests/data/anna/anna_elga_2.json
  tests/test_anna.py
Due: userdata

Line up json-headers
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
  tests/data/adam/adam_plus_anna_new.json
  tests/data/adam/adam_plus_anna_new_UPDATED_DATA.json
  tests/data/adam/adam_plus_anna_new_regulation_off.json
  tests/data/anna/anna_elga_2_cooling.json
  tests/data/anna/anna_elga_2_cooling_UPDATED_DATA.json
  tests/data/anna/anna_elga_2_schedule_off.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_cooling.json
  tests/data/anna/anna_heatpump_cooling_fake_firmware.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_heatpump_heating_UPDATED_DATA.json
  tests/data/anna/anna_loria_cooling_active.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_loria_heating_idle.json
  tests/data/anna/anna_v4.json
  tests/data/anna/anna_v4_UPDATED_DATA.json
  tests/data/anna/anna_v4_dhw.json
  tests/data/anna/anna_v4_no_tag.json
  tests/data/anna/anna_without_boiler_fw441.json
  tests/data/anna/legacy_anna.json
  tests/data/anna/legacy_anna_2.json
  tests/data/p1/p1v4.json
  tests/data/p1/p1v4_442_single.json
  tests/data/p1/p1v4_442_single_UPDATED_DATA.json
  tests/data/p1/p1v4_442_triple.json
  tests/data/p1/smile_p1_v2.json
  tests/data/p1/smile_p1_v2_2.json
  tests/data/p1/smile_p1_v2_2_UPDATED_DATA.json
  tests/data/stretch/stretch_v23.json
  tests/data/stretch/stretch_v27_no_domain.json
  tests/data/stretch/stretch_v31.json
  tests/data/stretch/stretch_v31_UPDATED_DATA.json
Due: none

Revert updating older xml-files
  userdata/anna_elga_2_cooling/core.domain_objects.xml
  userdata/anna_elga_2_schedule_off/core.domain_objects.xml
Due: none

Move self.therms_with_offset_func init
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, pylint

Improve main function docstrings
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

More docstring improvements
  plugwise/__init__.py
Due: userdata, pylint

Revert "More docstring improvements"
  plugwise/__init__.py
Due: userdata, pylint

Revert "Improve main function docstrings"
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Revert "Move self.therms_with_offset_func init"
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, pylint

More docstring improvements
  plugwise/__init__.py
  plugwise/legacy/smile.py
Due: userdata, pylint

Rework manual_fixtures-script
  scripts/manual_fixtures.py
Due: userdata

Introduce Smile properties
  plugwise/__init__.py
  plugwise/data.py
  plugwise/helper.py
  plugwise/legacy/data.py
  plugwise/legacy/helper.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Adapt testcode
  tests/test_init.py
Due: userdata

Fix heater_id
  plugwise/__init__.py
Due: userdata, pylint

Adapt testing
  tests/test_init.py
Due: userdata

Fix non-thermostats
  plugwise/__init__.py
Due: userdata, pylint

Implement ClientSession-related suggestion
  plugwise/smilecomm.py
Due: userdata, pylint

Simplify fixtures and filenames
  tests/test_init.py
Due: userdata

Adapt properties accordingly
  plugwise/__init__.py
Due: userdata, pylint

Fixes
  plugwise/constants.py
  plugwise/helper.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
