Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

.pre-commit-config.yaml:

ci:
  skip: [pylint]
  submodules: true

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.10

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,ether,farenheit,hist,iff,iif,ines,ist,lightsensor,mut,nd,pres,referer,rime,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,iam,incomfort,ba,haa,pullrequests
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.10.0
          - pyflakes==3.0.1
          - flake8-docstrings==1.6.0
          - pydocstyle==6.1.1
          - flake8-comprehensions==3.10.1
          - flake8-noqa==1.3.0
          - mccabe==0.7.0
        files: ^(plugwise|tests)/.+\.py$
        args: ["--verbose", "--append-config=setup.cfg"]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.29.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.4
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.5.1
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(plugwise|tests)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/$
      - id: pylint
        name: pylint
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^plugwise/.+\.py$

Recalculate electricity_peak/off_peak_interval values
  plugwise/helper.py
Due: userdata, pylint

Limit to legacy P1
  plugwise/helper.py
Due: userdata, pylint

Blacked
  plugwise/helper.py
Due: userdata, pylint

Bump to v0.27.7a0 test-version
  pyproject.toml
Due: none

Correct walrusses
  plugwise/helper.py
Due: userdata, pylint

Ignore mypy errors
  plugwise/helper.py
Due: userdata, pylint

Add debugging
  plugwise/helper.py
Due: userdata, pylint

Bump to a1
  pyproject.toml
Due: none

Improve logic
  plugwise/helper.py
Due: userdata, pylint

Correct
  plugwise/helper.py
Due: userdata, pylint

Bump to a2
  pyproject.toml
Due: none

Handle receiving the same value
  plugwise/helper.py
Due: userdata, pylint

Bump to a3
  pyproject.toml
Due: none

Extend logic to cover all consumed and produced cases
  plugwise/helper.py
Due: userdata, pylint

Bump to a4
  pyproject.toml
Due: none

Correct storing old values
  plugwise/helper.py
Due: userdata, pylint

Bump to a5
  pyproject.toml
Due: none

More debugging
  plugwise/helper.py
Due: userdata, pylint

Make sure to always output the derived value
  plugwise/helper.py
Due: userdata, pylint

Bump to a6
  pyproject.toml
Due: none

Correct from W/5min to W/h
  plugwise/helper.py
Due: userdata, pylint

Remove debug logging
  plugwise/helper.py
Due: userdata, pylint

Bump to a7
  pyproject.toml
Due: none

Update relevant test asserts
  tests/test_smile.py
Due: userdata

Revert "Update relevant test asserts"
  tests/test_smile.py
Due: userdata

Revert "Correct from W/5min to W/h"
  plugwise/helper.py
Due: userdata, pylint

Only update the interval-value per hour
  plugwise/helper.py
Due: userdata, pylint

Make sure to output the max value of each hour
  plugwise/helper.py
Due: userdata, pylint

Correct idents
  plugwise/helper.py
Due: userdata, pylint

fixup: p1v2-process Python code reformatted using Black
  plugwise/helper.py
Due: userdata, pylint

Bump to a8
  pyproject.toml
Due: none

Improve and simplify
  plugwise/helper.py
Due: userdata, pylint

Bump to a9
  pyproject.toml
Due: none

Handle value is 0
  plugwise/helper.py
Due: userdata, pylint

Bump to a10
  pyproject.toml
Due: none

Optimize
  plugwise/helper.py
Due: userdata, pylint

Don't break, continue
  plugwise/helper.py
Due: userdata, pylint
