Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: Validating userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: Running MyPy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: PyLinting
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Chores
  .github/workflows/verify.yml
  .markdownlint.yaml
  .pre-commit-config.yaml
  .pymarkdown
  CHANGELOG.md
  biome.json
  plugwise/legacy/smile.py
  plugwise/smile.py
  requirements_commit.txt
  scripts/manual_fixtures.py
  scripts/setup.sh
  scripts/setup_test.sh
  scripts/tests_and_coverage.sh
Due: userdata, pylint

Remove stale biome config
  biome.json
Due: none

CI fix
  .github/workflows/verify.yml
Due: none

CP review
  CHANGELOG.md
  requirements_commit.txt
  scripts/setup.sh
  scripts/setup_test.sh
Due: none

Move debug-logger
  plugwise/helper.py
Due: userdata, pylint

Test the added userdata
  tests/data/adam/adam_jvonk.json
  tests/test_adam.py
Due: userdata

Add JVonk userdata
  userdata/adam_jvonk/core.domain_objects.xml
Due: none

Debug
  plugwise/helper.py
Due: userdata, pylint

Guard for missing thermostat data
  plugwise/helper.py
Due: userdata, pylint

Update logger-message, remove test-debug-logger
  fixtures/adam_heatpump_cooling/data.json
  fixtures/adam_jip/data.json
  fixtures/adam_jvonk/data.json
  fixtures/adam_multiple_devices_per_zone/data.json
  fixtures/adam_onoff_cooling_fake_firmware/data.json
  fixtures/adam_plus_anna/data.json
  fixtures/adam_plus_anna_new/data.json
  fixtures/adam_plus_anna_new_regulation_off/data.json
  fixtures/adam_zone_per_device/data.json
  fixtures/anna_elga_2/data.json
  fixtures/anna_elga_2_cooling/data.json
  fixtures/anna_elga_2_schedule_off/data.json
  fixtures/anna_elga_no_cooling/data.json
  fixtures/anna_heatpump_cooling/data.json
  fixtures/anna_heatpump_cooling_fake_firmware/data.json
  fixtures/anna_heatpump_heating/data.json
  fixtures/anna_loria_cooling_active/data.json
  fixtures/anna_loria_driessens/data.json
  fixtures/anna_loria_heating_idle/data.json
  fixtures/anna_p1/data.json
  fixtures/anna_v4/data.json
  fixtures/anna_v4_dhw/data.json
  fixtures/anna_v4_no_tag/data.json
  fixtures/anna_without_boiler_fw441/data.json
  fixtures/legacy_anna/data.json
  fixtures/legacy_anna_2/data.json
  fixtures/stretch_v23/data.json
  plugwise/helper.py
Due: userdata, pylint

Correct return
  plugwise/helper.py
Due: userdata, pylint

Save reformatted files
  fixtures/m_adam_cooling/data.json
  fixtures/m_adam_heating/data.json
  fixtures/m_adam_jip/data.json
  fixtures/m_adam_multiple_devices_per_zone/data.json
  fixtures/m_anna_heatpump_cooling/data.json
  fixtures/m_anna_heatpump_idle/data.json
Due: none

Rename folders
  tests/data/adam/adam_bad_thermostat.json
  tests/test_adam.py
  userdata/adam_bad_thermostat/core.domain_objects.xml
Due: userdata

Save added fixture
  fixtures/adam_bad_thermostat/data.json
Due: none

Copy testdata from fixture
  tests/data/adam/adam_bad_thermostat.json
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Use get() to avoid potential error-case, improve message
  plugwise/helper.py
Due: userdata, pylint

Clean up
  fixtures/adam_jvonk/data.json
Due: none

Set to v1.11.3 release-version
  CHANGELOG.md
  pyproject.toml
Due: none

Shorten added userdata
  userdata/adam_bad_thermostat/core.domain_objects.xml
Due: none

Update related json-files
  fixtures/adam_bad_thermostat/data.json
  tests/data/adam/adam_bad_thermostat.json
Due: none

Improve CHANGELOG
  CHANGELOG.md
Due: none

Improve testcase as suggested
  tests/test_adam.py
Due: userdata

Add firmware version to Emma userdata
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: none

Update item-count, save updated fixture
  fixtures/adam_plus_anna_new/data.json
  tests/test_adam.py
Due: userdata

Also update corresponding test-json
  tests/data/adam/adam_plus_anna_new.json
Due: none

Save updated fixtures
  fixtures/m_adam_cooling/data.json
  fixtures/m_adam_heating/data.json
Due: none

Further progress
  plugwise/common.py
  plugwise/helper.py
  plugwise/model.py
  plugwise/smile.py
Due: userdata, pylint

More progress
  plugwise/__init__.py
  plugwise/helper.py
  plugwise/model.py
  plugwise/smile.py
  plugwise/smilecomm.py
  tests/test_init.py
Due: userdata, pylint

Further progress - appliance typos
  plugwise/helper.py
Due: userdata, pylint

Some progress
  plugwise/__init__.py
  plugwise/helper.py
  plugwise/model.py
  plugwise/smile.py
Due: userdata, pylint

Initial typed xml reading attempt (incomplete)
  CHANGELOG.md
  plugwise/helper.py
  plugwise/model.py
  plugwise/smile.py
  plugwise/smilecomm.py
Due: userdata, pylint

Further cleaning
  plugwise/common.py
  plugwise/constants.py
  plugwise/helper.py
  plugwise/model.py
Due: userdata, pylint

Contents -> content
  plugwise/common.py
  plugwise/helper.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
