Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Try
  plugwise/helper.py
Due: userdata, pylint

Try 2
  plugwise/helper.py
Due: userdata, pylint

Let _object_value() handle string
  plugwise/helper.py
Due: userdata, pylint

Debug
  plugwise/helper.py
  scripts/tests_and_coverage.sh
Due: userdata, pylint

Fix
  plugwise/helper.py
Due: userdata, pylint

Correct some attrs
  plugwise/constants.py
Due: userdata, pylint

Use attr for formatting
  plugwise/common.py
  plugwise/helper.py
Due: userdata, pylint

Fix humidity
  plugwise/helper.py
Due: userdata, pylint

Try 3
  plugwise/helper.py
Due: userdata, pylint

Debug
  plugwise/helper.py
Due: userdata, pylint

Try 4
  plugwise/helper.py
Due: userdata, pylint

Another attr-fix
  plugwise/util.py
Due: userdata, pylint

Simplify
  plugwise/helper.py
Due: userdata, pylint

Collect as weather-dict
  plugwise/helper.py
Due: userdata, pylint

Update Adam testdata, device-items
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_multiple_devices_per_zone.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
  tests/data/adam/adam_plus_anna.json
  tests/data/adam/adam_plus_anna_new.json
  tests/data/adam/adam_plus_anna_new_regulation_off.json
  tests/data/adam/adam_zone_per_device.json
  tests/test_adam.py
Due: userdata

Update Anna testdata, device-items
  tests/data/anna/anna_elga_2.json
  tests/data/anna/anna_elga_2_cooling.json
  tests/data/anna/anna_elga_2_cooling_UPDATED_DATA.json
  tests/data/anna/anna_elga_2_schedule_off.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_cooling.json
  tests/data/anna/anna_heatpump_cooling_fake_firmware.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_loria_cooling_active.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_loria_heating_idle.json
  tests/data/anna/anna_v4.json
  tests/data/anna/anna_v4_UPDATED_DATA.json
  tests/data/anna/anna_v4_dhw.json
  tests/data/anna/anna_v4_no_tag.json
  tests/data/anna/anna_without_boiler_fw441.json
  tests/test_anna.py
Due: userdata

Revert attrs -> attr
  plugwise/common.py
  plugwise/helper.py
  plugwise/util.py
Due: userdata, pylint

Remove debugging
  plugwise/helper.py
Due: userdata, pylint

Add typing
  plugwise/constants.py
Due: userdata, pylint

Further typing fixes
  plugwise/common.py
  plugwise/constants.py
  plugwise/helper.py
  plugwise/util.py
Due: userdata, pylint

Update manual_fixtures script
  scripts/manual_fixtures.py
Due: userdata

Save updated fixtures
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
  fixtures/adam_plus_anna/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_plus_anna_new_regulation_off/all_data.json
  fixtures/adam_zone_per_device/all_data.json
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_cooling/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_elga_no_cooling/all_data.json
  fixtures/anna_heatpump_cooling/all_data.json
  fixtures/anna_heatpump_cooling_fake_firmware/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
  fixtures/anna_loria_cooling_active/all_data.json
  fixtures/anna_loria_driessens/all_data.json
  fixtures/anna_loria_heating_idle/all_data.json
  fixtures/anna_v4/all_data.json
  fixtures/anna_v4_dhw/all_data.json
  fixtures/anna_v4_no_tag/all_data.json
  fixtures/anna_without_boiler_fw441/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
  fixtures/m_adam_jip/all_data.json
  fixtures/m_adam_multiple_devices_per_zone/all_data.json
  fixtures/m_anna_heatpump_cooling/all_data.json
  fixtures/m_anna_heatpump_idle/all_data.json
Due: none

Improve
  plugwise/helper.py
Due: userdata, pylint

Revert missed attrs_uom change
  plugwise/util.py
Due: userdata, pylint

Back to normal test-output
  scripts/tests_and_coverage.sh
Due: none

Optimize
  plugwise/helper.py
Due: userdata, pylint

Add comment
  plugwise/util.py
Due: userdata, pylint

Bump to v1.7.0a0 test-version
  pyproject.toml
Due: none

Make solar_irradiance a sensor
  plugwise/helper.py
Due: userdata, pylint

Update testdata jsons
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_multiple_devices_per_zone.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
  tests/data/adam/adam_plus_anna.json
  tests/data/adam/adam_plus_anna_new.json
  tests/data/adam/adam_plus_anna_new_regulation_off.json
  tests/data/adam/adam_zone_per_device.json
  tests/data/anna/anna_elga_2.json
  tests/data/anna/anna_elga_2_cooling.json
  tests/data/anna/anna_elga_2_cooling_UPDATED_DATA.json
  tests/data/anna/anna_elga_2_schedule_off.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_cooling.json
  tests/data/anna/anna_heatpump_cooling_fake_firmware.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_loria_cooling_active.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_loria_heating_idle.json
  tests/data/anna/anna_v4.json
  tests/data/anna/anna_v4_UPDATED_DATA.json
  tests/data/anna/anna_v4_dhw.json
  tests/data/anna/anna_v4_no_tag.json
  tests/data/anna/anna_without_boiler_fw441.json
Due: none

Correct typing
  plugwise/constants.py
  plugwise/helper.py
Due: userdata, pylint

Bump to a1
  pyproject.toml
Due: none

Debug - full test-output
  plugwise/helper.py
  scripts/tests_and_coverage.sh
Due: userdata, pylint

_get_p1_smartmeter_info(): use already known home-location
  plugwise/helper.py
Due: userdata, pylint

Use the _home_location where applicable
  plugwise/helper.py
Due: userdata, pylint

Legacy: change to _home_loc_id
  plugwise/legacy/helper.py
Due: userdata, pylint

Improve comment
  plugwise/legacy/helper.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
