Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$

update test-jsons
  tests/data/anna/anna_elga_2_cooling.json
  tests/data/anna/anna_elga_2_cooling_UPDATED_DATA.json
  tests/data/anna/anna_elga_2_schedule_off.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_cooling.json
  tests/data/anna/anna_heatpump_cooling_fake_firmware.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_heatpump_heating_UPDATED_DATA.json
  tests/data/anna/anna_loria_cooling_active.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_loria_heating_idle.json
Due: none

Add current (temperature) to dhw_temperature dict
  plugwise/helper.py
Due: userdata, pylint

Correct items_count
  plugwise/helper.py
Due: userdata, pylint

Update entity_items assert
  tests/test_adam.py
Due: userdata

Add tinker_actuator_temp test for adam_jip
  tests/test_adam.py
Due: userdata

Save updated fixtures
  fixtures/adam_bad_thermostat/data.json
  fixtures/adam_heatpump_cooling/data.json
  fixtures/adam_jip/data.json
  fixtures/adam_onoff_cooling_fake_firmware/data.json
  fixtures/adam_plus_anna/data.json
  fixtures/adam_plus_anna_new/data.json
  fixtures/adam_plus_anna_new_regulation_off/data.json
  fixtures/anna_elga_2_cooling/data.json
  fixtures/anna_elga_2_schedule_off/data.json
  fixtures/anna_elga_no_cooling/data.json
  fixtures/anna_heatpump_cooling/data.json
  fixtures/anna_heatpump_cooling_fake_firmware/data.json
  fixtures/anna_heatpump_heating/data.json
  fixtures/anna_loria_cooling_active/data.json
  fixtures/anna_loria_driessens/data.json
  fixtures/anna_loria_heating_idle/data.json
  fixtures/anna_v4/data.json
  fixtures/anna_v4_dhw/data.json
  fixtures/anna_v4_no_tag/data.json
  fixtures/m_adam_cooling/data.json
  fixtures/m_adam_heating/data.json
  fixtures/m_adam_heating_off_schedule/data.json
  fixtures/m_adam_jip/data.json
  fixtures/m_anna_heatpump_cooling/data.json
  fixtures/m_anna_heatpump_idle/data.json
Due: none

Change dhw_mode off to eco, dhw heating is never off unless specificly stated
  plugwise/helper.py
Due: userdata, pylint

Update test-jsons
  tests/data/anna/anna_v4_UPDATED_DATA.json
  tests/data/anna/anna_v4_dhw.json
Due: none

Add current to maximum_boiler_temperature dict
  plugwise/helper.py
Due: userdata, pylint

Update for dhw_temperature and debug
  plugwise/helper.py
Due: userdata, pylint

Legacy has no dhw_temperature dict
  plugwise/legacy/helper.py
Due: userdata, pylint

Save updated test-jsons
  tests/data/adam/adam_bad_thermostat.json
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
  tests/data/adam/adam_plus_anna.json
  tests/data/adam/adam_plus_anna_new.json
  tests/data/adam/adam_plus_anna_new_regulation_off.json
  tests/data/anna/anna_elga_2.json
  tests/data/anna/anna_elga_2_cooling.json
  tests/data/anna/anna_elga_2_cooling_UPDATED_DATA.json
  tests/data/anna/anna_elga_2_schedule_off.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_cooling.json
  tests/data/anna/anna_heatpump_cooling_fake_firmware.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_heatpump_heating_UPDATED_DATA.json
  tests/data/anna/anna_p1.json
  tests/data/anna/anna_v4.json
  tests/data/anna/anna_v4_UPDATED_DATA.json
  tests/data/anna/anna_v4_dhw.json
  tests/data/anna/anna_v4_no_tag.json
Due: none

Shorter maximum_boiler_temperature dict name
  plugwise/helper.py
Due: userdata, pylint

Update entity_items assert
  tests/test_anna.py
Due: userdata

Update manual_fixtures.py
  scripts/manual_fixtures.py
Due: userdata

Update set_number(), add case for boiler_temperature
  plugwise/smile.py
Due: userdata, pylint

Reduce complexity
  plugwise/helper.py
Due: userdata, pylint

Update test-json
  tests/data/anna/anna_v4.json
Due: none

Rename function name in test cases
  tests/test_adam.py
Due: userdata

Update CHANGELOG
  CHANGELOG.md
Due: none

Clean up legacy-helper.py as suggested
  plugwise/legacy/helper.py
Due: userdata, pylint

Update CHANGELOG, bump version to v1.13.0
  CHANGELOG.md
  pyproject.toml
Due: none

Also create boiler_temperature dict for legacy Anna
  plugwise/legacy/helper.py
Due: userdata, pylint

Save updated test-jsons, ruffed
  fixtures/legacy_anna/data.json
  fixtures/legacy_anna_2/data.json
  plugwise/legacy/helper.py
  tests/data/anna/legacy_anna.json
  tests/data/anna/legacy_anna_2.json
Due: userdata, pylint

Break out _create_special_dicts() as common function
  plugwise/common.py
  plugwise/helper.py
  plugwise/legacy/helper.py
Due: userdata, pylint

Set to v1.13.1 release version
  CHANGELOG.md
  pyproject.toml
Due: none

Don't remove _collect_dhw_modes()
  plugwise/helper.py
Due: userdata, pylint

Correct key related to replacing select_dhw_mode
  plugwise/data.py
Due: userdata, pylint

Adapt/revert _create_special_dicts() function
  plugwise/common.py
Due: userdata, pylint

Update entity_items count
  tests/test_adam.py
Due: userdata

Revert some changes in legacy helper.py
  plugwise/legacy/helper.py
Due: userdata, pylint

Update test-jsons
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_plus_anna_new_regulation_off.json
Due: none

Add guarding for where switches dict is not yet defined
  plugwise/helper.py
Due: userdata, pylint

More reverts in helper.py
  plugwise/helper.py
Due: userdata, pylint
