Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Revert removal of input typing
  plugwise/__init__.py
Due: userdata, pylint

More sorting of arguments
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

More debug
  plugwise/util.py
Due: userdata, pylint

Clean up
  plugwise/helper.py
Due: userdata, pylint

Try 3
  plugwise/util.py
Due: userdata, pylint

Debug
  plugwise/util.py
Due: userdata, pylint

Add quick test for adam_g_o userdata
  tests/test_adam.py
Due: userdata

Fix relevant test-code
  tests/test_init.py
Due: userdata

Save updated fixtures
  fixtures/m_adam_jip/all_data.json
  fixtures/m_adam_multiple_devices_per_zone/all_data.json
Due: none

Update dev_class for Plugs to avoid double use
  plugwise/helper.py
  plugwise/util.py
Due: userdata, pylint

Bump to a2
  pyproject.toml
Due: none

More cleanup
  tests/data/adam/adam_g_o.json
Due: none

No need to remove heater_central without active device
  plugwise/common.py
Due: userdata, pylint

Extend adam_g_o.json
  tests/data/adam/adam_g_o.json
Due: none

Optimize
  plugwise/smile.py
  tests/test_init.py
Due: userdata, pylint

Implement suggestion
  plugwise/util.py
Due: userdata, pylint

Bump to v1.4.2a0 test-version
  pyproject.toml
Due: none

Debug logging & full test-output
  plugwise/legacy/helper.py
  scripts/tests_and_coverage.sh
Due: userdata, pylint

Clean up
  plugwise/util.py
Due: userdata, pylint

Proper sorting of main arguments
  plugwise/__init__.py
  plugwise/helper.py
Due: userdata, pylint

Change userdata for testing solution for Issue #739
  fixtures/adam_g_o/all_data.json
  tests/test_adam.py
  userdata/adam_g_o/core.domain_objects.xml
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: userdata

Try
  plugwise/util.py
Due: userdata, pylint

Update test-json
  tests/data/adam/adam_g_o.json
Due: none

Remove
  tests/test_adam.py
Due: userdata

Save updated fixture
  fixtures/adam_g_o/all_data.json
Due: none

Update test-case
  tests/test_adam.py
Due: userdata

Updates
  fixtures/stretch_v23/all_data.json
  tests/test_legacy_stretch.py
Due: userdata

Add
  tests/test_adam.py
Due: userdata

Remove debugging, back to short test-output
  plugwise/legacy/helper.py
  scripts/tests_and_coverage.sh
Due: userdata, pylint

Fix
  plugwise/legacy/helper.py
Due: userdata, pylint

Fix
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Update related test-json
  tests/data/adam/adam_plus_anna_new.json
Due: none

Save updated fixture
  fixtures/adam_plus_anna_new/all_data.json
Due: none

Try 2
  plugwise/util.py
Due: userdata, pylint

Update related dev_classes
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_multiple_devices_per_zone.json
  tests/data/adam/adam_plus_anna.json
  tests/data/adam/adam_plus_anna_new.json
  tests/data/adam/adam_zone_per_device.json
Due: none

Cleanup
  plugwise/__init__.py
Due: userdata, pylint

Add g-o-userdata
  userdata/adam_g_o/core.domain_objects.xml
Due: none

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
