Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

.pre-commit-config.yaml:

ci:
  # Defer autoupdate to quarterly (there is no 'off' button) to have renovate pick up first
  autoupdate_schedule: quarterly
  skip: [pylint, markdownlint, testing, fixtures]
  submodules: true

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.11

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.265
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests|scripts)/.+)?[^/]+\.py$
  #  Moved codespell configuration to setup.cfg as per 'all-files' issues not reading args
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.31.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.5.1
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(plugwise|tests)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/$
      - id: pylint
        name: pylint
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^plugwise/.+\.py$
      - id: testing
        name: "Local Testing - Performing Tests"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh test_and_coverage'
        language: script
        pass_filenames: false
      - id: fixtures
        name: "Fixture formatting"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh fixtures'
        language: script
        pass_filenames: false
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint

Try 10
  plugwise/data.py
  plugwise/smile_actual.py
Due: userdata, pylint

Fixes
  plugwise/smile_legacy.py
Due: userdata, pylint

Correct call to SmileAPI
  plugwise/__init__.py
Due: userdata, pylint

Add related imports
  plugwise/__init__.py
Due: userdata, pylint

Ruff fix
  plugwise/legacy/smile.py
Due: userdata, pylint

Try
  plugwise/helper.py
Due: userdata, pylint

Improve
  plugwise/legacy/smile.py
Due: userdata, pylint

Disable for now
  tests/test_init.py
Due: userdata

Remove _get_plugwise_notifications() for legacy devices
  plugwise/legacy/helper.py
  plugwise/legacy/smile.py
Due: userdata, pylint

Try
  plugwise/smile.py
Due: userdata, pylint

Remove legacy from function-name, remove commented out function
  plugwise/legacy/helper.py
Due: userdata, pylint

Clean-up 2
  plugwise/legacy/helper.py
Due: userdata, pylint

Fix 2
  plugwise/smile_legacy.py
Due: userdata, pylint

Fix3
  plugwise/smile.py
Due: userdata, pylint

Anna_loria_driessens fixes
  tests/data/anna/anna_loria_driessens.json
  tests/test_anna.py
Due: userdata

Unprotect _full_update_device()
  plugwise/__init__.py
  plugwise/smile_actual.py
  plugwise/smile_legacy.py
Due: userdata, pylint

Replace smile._cooling_enabled
  plugwise/helper.py
  tests/test_adam.py
  tests/test_anna.py
  tests/test_init.py
Due: userdata, pylint

Fix missed connect -> connect_legacy
  tests/test_init.py
Due: userdata

Try 6
  plugwise/__init__.py
Due: userdata, pylint

Fix 7
  tests/data/adam/adam_plus_anna.json
  userdata/adam_plus_anna/core.domain_objects.xml
Due: none

Try-except set_temperature()
  plugwise/__init__.py
  plugwise/smile_actual.py
Due: userdata, pylint

Fix 13
  tests/data/adam/adam_jip.json
Due: none

More _smile_legacy fixes
  plugwise/legacy/data.py
Due: userdata, pylint

Fix 21
  tests/data/anna/anna_v4_dhw.json
Due: none

Clean up 13
  plugwise/__init__.py
  plugwise/legacy/smile.py
Due: userdata, pylint

Clean up 10
  plugwise/legacy/helper.py
Due: userdata, pylint

Correct legacy set_switch_state()
  plugwise/legacy/smile.py
Due: userdata, pylint

Ruff fixes
  plugwise/legacy/helper.py
Due: userdata, pylint

Clean-up 3
  plugwise/legacy/helper.py
Due: userdata, pylint

Update updated userdata 3
  userdata/updated/anna_heatpump_heating/core.domain_objects.xml
Due: none

Remove vendor-model for test-coverage
  userdata/adam_plus_anna/core.domain_objects.xml
Due: none

Update userdata 7
  userdata/anna_elga_2/core.domain_objects.xml
Due: none

Try 4
  plugwise/__init__.py
Due: userdata, pylint

Fix 17
  tests/data/anna/anna_v4.json
Due: none

Re-enable
  tests/test_init.py
Due: userdata

Stretch tests: fix smile -> self
  tests/test_legacy_stretch.py
Due: userdata

Ruff --fix
  scripts/tests_and_coverage.sh
Due: none

Debug
  plugwise/smile.py
Due: userdata, pylint

Fix to CORE_LOCATIONS
  tests/test_init.py
Due: userdata

Add self.gateway_id
  plugwise/__init__.py
Due: userdata, pylint
