Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

.pre-commit-config.yaml:

ci:
  # Defer autoupdate to quarterly (there is no 'off' button) to have renovate pick up first
  autoupdate_schedule: quarterly
  skip: [pylint, markdownlint, testing, fixtures]
  submodules: true

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.11

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.265
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests|scripts)/.+)?[^/]+\.py$
  #  Moved codespell configuration to setup.cfg as per 'all-files' issues not reading args
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.31.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.5.1
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(plugwise|tests)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/$
      - id: pylint
        name: pylint
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^plugwise/.+\.py$
      - id: testing
        name: "Local Testing - Performing Tests"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh test_and_coverage'
        language: script
        pass_filenames: false
      - id: fixtures
        name: "Fixture formatting"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh fixtures'
        language: script
        pass_filenames: false
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint

Adapt relevant test-data
  tests/data/adam/adam_jip.json
  tests/data/anna/legacy_anna.json
Due: none

Adapt device-items count
  tests/test_adam.py
  tests/test_legacy_anna.py
Due: userdata

Don't output for legacy Anna too
  plugwise/legacy/data.py
Due: userdata, pylint

Add missing sensor to legacy_anna data-json
  tests/data/anna/legacy_anna.json
Due: none

Correct related device-items count
  tests/test_legacy_anna.py
Due: userdata

Also correct legacy_anna_2 data-json
  tests/data/anna/legacy_anna_2.json
Due: none

And related device-item count
  tests/test_legacy_anna.py
Due: userdata

Save refreshed fixtures
  fixtures/adam_jip/all_data.json
  fixtures/legacy_anna/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
  fixtures/m_adam_jip/all_data.json
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump to v0.37.7 release-version
  pyproject.toml
Due: none

Create m_adam_multiple_devices_per_zone fixture
  scripts/manual_fixtures.py
Due: userdata

Save new fixture
  fixtures/m_adam_multiple_devices_per_zone/all_data.json
Due: none

Start adding set_select() function
  plugwise/__init__.py
  plugwise/smile.py
Due: userdata, pylint

Add pragma: no cover's
  plugwise/__init__.py
Due: userdata, pylint

Further updates
  plugwise/__init__.py
  plugwise/smile.py
Due: userdata, pylint

Also implement for legacy Anna
  plugwise/legacy/smile.py
Due: userdata, pylint

Add test-cases I
  tests/test_init.py
Due: userdata

Fix typo
  plugwise/smile.py
Due: userdata, pylint

Fix selfs
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Adapt test-cases II
  tests/test_init.py
Due: userdata

Bump to v0.37.8a0 test-version
  pyproject.toml
Due: none

Add explaining comments
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Fix up comments
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Bump to v0.37.8 release-version
  pyproject.toml
Due: none

Correct args-order for set_schedule+state()
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Adapt related test
  tests/test_init.py
Due: userdata

Fix 2nd test
  tests/test_init.py
Due: userdata

Change var-name
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Bump to v0.37.9a0
  pyproject.toml
Due: none

Fix typing
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Clean up comments
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Bump to a1
  pyproject.toml
Due: none

Bump to v0.37.9 release-version
  pyproject.toml
Due: none

Update README.md
  README.md
Due: none

Add CodeRabbits suggestions
  README.md
Due: none

Try 3
  plugwise/helper.py
Due: userdata, pylint

Fix 2
  tests/test_init.py
Due: userdata
