Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Protect against incomplete data-collection
  plugwise/smile.py
Due: userdata, pylint

Try
  tests/test_init.py
Due: userdata

Fix
  plugwise/helper.py
Due: userdata, pylint

Ruffed
  plugwise/helper.py
Due: userdata, pylint

Add requests-post-method
  plugwise/helper.py
Due: userdata, pylint

And implement
  plugwise/__init__.py
  plugwise/smile.py
Due: userdata, pylint

Add testing for async_update-exceptions
  plugwise/__init__.py
  tests/test_adam.py
Due: userdata, pylint

Return to limited test-output
  scripts/tests_and_coverage.sh
Due: none

Add error-handling as suggested by coderabbitai
  plugwise/smile.py
Due: userdata, pylint

Shorten reboot_gateway() request-command
  plugwise/smile.py
Due: userdata, pylint

Improve comment, logging
  tests/test_adam.py
Due: userdata

Make the exception more specific
  plugwise/smile.py
Due: userdata, pylint

Add DataIncomplete exception
  plugwise/exceptions.py
Due: userdata, pylint

Remove DeviceTimeoutError exception, never used
  plugwise/exceptions.py
  tests/test_init.py
Due: userdata, pylint

Add reboot-key to gw_data for actual devices
  plugwise/data.py
Due: userdata, pylint

Fix
  tests/test_init.py
Due: userdata

Adapt CORE_GATEWAYS_TAIL-add_routes to POST
  tests/test_init.py
Due: userdata

Add negative tinker_reboot testcase
  tests/test_adam.py
Due: userdata

Fix
  tests/test_adam.py
Due: userdata

Bump to v0.38.0a4 test-version
  pyproject.toml
Due: none

Try 2
  tests/test_init.py
Due: userdata

Bump to a7
  pyproject.toml
Due: none

Update docstrings
  plugwise/__init__.py
Due: userdata, pylint

Save updated fixtures
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
  fixtures/adam_plus_anna/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_zone_per_device/all_data.json
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_cooling/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_elga_no_cooling/all_data.json
  fixtures/anna_heatpump_cooling/all_data.json
  fixtures/anna_heatpump_cooling_fake_firmware/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
  fixtures/anna_loria_cooling_active/all_data.json
  fixtures/anna_loria_driessens/all_data.json
  fixtures/anna_loria_heating_idle/all_data.json
  fixtures/anna_v4/all_data.json
  fixtures/anna_v4_dhw/all_data.json
  fixtures/anna_v4_no_tag/all_data.json
  fixtures/anna_without_boiler_fw441/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
  fixtures/m_adam_jip/all_data.json
  fixtures/m_adam_multiple_devices_per_zone/all_data.json
  fixtures/m_anna_heatpump_cooling/all_data.json
  fixtures/m_anna_heatpump_idle/all_data.json
  fixtures/p1v4/all_data.json
  fixtures/p1v4_442_single/all_data.json
  fixtures/p1v4_442_triple/all_data.json
Due: none

Bump to a5
  pyproject.toml
Due: none

Implement coderabbitai suggestion
  plugwise/exceptions.py
Due: userdata, pylint

Add POST to corner-case
  plugwise/helper.py
Due: userdata, pylint

Improve CHANGELOG
  CHANGELOG.md
Due: none

Fix 2 legacy
  tests/test_init.py
Due: userdata

Try 7
  plugwise/helper.py
Due: userdata, pylint

Add raise from exc
  plugwise/smile.py
Due: userdata, pylint

Make sure to return empty data after a KeyError
  plugwise/__init__.py
  plugwise/smile.py
Due: userdata, pylint

Try 10
  fixtures/adam_zone_per_device/all_data.json
  tests/test_init.py
Due: userdata

Try 5
  tests/test_init.py
Due: userdata

Try 9
  plugwise/helper.py
Due: userdata, pylint

Bump to a10
  pyproject.toml
Due: none

Rename exception to DataMissingError
  plugwise/__init__.py
  plugwise/exceptions.py
  plugwise/smile.py
Due: userdata, pylint

Change exception to KeyError
  plugwise/smile.py
Due: userdata, pylint

Try 6
  tests/test_init.py
Due: userdata

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
