Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: Validating userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: Running MyPy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: PyLinting
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Change `water_heater_mode` to `dhw_mode`
  plugwise/constants.py
  plugwise/data.py
  tests/data/adam/adam_bad_thermostat.json
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_loria_cooling_active.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_loria_heating_idle.json
  tests/data/anna/anna_v4.json
  tests/data/anna/anna_v4_UPDATED_DATA.json
  tests/data/anna/anna_v4_dhw.json
  tests/data/anna/anna_v4_no_tag.json
Due: userdata, pylint

Save updated fixtures
  fixtures/adam_bad_thermostat/data.json
  fixtures/adam_heatpump_cooling/data.json
  fixtures/adam_jip/data.json
  fixtures/adam_onoff_cooling_fake_firmware/data.json
  fixtures/anna_elga_no_cooling/data.json
  fixtures/anna_heatpump_heating/data.json
  fixtures/anna_loria_cooling_active/data.json
  fixtures/anna_loria_driessens/data.json
  fixtures/anna_loria_heating_idle/data.json
  fixtures/anna_v4/data.json
  fixtures/anna_v4_dhw/data.json
  fixtures/anna_v4_no_tag/data.json
  fixtures/m_adam_jip/data.json
  fixtures/m_anna_heatpump_cooling/data.json
  fixtures/m_anna_heatpump_idle/data.json
Due: none

Fix comment as suggested
  plugwise/data.py
Due: userdata, pylint

Update relevant test-json with water_heater_mode
  tests/data/adam/adam_bad_thermostat.json
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_loria_cooling_active.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_loria_heating_idle.json
  tests/data/anna/anna_v4.json
  tests/data/anna/anna_v4_UPDATED_DATA.json
  tests/data/anna/anna_v4_dhw.json
  tests/data/anna/anna_v4_no_tag.json
Due: none

Remove dhw_cm_switch from SwitchType and SmileSwitch classes
  plugwise/constants.py
Due: userdata, pylint

Save updated anna test-jsons
  tests/data/anna/anna_elga_2.json
  tests/data/anna/anna_elga_2_cooling.json
  tests/data/anna/anna_elga_2_cooling_UPDATED_DATA.json
  tests/data/anna/anna_elga_2_schedule_off.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_cooling.json
  tests/data/anna/anna_heatpump_cooling_fake_firmware.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_heatpump_heating_UPDATED_DATA.json
  tests/data/anna/anna_loria_cooling_active.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_loria_heating_idle.json
  tests/data/anna/anna_p1.json
  tests/data/anna/anna_v4.json
  tests/data/anna/anna_v4_UPDATED_DATA.json
  tests/data/anna/anna_v4_dhw.json
  tests/data/anna/anna_v4_no_tag.json
Due: none

Save entity_items updates
  tests/test_adam.py
Due: userdata

Fix entity_items count
  fixtures/adam_heatpump_cooling/data.json
  fixtures/adam_plus_anna_new_regulation_off/data.json
  tests/test_adam.py
Due: userdata

Improve old_measurement init, as suggested
  plugwise/helper.py
Due: userdata, pylint

Adapt comment to widened scope
  plugwise/helper.py
Due: userdata, pylint

Handle changed select and water_heater setters
  plugwise/smile.py
Due: userdata, pylint

Fix linter issue
  CHANGELOG.md
Due: none

Correct test-json
  tests/data/adam/adam_heatpump_cooling.json
Due: none

Update entity_items count
  tests/test_anna.py
Due: userdata

Update CHANGELOG
  CHANGELOG.md
Due: none

Update entity_items count
  fixtures/anna_v4/data.json
  tests/test_anna.py
Due: userdata

Ruffed
  plugwise/helper.py
Due: userdata, pylint

Improve 2
  plugwise/helper.py
Due: userdata, pylint

Solve complexity
  plugwise/helper.py
Due: userdata, pylint

Clean up, add comment
  plugwise/data.py
Due: userdata, pylint

Update testdata json
  tests/data/adam/adam_bad_thermostat.json
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
  tests/data/adam/adam_plus_anna.json
  tests/data/adam/adam_plus_anna_new.json
  tests/data/adam/adam_plus_anna_new_regulation_off.json
Due: none

Remove now invalid testcase
  tests/test_adam.py
Due: userdata

Update entity_items count
  fixtures/anna_v4_dhw/data.json
  fixtures/anna_v4_no_tag/data.json
  tests/test_anna.py
Due: userdata

Fix item_count
  fixtures/adam_bad_thermostat/data.json
  fixtures/adam_plus_anna_new/data.json
  plugwise/helper.py
Due: userdata, pylint

Save updated adam fixtures
  fixtures/adam_jip/data.json
  fixtures/adam_onoff_cooling_fake_firmware/data.json
  fixtures/adam_plus_anna/data.json
Due: none

Debug
  plugwise/data.py
  scripts/tests_and_coverage.sh
Due: userdata, pylint

Rename select_dhw_mode to water_heater_mode for applicable systems
  plugwise/data.py
Due: userdata, pylint

Revert SmileSwitches removal
  plugwise/constants.py
Due: userdata, pylint

Correct test-json
  tests/data/anna/anna_elga_no_cooling.json
Due: none

Don't overwrite select_dhw_mode
  plugwise/helper.py
Due: userdata, pylint

Improve
  plugwise/helper.py
Due: userdata, pylint

Save updated manual fixtures
  fixtures/m_adam_jip/data.json
  fixtures/m_anna_heatpump_cooling/data.json
  fixtures/m_anna_heatpump_idle/data.json
Due: none

Correct test-json
  tests/data/anna/anna_v4_UPDATED_DATA.json
Due: none

Back to normal test-output
  scripts/tests_and_coverage.sh
Due: none

Update constants
  plugwise/constants.py
Due: userdata, pylint

Save fixture updates
  fixtures/anna_elga_2/data.json
  fixtures/anna_elga_2_cooling/data.json
  fixtures/anna_elga_2_schedule_off/data.json
  fixtures/anna_elga_no_cooling/data.json
  fixtures/anna_heatpump_cooling/data.json
  fixtures/anna_heatpump_cooling_fake_firmware/data.json
  fixtures/anna_heatpump_heating/data.json
  fixtures/anna_loria_cooling_active/data.json
  fixtures/anna_loria_driessens/data.json
  fixtures/anna_loria_heating_idle/data.json
  fixtures/anna_p1/data.json
  fixtures/m_adam_cooling/data.json
  fixtures/m_adam_heating/data.json
  fixtures/m_adam_heating_off_schedule/data.json
  fixtures/m_adam_jip/data.json
  fixtures/m_anna_heatpump_cooling/data.json
  fixtures/m_anna_heatpump_idle/data.json
Due: none

Change dhw_cm_switch to _dhw_allowed_modes/select_dhw_mode
  plugwise/helper.py
Due: userdata, pylint

Set to v1.12.0 release-version
  pyproject.toml
Due: none

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
