Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: Validating userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: Running MyPy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: PyLinting
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Rework to avoid extra testcode
  plugwise/helper.py
Due: userdata, pylint

Save various updates
  fixtures/m_adam_cooling/data.json
  fixtures/m_adam_heating/data.json
  fixtures/m_adam_multiple_devices_per_zone/data.json
  plugwise/helper.py
Due: userdata, pylint

Add biome.json config file
  biome.json
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump to v1.11.0a0 for testing
  pyproject.toml
Due: none

Clean up, as suggested
  plugwise/helper.py
Due: userdata, pylint

Fix biome.json formatting
  biome.json
Due: none

Make sure to continue for-loop as suggested
  plugwise/helper.py
Due: userdata, pylint

Update test-json
  tests/data/adam/adam_zone_per_device.json
Due: none

Correct entity_item assert
  tests/test_adam.py
Due: userdata

Update 2nd test-json
  tests/data/adam/adam_multiple_devices_per_zone.json
Due: none

Correct 2nd entity_items assert
  tests/test_adam.py
Due: userdata

Save updated fixtures
  fixtures/adam_multiple_devices_per_zone/data.json
  fixtures/adam_zone_per_device/data.json
  fixtures/m_adam_multiple_devices_per_zone/data.json
Due: none

Bump to a1
  pyproject.toml
Due: none

fixup: xml_to_dict Python code fixed using ruff
  plugwise/__init__.py
  tests/test_init.py
Due: userdata, pylint

Set to v1.11.0 release-version
  pyproject.toml
Due: none

Remove switch and report groups
  plugwise/common.py
  plugwise/constants.py
  plugwise/data.py
  plugwise/legacy/data.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

fixup: remove-sw-group Python code fixed using ruff
  plugwise/common.py
Due: userdata, pylint

Adapt test-json, test-cases/-asserts
  fixtures/adam_plus_anna_new/data.json
  tests/data/adam/adam_multiple_devices_per_zone.json
  tests/data/adam/adam_plus_anna_new.json
  tests/data/adam/adam_plus_anna_new_UPDATED_DATA.json
  tests/data/adam/adam_plus_anna_new_regulation_off.json
  tests/data/stretch/stretch_v23.json
  tests/data/stretch/stretch_v31.json
  tests/data/stretch/stretch_v31_UPDATED_DATA.json
  tests/test_adam.py
  tests/test_legacy_stretch.py
Due: userdata

Revert remove of data-line
  plugwise/legacy/smile.py
Due: userdata, pylint

Clean up
  plugwise/common.py
Due: userdata, pylint

Save updated fixtures
  fixtures/adam_multiple_devices_per_zone/data.json
  fixtures/adam_plus_anna_new/data.json
  fixtures/adam_plus_anna_new_regulation_off/data.json
  fixtures/m_adam_cooling/data.json
  fixtures/m_adam_heating/data.json
  fixtures/m_adam_multiple_devices_per_zone/data.json
  fixtures/stretch_v23/data.json
  fixtures/stretch_v31/data.json
Due: none

More clean up
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
  tests/test_init.py
Due: userdata, pylint

Ruffed
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
  tests/test_init.py
Due: userdata, pylint

Improve
  plugwise/common.py
Due: userdata, pylint

Final clean up
  plugwise/constants.py
Due: userdata, pylint

Improve comments
  plugwise/data.py
Due: userdata, pylint

Start defining and adding various device-classes
  plugwise/devices.py
Due: userdata, pylint

Updates
  plugwise/devices.py
Due: userdata, pylint

Add comments
  plugwise/devices.py
Due: userdata, pylint

Updating...
  plugwise/devices.py
Due: userdata, pylint

More updates
  plugwise/devices.py
Due: userdata, pylint

Continue updating
  plugwise/devices.py
Due: userdata, pylint

fixup: device_classes Python code fixed using ruff
  plugwise/devices.py
Due: userdata, pylint

Try using the added dataclasses
  plugwise/constants.py
Due: userdata, pylint

Clean up
  plugwise/devices.py
Due: userdata, pylint

Clean up 2
  plugwise/constants.py
Due: userdata, pylint

Ruff-fix
  plugwise/devices.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
