Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

.pre-commit-config.yaml:

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.13

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      - id: ruff
        name: "Ruff check"
        args:
          - --fix
      - id: ruff-format
        name: "Ruff format"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
        name: "Check scripts"
        stages: [manual]
      - id: no-commit-to-branch
        name: "Check branch"
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        name: "Check Py upgrade"
        args: [--py311-plus]
  #  Moved codespell configuration to setup.cfg as per 'all-files' issues not reading args
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: "Check spelling"
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
      - id: bandit
        name: "Bandit checking"
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        name: "YAML linting"
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.7.2
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        name: "Python typing"
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(plugwise|tests)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: setup
        name: "Setup"
        entry: /usr/bin/env bash -c 'test -d ./venv || scripts/setup.sh'
        language: script
      - id: setup_test
        name: "Setup (extended for testing"
        entry: /usr/bin/env bash -c 'test -f ./tmp/biome || scripts/setup_test.sh pre-commit'
        language: script
      - id: userdata
        name: "Validating userdata"
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: "Running MyPy"
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/$
      - id: pylint
        name: "PyLinting"
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^plugwise/.+\.py$
      - id: testing
        name: "Performing Tests"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" NO_FIXTURES="1" scripts/tests_and_coverage.sh test_and_coverage'
        language: script
        pass_filenames: false
      - id: biome
        name: "Biome (prettier)"
        entry: ./tmp/biome check fixtures/ plugwise/ tests/ --files-ignore-unknown=true --no-errors-on-unmatched --json-formatter-indent-width=2 --json-formatter-indent-style=space
        language: script
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint

Update test-related
  tests/test_adam.py
  tests/test_init.py
Due: userdata

More updates
  plugwise/__init__.py
  plugwise/data.py
  plugwise/helper.py
Due: userdata, pylint

More test-related updates
  tests/test_anna.py
  tests/test_legacy_anna.py
  tests/test_legacy_p1.py
  tests/test_legacy_stretch.py
  tests/test_p1.py
Due: userdata

Fix missing init
  plugwise/legacy/helper.py
Due: userdata, pylint

Fix
  plugwise/data.py
Due: userdata, pylint

Clean up unused imports
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Fix mypy issues
  plugwise/__init__.py
  plugwise/helper.py
  plugwise/legacy/helper.py
Due: userdata, pylint

Clean up
  plugwise/legacy/helper.py
Due: userdata, pylint

More mypy fixes
  plugwise/__init__.py
  plugwise/common.py
Due: userdata, pylint

Improve argument name, sort arguments
  tests/test_init.py
Due: userdata

Update CHANGELOG
  CHANGELOG.md
Due: none

Reduce complexity of legacy -helper _all_appliances()
  plugwise/legacy/helper.py
Due: userdata, pylint

Reduce complexity of set_switch_state()
  plugwise/smile.py
Due: userdata, pylint

Remove unneeded brackets
  plugwise/smile.py
Due: userdata, pylint

Implement improvement suggestion
  plugwise/legacy/helper.py
Due: userdata, pylint

Bump version to v1.7.7, update CHANGELOG
  CHANGELOG.md
  plugwise/legacy/helper.py
  pyproject.toml
Due: userdata, pylint

Move _reorder_devices() to common.py
  fixtures/adam_heatpump_cooling/data.json
  fixtures/adam_jip/data.json
  fixtures/adam_multiple_devices_per_zone/data.json
  fixtures/adam_onoff_cooling_fake_firmware/data.json
  fixtures/adam_plus_anna/data.json
  fixtures/adam_plus_anna_new/data.json
  fixtures/adam_plus_anna_new_regulation_off/data.json
  fixtures/adam_zone_per_device/data.json
  fixtures/anna_heatpump_cooling/data.json
  fixtures/anna_heatpump_cooling_fake_firmware/data.json
  fixtures/anna_heatpump_heating/data.json
  fixtures/anna_v4/data.json
  fixtures/anna_v4_dhw/data.json
  fixtures/anna_v4_no_tag/data.json
  fixtures/anna_without_boiler_fw441/data.json
  plugwise/common.py
  plugwise/legacy/helper.py
Due: userdata, pylint

Reuse function in helper.py, clear old function
  plugwise/constants.py
  plugwise/helper.py
Due: userdata, pylint

Save updated fixtures
  fixtures/adam_heatpump_cooling/data.json
  fixtures/adam_jip/data.json
  fixtures/adam_multiple_devices_per_zone/data.json
  fixtures/adam_onoff_cooling_fake_firmware/data.json
  fixtures/adam_plus_anna/data.json
  fixtures/adam_plus_anna_new/data.json
  fixtures/adam_plus_anna_new_regulation_off/data.json
  fixtures/adam_zone_per_device/data.json
  fixtures/anna_heatpump_cooling/data.json
  fixtures/anna_heatpump_cooling_fake_firmware/data.json
  fixtures/anna_heatpump_heating/data.json
  fixtures/anna_v4/data.json
  fixtures/anna_v4_dhw/data.json
  fixtures/anna_v4_no_tag/data.json
  fixtures/anna_without_boiler_fw441/data.json
Due: none

Rename smile to api
  tests/test_adam.py
  tests/test_anna.py
  tests/test_generic.py
  tests/test_init.py
  tests/test_legacy_anna.py
  tests/test_legacy_generic.py
  tests/test_legacy_p1.py
  tests/test_legacy_stretch.py
  tests/test_p1.py
Due: userdata

Add trusted publishing (while using uv)
  .github/workflows/merge.yml
  .github/workflows/verify.yml
  CHANGELOG.md
Due: none

CRAI nitpicks
  .github/workflows/merge.yml
  .github/workflows/verify.yml
Due: none

Version bump
  CHANGELOG.md
  pyproject.toml
Due: none

Prevent action failure on merge for tooling
  .github/workflows/merge.yml
  CHANGELOG.md
  pyproject.toml
Due: none

CRAI suggestions
  .github/workflows/merge.yml
  .github/workflows/verify.yml
Due: none

Handle removal of last remaining schedule
  plugwise/data.py
Due: userdata, pylint

Adapt to HA Select required formats
  plugwise/data.py
Due: userdata, pylint

Update for legacy Anna too
  plugwise/legacy/data.py
Due: userdata, pylint

Update manual_fixtures script
  scripts/manual_fixtures.py
Due: userdata

Improve using initial values
  plugwise/data.py
  plugwise/legacy/data.py
Due: userdata, pylint

Update related amount of entity_items
  tests/test_adam.py
  tests/test_legacy_anna.py
Due: userdata

Update typing of select_schedule
  plugwise/constants.py
Due: userdata, pylint

Scripture cleanup
  scripts/manual_fixtures.py
Due: userdata

Save updated fixtures
  fixtures/adam_jip/data.json
  fixtures/legacy_anna/data.json
  fixtures/m_adam_jip/data.json
  fixtures/m_adam_multiple_devices_per_zone/data.json
Due: none

Update other select_* typing
  plugwise/constants.py
Due: userdata, pylint

Improve data["select_dhw_mode"]
  plugwise/helper.py
Due: userdata, pylint

Improve logic for select_regulation/gateway_mode
  plugwise/helper.py
Due: userdata, pylint

Add extra guarding for gateway
  plugwise/helper.py
Due: userdata, pylint

Re-adapt _get_regulation_mode()
  plugwise/helper.py
Due: userdata, pylint

Also re-adapt _get_gateway_mode()
  plugwise/helper.py
Due: userdata, pylint
