Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

.pre-commit-config.yaml:

ci:
  # Defer autoupdate to quarterly (there is no 'off' button) to have renovate pick up first
  autoupdate_schedule: quarterly
  skip: [pylint, markdownlint, testing, fixtures]
  submodules: true

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.11

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.265
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests|scripts)/.+)?[^/]+\.py$
  #  Moved codespell configuration to setup.cfg as per 'all-files' issues not reading args
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.31.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.5.1
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(plugwise|tests)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/$
      - id: pylint
        name: pylint
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^plugwise/.+\.py$
      - id: testing
        name: "Local Testing - Performing Tests"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh test_and_coverage'
        language: script
        pass_filenames: false
      - id: fixtures
        name: "Fixture formatting"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh fixtures'
        language: script
        pass_filenames: false
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint

Add thermostat/setpoint as zone-sensor
  plugwise/constants.py
Due: userdata, pylint

Implement control_state work=around for older Adam firmware
  plugwise/data.py
  plugwise/helper.py
Due: userdata, pylint

Debug
  plugwise/helper.py
  scripts/tests_and_coverage.sh
Due: userdata, pylint

Disable
  plugwise/data.py
  plugwise/helper.py
Due: userdata, pylint

Improve
  plugwise/data.py
  plugwise/helper.py
Due: userdata, pylint

Revert debug
  plugwise/helper.py
  scripts/tests_and_coverage.sh
Due: userdata, pylint

Save updated fixture and test-data json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_plus_anna/all_data.json
  fixtures/adam_zone_per_device/all_data.json
  tests/data/adam/adam_multiple_devices_per_zone.json
  tests/data/adam/adam_plus_anna.json
  tests/data/adam/adam_zone_per_device.json
  tests/test_adam.py
Due: userdata

Update import
  plugwise/helper.py
Due: userdata, pylint

Fix mypy errors
  plugwise/helper.py
Due: userdata, pylint

Add pragma-no ccover
  plugwise/helper.py
Due: userdata, pylint

Save updated manual fixture
  fixtures/m_adam_multiple_devices_per_zone/all_data.json
Due: none

Bump to a2
  pyproject.toml
Due: none

Improve comment
  plugwise/helper.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump to v1.6.2 release-version
  pyproject.toml
Due: none

Add updated userdata for Anna Elga cooling change to heating
  userdata/updated/anna_elga_2_swithc_heating/@bart1970
  userdata/updated/anna_elga_2_swithc_heating/core.domain_objects.xml
Due: none

Extend related test
  tests/test_anna.py
Due: userdata

Add related test-data json-file
  tests/data/anna/anna_elga_2_cooling_UPDATED_DATA.json
Due: none

Correct directory name
  userdata/updated/anna_elga_2_switch_heating/@bart1970
  userdata/updated/anna_elga_2_switch_heating/core.domain_objects.xml
Due: none

Correct related test-case
  tests/test_anna.py
Due: userdata

Userdata fixes
  userdata/updated/anna_elga_2_switch_heating/core.domain_objects.xml
Due: none

Assert fix
  tests/data/anna/anna_elga_2_cooling_UPDATED_DATA.json
Due: none

Improve helper.py
  plugwise/helper.py
Due: userdata, pylint

test_anna: fix to smile._cooling_enabled
  tests/test_anna.py
Due: userdata

Make _cooling_enabled for Smile class
  plugwise/__init__.py
  plugwise/smile.py
Due: userdata, pylint

test_anna: also fix to smile._cooling_active
  tests/test_anna.py
Due: userdata

Test-adam also add/improve cooling asserts
  tests/test_adam.py
Due: userdata

Disable setting self._cooling_enabled in smile.py
  plugwise/smile.py
Due: userdata, pylint

Extend test_init output
  tests/test_init.py
Due: userdata

Revert back to self._cooling_*
  tests/test_adam.py
  tests/test_anna.py
Due: userdata

Adam: add cooling_enabled when not in xml-data
  plugwise/data.py
Due: userdata, pylint

Clean up unused code, clarify function via comment
  plugwise/smile.py
Due: userdata, pylint

Save updated fixture and test-json files
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
Due: none

Revert adding self._cooling_enabled at top-level
  plugwise/__init__.py
  plugwise/helper.py
  plugwise/smile.py
Due: userdata, pylint

Add back setting self._cooling_enabled at top-level
  plugwise/smile.py
Due: userdata, pylint

Another revert
  plugwise/smile.py
Due: userdata, pylint

Clean up
  tests/test_init.py
Due: userdata

Add elga_2 tinker_thermostat test
  tests/test_anna.py
Due: userdata

Correct-extend tinker_thermostat_temp()
  tests/test_init.py
Due: userdata

Adapt relevant testcases
  tests/test_anna.py
Due: userdata
