Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Change
  tests/test_smile.py
Due: userdata

Replace NamedTuple by dataclass
  plugwise/constants.py
Due: userdata, pylint

Debug
  tests/test_smile.py
Due: userdata

Enable py-typed in setup
  setup.py
Due: userdata

Covert data to json
  tests/test_smile.py
Due: userdata

Bump to a1
  pyproject.toml
Due: none

Remove/replace unneeded vars
  tests/test_smile.py
Due: userdata

Bump to a4
  pyproject.toml
Due: none

More debug
  plugwise/smile.py
Due: userdata, pylint

Add py.typed in pyproject.toml
  pyproject.toml
Due: none

Clear setup.py
  setup.py
Due: userdata

Move py.typed definition back to setup.py
  pyproject.toml
  setup.py
Due: userdata

Bump to a7
  pyproject.toml
Due: none

Debug
  plugwise/smile.py
Due: userdata, pylint

Use SimpleQueue
  plugwise/controller.py
Due: userdata, pylint

Bump to 0.27.8a8
  CHANGELOG.md
  pyproject.toml
Due: none

Correct version
  pyproject.toml
Due: none

Remove redundant assert
  plugwise/nodes/__init__.py
Due: userdata, pylint

Bump to 0.27.8
  pyproject.toml
Due: none

Try 1
  plugwise/constants.py
  plugwise/smile.py
Due: userdata, pylint

Try 2
  plugwise/smile.py
Due: userdata, pylint

Try 3
  plugwise/smile.py
Due: userdata, pylint

Try 4
  plugwise/constants.py
  plugwise/smile.py
Due: userdata, pylint

Bump to a9
  pyproject.toml
Due: none

Don't use update
  plugwise/smile.py
Due: userdata, pylint

Rearrange _plugwise_data
  plugwise/smile.py
Due: userdata, pylint

Bump to a10
  pyproject.toml
Due: none

Output elga-status-code for testing purposes
  plugwise/helper.py
Due: userdata, pylint

Try 5
  plugwise/constants.py
Due: userdata, pylint

Bump to a11
  pyproject.toml
Due: none

Try 6
  plugwise/smile.py
Due: userdata, pylint

Bump to a12
  pyproject.toml
Due: none

Don't pop c_heating_state, show i_heating_state for Elga
  plugwise/helper.py
Due: userdata, pylint

Add added booleans to binary_sensor list
  plugwise/constants.py
Due: userdata, pylint

Disable device_item asserts
  tests/test_smile.py
Due: userdata

Extend other lists as well
  plugwise/constants.py
Due: userdata, pylint

Bump to v0.27.99a0 test-version
  pyproject.toml
Due: none

Fix for mypy error
  plugwise/constants.py
Due: userdata, pylint

Add (and default to) py311
  .github/workflows/merge.yml
  .github/workflows/verify.yml
  .pre-commit-config.yaml
  CHANGELOG.md
Due: none

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
