Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

.pre-commit-config.yaml:

ci:
  # Defer autoupdate to quarterly (there is no 'off' button) to have renovate pick up first
  autoupdate_schedule: quarterly
  skip: [pylint, markdownlint, testing, fixtures]
  submodules: true

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.11

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.265
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests|scripts)/.+)?[^/]+\.py$
  #  Moved codespell configuration to setup.cfg as per 'all-files' issues not reading args
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.31.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.5.1
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(plugwise|tests)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/$
      - id: pylint
        name: pylint
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^plugwise/.+\.py$
      - id: testing
        name: "Local Testing - Performing Tests"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh test_and_coverage'
        language: script
        pass_filenames: false
      - id: fixtures
        name: "Fixture formatting"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh fixtures'
        language: script
        pass_filenames: false
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint

Fix anna_loria_heating_idle
  tests/test_smile.py
Due: userdata

Bump to v0.31.5a0 test-version
  pyproject.toml
Due: none

Improve elga-related code
  plugwise/helper.py
Due: userdata, pylint

Fix anna_loria_cooling_active related
  fixtures/anna_loria_cooling_active/all_data.json
  tests/test_smile.py
Due: userdata

Re-update fixtures
  fixtures/adam_jip/all_data.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_cooling/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_heatpump_cooling/all_data.json
  fixtures/anna_heatpump_cooling_fake_firmware/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
  fixtures/anna_loria_heating_idle/all_data.json
Due: none

Fix setpoint_low asserts
  tests/test_smile.py
Due: userdata

Fix ident
  plugwise/helper.py
Due: userdata, pylint

Update fixtures
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_plus_anna/all_data.json
  fixtures/adam_plus_anna_copy_with_error_domain_added/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_zone_per_device/all_data.json
  fixtures/anna_v4/all_data.json
  fixtures/anna_v4_dhw/all_data.json
  fixtures/anna_v4_no_tag/all_data.json
  fixtures/anna_without_boiler_fw3/all_data.json
  fixtures/anna_without_boiler_fw4/all_data.json
  fixtures/anna_without_boiler_fw42/all_data.json
  fixtures/legacy_anna/all_data.json
  fixtures/legacy_anna_2/all_data.json
Due: none

Add testcase covering cooling disabled
  tests/test_smile.py
Due: userdata

Update adam_heatpump_cooling test-assert
  tests/test_smile.py
Due: userdata

Re-update fixtures
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
  fixtures/adam_plus_anna/all_data.json
  fixtures/adam_plus_anna_copy_with_error_domain_added/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_zone_per_device/all_data.json
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_cooling/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_heatpump_cooling/all_data.json
  fixtures/anna_heatpump_cooling_fake_firmware/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
  fixtures/anna_loria_cooling_active/all_data.json
  fixtures/anna_loria_heating_idle/all_data.json
  fixtures/anna_v4/all_data.json
  fixtures/anna_v4_dhw/all_data.json
  fixtures/anna_v4_no_tag/all_data.json
  fixtures/anna_without_boiler_fw3/all_data.json
  fixtures/anna_without_boiler_fw4/all_data.json
  fixtures/anna_without_boiler_fw42/all_data.json
  fixtures/legacy_anna/all_data.json
  fixtures/legacy_anna_2/all_data.json
  plugwise/__init__.py
Due: userdata, pylint

Update anna_elga_2_cooling test-assert
  tests/test_smile.py
Due: userdata

Add fault-handling for non-working setpoint changes
  plugwise/__init__.py
Due: userdata, pylint

Bump to a1
  pyproject.toml
Due: none

Simplify showing of heat_cool setpoints,
  plugwise/__init__.py
  plugwise/constants.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Retain old code
  plugwise/helper.py
Due: userdata, pylint

Improve detection of cooling-related states for Anna+Loria
  plugwise/helper.py
Due: userdata, pylint

Fix errors related to handling of not-allowed setpoint-changes
  plugwise/__init__.py
Due: userdata, pylint

Revert MAX_SETPOINT change
  plugwise/constants.py
Due: userdata, pylint

Revert test-assert changes
  tests/test_smile.py
Due: userdata

Update fixtures
  fixtures/anna_loria_heating_idle/all_data.json
Due: none

Bump to a2
  pyproject.toml
Due: none

Bump to v0.31.5 release-version
  pyproject.toml
Due: none

Fix tmp_setpoint typing and init
  plugwise/__init__.py
Due: userdata, pylint

Bump to a4
  pyproject.toml
Due: none

Simplify handling of not-allowed setpoint-changes
  plugwise/__init__.py
Due: userdata, pylint

Bump to a3
  pyproject.toml
Due: none

Add prettier to our stack
  .gitignore
  CHANGELOG.md
  package.json
  requirements_test.txt
  scripts/run-in-env.sh
  scripts/setup.sh
  scripts/setup_test.sh
  scripts/tests_and_coverage.sh
Due: none

Shellcheck disable order
  scripts/tests_and_coverage.sh
Due: none

Don't process max_dhw_temperature, not present in xml
  plugwise/helper.py
Due: userdata, pylint

Add guarding for popping dhw_setpoint
  plugwise/helper.py
Due: userdata, pylint

Move DHW_SETPOINT to constants and import
  plugwise/constants.py
  plugwise/helper.py
Due: userdata, pylint

Bump to v0.31.6a0 test-version
  pyproject.toml
Due: none

Bump to v0.31.6 release-version
  pyproject.toml
Due: none

Improve _get_module_data()
  plugwise/helper.py
Due: userdata, pylint

Util.py: remove pragma: no cover
  plugwise/util.py
Due: userdata, pylint
