Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Update CHANGELOG
  CHANGELOG.md
Due: none

Fix link to plugwise_usb-beta (underscore vs dash)
  README.md
Due: none

Ensure fixture write properly + generate manual fixtures
  CHANGELOG.md
  scripts/fake_fixtures.py
  scripts/tests_and_coverage.sh
  tests/test_smile.py
Due: userdata

black
  scripts/fake_fixtures.py
Due: userdata

Add missing part of fixtures
  scripts/fake_fixtures.py
Due: userdata

fixup: fake_fixtures Python code reformatted using Black
  scripts/fake_fixtures.py
Due: userdata

Ensure black on scripts
  .pre-commit-config.yaml
Due: none

Add back missing SmileSensor
  plugwise/constants.py
Due: userdata, pylint

Change domestic_hot_water_setpoint name,
  plugwise/constants.py
  plugwise/helper.py
  tests/test_smile.py
Due: userdata, pylint

Add new actuator-name to ACTIVE_ACTUATORS
  plugwise/constants.py
Due: userdata, pylint

Remove max_boiler_temp as sensor, always a number in Core
  plugwise/constants.py
Due: userdata, pylint

Bump to v0.31.3 release-version, update CHANGELOG
  CHANGELOG.md
  pyproject.toml
Due: none

Fix m_adam_heating (through reviewing core pr)
  scripts/fake_fixtures.py
Due: userdata

Fix name
  scripts/fake_fixtures.py
Due: userdata

Unify formatting of fixtures
  scripts/tests_and_coverage.sh
Due: none

Add diffsyncer
  scripts/update_fixtures.sh
Due: none

Write sorted to maintain order between repos
  scripts/fake_fixtures.py
  tests/test_smile.py
Due: userdata

Include in pre-commit
  .pre-commit-config.yaml
  scripts/tests_and_coverage.sh
Due: none

Ensure consistency with manual fixtures
  .pre-commit-config.yaml
Due: none

Remove black due to strict json
  scripts/tests_and_coverage.sh
Due: none

CHANGELOG
  CHANGELOG.md
Due: none

Improve fixtures and include newlines
  scripts/manual_fixtures.py
  scripts/tests_and_coverage.sh
  scripts/update_fixtures.sh
  tests/test_smile.py
Due: userdata

Shellchecked
  scripts/update_fixtures.sh
Due: none

Expose and prettier-ing fixtures
  .pre-commit-config.yaml
Due: none

Defer fixture (re)generation to github action
  scripts/tests_and_coverage.sh
Due: none

Remove removed fixtures
  .pre-commit-config.yaml
Due: none

Changelog
  CHANGELOG.md
Due: none

Temp remove anna
  .pre-commit-config.yaml
Due: none

Fix unneeded Union-typing
  plugwise/constants.py
Due: userdata, pylint

Bump to v0.31.4 release-version
  pyproject.toml
Due: none

Ruff 269 not supporting keep-runtime-drying
  pyproject.toml
Due: none

Improve dhw_setpoint related
  plugwise/helper.py
Due: userdata, pylint

Add PlugwiseError-handling for relevant testcase
  tests/test_smile.py
Due: userdata

Remove debugging
  plugwise/__init__.py
Due: userdata, pylint

Fix true/false
  tests/test_smile.py
Due: userdata

Save previous setpoint states
  plugwise/__init__.py
Due: userdata, pylint

Fix set_temperature for cooling, add debugging
  plugwise/__init__.py
Due: userdata, pylint

Caps for true/false
  tests/test_smile.py
Due: userdata

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
