Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

.pre-commit-config.yaml:

ci:
  # Defer autoupdate to quarterly (there is no 'off' button) to have renovate pick up first
  autoupdate_schedule: quarterly
  skip: [pylint, markdownlint, testing, fixtures]
  submodules: true

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.11

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.265
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests|scripts)/.+)?[^/]+\.py$
  #  Moved codespell configuration to setup.cfg as per 'all-files' issues not reading args
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.31.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.5.1
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(plugwise|tests)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/$
      - id: pylint
        name: pylint
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^plugwise/.+\.py$
      - id: testing
        name: "Local Testing - Performing Tests"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh test_and_coverage'
        language: script
        pass_filenames: false
      - id: fixtures
        name: "Fixture formatting"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh fixtures'
        language: script
        pass_filenames: false
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint

Add testcase for P1 data-retrieval error
  tests/test_p1.py
  userdata/error/p1v4_442_single/core.domain_objects.xml
Due: userdata

Cover legacy data-retrieval error detection
  plugwise/legacy/smile.py
Due: userdata, pylint

Improve comment
  plugwise/helper.py
Due: userdata, pylint

Update P1 test with data missing after a reboot
  plugwise/helper.py
  tests/test_adam.py
  tests/test_p1.py
  userdata/reboot/p1v4_442_single/core.domain_objects.xml
Due: userdata, pylint

Ruff format fixes
  plugwise/helper.py
  tests/test_adam.py
  tests/test_p1.py
Due: userdata, pylint

Fix UnboundLocalError
  plugwise/helper.py
Due: userdata, pylint

Break-out two more functions
  plugwise/helper.py
Due: userdata, pylint

Update raise message to show the origin
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Update missed legacy raise-message
  plugwise/legacy/smile.py
Due: userdata, pylint

Add pragma-no covers
  plugwise/legacy/smile.py
Due: userdata, pylint

Ruff format fix
  plugwise/legacy/smile.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Improve _sort_gw_entities(), partly following suggestion
  plugwise/helper.py
Due: userdata, pylint

Add clarifying notes to _process_on_off_device_c_heating_state()
  plugwise/helper.py
Due: userdata, pylint

Implement improvement suggestions
  plugwise/constants.py
  plugwise/helper.py
Due: userdata, pylint

Improve doc-strings, add comments
  plugwise/helper.py
Due: userdata, pylint

device -> entity corrections
  plugwise/helper.py
Due: userdata, pylint

Combine entity_id-switch in one function
  plugwise/helper.py
Due: userdata, pylint

Fix returns
  plugwise/helper.py
Due: userdata, pylint

Update test-data json files
  tests/data/anna/anna_elga_2.json
  tests/data/anna/anna_elga_2_cooling.json
  tests/data/anna/anna_elga_2_cooling_UPDATED_DATA.json
  tests/data/anna/anna_elga_2_schedule_off.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_cooling.json
  tests/data/anna/anna_heatpump_cooling_fake_firmware.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_loria_cooling_active.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_loria_heating_idle.json
  tests/data/anna/anna_v4.json
  tests/data/anna/anna_v4_UPDATED_DATA.json
  tests/data/anna/anna_v4_dhw.json
  tests/data/anna/anna_v4_no_tag.json
  tests/data/anna/anna_without_boiler_fw441.json
Due: none

Save updated fixtures
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_cooling/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_elga_no_cooling/all_data.json
  fixtures/anna_heatpump_cooling/all_data.json
  fixtures/anna_heatpump_cooling_fake_firmware/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
  fixtures/anna_loria_cooling_active/all_data.json
  fixtures/anna_loria_driessens/all_data.json
  fixtures/anna_loria_heating_idle/all_data.json
  fixtures/anna_v4/all_data.json
  fixtures/anna_v4_dhw/all_data.json
  fixtures/anna_v4_no_tag/all_data.json
  fixtures/anna_without_boiler_fw441/all_data.json
  fixtures/m_anna_heatpump_cooling/all_data.json
  fixtures/m_anna_heatpump_idle/all_data.json
Due: none

Create control_state for Anna
  plugwise/data.py
Due: userdata, pylint

Save updated fixtures, test-data json-files
  fixtures/legacy_anna/all_data.json
  fixtures/legacy_anna_2/all_data.json
  plugwise/legacy/data.py
  tests/data/anna/legacy_anna.json
  tests/data/anna/legacy_anna_2.json
Due: userdata, pylint

Optimize
  plugwise/data.py
Due: userdata, pylint

Update manual_fixtures script
  scripts/manual_fixtures.py
Due: userdata

m_adam_jip: pop control_state for test-coverage in the Integration
  scripts/manual_fixtures.py
Due: userdata

Bump to v1.6.4a0 test-version
  pyproject.toml
Due: none

Implement suggested improvements
  plugwise/data.py
Due: userdata, pylint

Save updated fixture
  fixtures/m_adam_jip/all_data.json
Due: none

Fix
  tests/data/anna/anna_v4_UPDATED_DATA.json
Due: none

Correct manual fixtures
  fixtures/m_anna_heatpump_cooling/all_data.json
  fixtures/m_anna_heatpump_idle/all_data.json
Due: none

Implement control_state for legacy Anna
  plugwise/legacy/data.py
Due: userdata, pylint

Correct wrong fixture-name in script as suggested
  scripts/manual_fixtures.py
Due: userdata

Set to v1.6.4 release-version
  pyproject.toml
Due: none

Improve/add comment in manual_fixture script
  scripts/manual_fixtures.py
Due: userdata

Improve Adam control_state-related
  plugwise/data.py
Due: userdata, pylint

Add weather-related measurements
  plugwise/constants.py
Due: userdata, pylint

Create _get_gateway_measurements() function
  plugwise/helper.py
Due: userdata, pylint
