Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

.pre-commit-config.yaml:

ci:
  # Defer autoupdate to quarterly (there is no 'off' button) to have renovate pick up first
  autoupdate_schedule: quarterly
  skip: [pylint, markdownlint, testing, fixtures]
  submodules: true

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.11

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.265
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests|scripts)/.+)?[^/]+\.py$
  #  Moved codespell configuration to setup.cfg as per 'all-files' issues not reading args
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.31.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.5.1
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(plugwise|tests)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/$
      - id: pylint
        name: pylint
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^plugwise/.+\.py$
      - id: testing
        name: "Local Testing - Performing Tests"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh test_and_coverage'
        language: script
        pass_filenames: false
      - id: fixtures
        name: "Fixture formatting"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh fixtures'
        language: script
        pass_filenames: false
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint

Try 2
  plugwise/__init__.py
Due: userdata, pylint

Fix doc-strings
  plugwise/legacy/smile.py
Due: userdata, pylint

Add guard
  tests/test_init.py
Due: userdata

Fix 18
  tests/data/anna/anna_v4.json
Due: none

Fix device order
  tests/test_adam.py
Due: userdata

Fix 24
  tests/data/anna/anna_loria_cooling_active.json
Due: none

Update legacy-data.py
  plugwise/legacy/data.py
Due: userdata, pylint

Try 8
  plugwise/__init__.py
Due: userdata, pylint

Clean-up 1
  plugwise/legacy/data.py
  plugwise/legacy/smile.py
Due: userdata, pylint

Move aqara data to updated/domain_objects too
  userdata/updated/adam_plus_anna_new/core.domain_objects.xml
Due: none

Fix regulation_mode
  userdata/updated/adam_plus_anna_new/core.domain_objects.xml
Due: none

Typo
  plugwise/data.py
Due: userdata, pylint

Update updated userdata 1
  fixtures/adam_jip/all_data.json
  fixtures/adam_jip/device_list.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_plus_anna_new/device_list.json
  fixtures/anna_v4/all_data.json
  userdata/updated/anna_v4/core.domain_objects.xml
Due: none

Fix
  tests/test_init.py
Due: userdata

Update userdata 5
  userdata/anna_heatpump_cooling_fake_firmware/core.domain_objects.xml
Due: none

Improve/fix logic
  tests/test_init.py
Due: userdata

Try
  tests/test_legacy_stretch.py
Due: userdata

Rework breaking core/locations to breaking core/domain_objects
  tests/test_init.py
Due: userdata

Update relevant imports
  plugwise/__init__.py
  plugwise/legacy/data.py
  plugwise/legacy/helper.py
  plugwise/legacy/smile.py
Due: userdata, pylint

Call delete_notification via self._smile_api
  plugwise/__init__.py
Due: userdata, pylint

Try
  plugwise/legacy/smile.py
Due: userdata, pylint

Try
  plugwise/smile_legacy.py
Due: userdata, pylint

Add init for SmileLegacyData
  plugwise/legacy/data.py
Due: userdata, pylint

Pylint fixes
  plugwise/__init__.py
Due: userdata, pylint

Remove device_list
  plugwise/data.py
  plugwise/helper.py
Due: userdata, pylint

try-except set_dhw_mode()
  plugwise/__init__.py
Due: userdata, pylint

Try
  tests/test_legacy_anna.py
Due: userdata

Fix
  plugwise/__init__.py
Due: userdata, pylint

Update SmileLegacyApi imports/inits
  plugwise/smile_legacy.py
Due: userdata, pylint

Remove Adam-related
  plugwise/legacy/smile.py
Due: userdata, pylint

Try 3
  plugwise/__init__.py
Due: userdata, pylint

Correct _smile_legacy
  plugwise/legacy/helper.py
Due: userdata, pylint

Ruff fixes
  plugwise/smile_legacy.py
  tests/test_init.py
Due: userdata, pylint

Fix
  plugwise/smile_legacy.py
Due: userdata, pylint

Add _smile_legacy init
  plugwise/__init__.py
Due: userdata, pylint

Fix relative imports
  plugwise/legacy/data.py
  plugwise/legacy/helper.py
  plugwise/legacy/smile.py
Due: userdata, pylint

Replace smile.gateway_id
  tests/test_adam.py
  tests/test_anna.py
  tests/test_init.py
  tests/test_p1.py
Due: userdata

Update adam_plus_anna userdata to cover helper.py line 524
  userdata/adam_plus_anna/core.domain_objects.xml
Due: none

More ruff fixes
  plugwise/legacy/data.py
Due: userdata, pylint
