Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Implement match-cases
  plugwise/helper.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Implement try-except ConnectionFailedError constructs for all high-level set-funcs
  plugwise/__init__.py
Due: userdata, pylint

Implement using call_request() for all setter-functions
  plugwise/smile.py
Due: userdata, pylint

raise ConnectionFailedError instead of PlugwiseError
  plugwise/__init__.py
Due: userdata, pylint

Correct testcase
  tests/test_adam.py
Due: userdata

Fix test-function
  tests/test_init.py
Due: userdata

Update plugwise/__init__.py
  plugwise/__init__.py
Due: userdata, pylint

Remove location-part of comment, not useful
  plugwise/__init__.py
Due: userdata, pylint

Add key to set_number debug message
  plugwise/__init__.py
Due: userdata, pylint

Add pragma-no cover for set-functions moved under set-state/set-number
  plugwise/__init__.py
Due: userdata, pylint

Implement call_request for legacy set-functions
  plugwise/legacy/smile.py
Due: userdata, pylint

Remove pragma-no cover for set_number, needs coverage
  plugwise/__init__.py
Due: userdata, pylint

Extend tinker-functions with ConnectionFailedError exception
  tests/test_init.py
Due: userdata

Use tinker_max_boiler output
  tests/test_adam.py
Due: userdata

Add missing returns
  tests/test_init.py
Due: userdata

Improve test-coverage for set_number()
  tests/test_adam.py
  tests/test_init.py
Due: userdata

Improve test-methods
  tests/test_init.py
Due: userdata

Improve test-methods, correct test-assert
  tests/test_adam.py
  tests/test_init.py
Due: userdata

Improve tinker_dhw_mode use, add skip_testing argument,
  tests/test_anna.py
  tests/test_init.py
Due: userdata

Implement skip_testing further
  tests/test_adam.py
  tests/test_anna.py
  tests/test_legacy_anna.py
Due: userdata

Improve test coverage
  tests/test_adam.py
  tests/test_anna.py
Due: userdata

Bump to v0.38.1 test-version
  pyproject.toml
Due: none

Bump to v0.38.1 release-version
  pyproject.toml
Due: none

Define specific timeouts for legacy and actual gateways
  plugwise/constants.py
Due: userdata, pylint

Use specific timeout after first connect()
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Fix
  plugwise/__init__.py
Due: userdata, pylint

Sort imports
  plugwise/__init__.py
  plugwise/legacy/smile.py
Due: userdata, pylint

Add extra smile._timeout asserts
  tests/test_init.py
Due: userdata

Update timeout after knowing if legacy or not
  plugwise/__init__.py
Due: userdata, pylint

Don't overwrite passed-down timeout value
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Corrections
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Bump to v0.38.2a0 test-version
  pyproject.toml
Due: none

Bump to v0.38.2 release-version
  pyproject.toml
Due: none

Translate back to dhw_setpoint in set_number() function
  plugwise/smile.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
