Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Removed added debugging in test_smile.py
  tests/test_smile.py
Due: userdata

The new check covers the setpoint=nil case (adam_plus_anna)
  plugwise/helper.py
Due: userdata, pylint

Blacked
  tests/test_smile.py
Due: userdata

Blacked
  plugwise/__init__.py
Due: userdata, pylint

Full test-output
  scripts/tests_and_coverage.sh
Due: none

fixup: daily_full_update Python code reformatted using Black
  plugwise/__init__.py
Due: userdata, pylint

Add debug-logging message
  plugwise/__init__.py
Due: userdata, pylint

Correct freeze-time comment
  tests/test_smile.py
Due: userdata

Add updated testing for anna_heatpump_heating
  tests/test_smile.py
Due: userdata

Make sure to output data
  tests/test_smile.py
Due: userdata

Reorder functions
  plugwise/__init__.py
Due: userdata, pylint

Perform a full update once per day
  plugwise/__init__.py
Due: userdata, pylint

Let _all_device_data() output actual and correct data
  plugwise/__init__.py
Due: userdata, pylint

Add testing-time
  tests/test_smile.py
Due: userdata

Add modified anna_heatpump_heating userdata, mimicking Core Issue #99372
  userdata/updated/anna_heatpump_heating/core.appliances.xml
  userdata/updated/anna_heatpump_heating/core.direct_objects.xml
  userdata/updated/anna_heatpump_heating/core.domain_objects.xml
  userdata/updated/anna_heatpump_heating/core.locations.xml
  userdata/updated/anna_heatpump_heating/core.modules.xml
Due: none

Breakout self._update_gw_devices()
  plugwise/__init__.py
Due: userdata, pylint

Get data from async_update() as in Core plugwise
  tests/test_smile.py
Due: userdata

Don't perform find() twice
  plugwise/helper.py
Due: userdata, pylint

Change preset to setpoint, for test-coverage
  userdata/anna_loria_heating_idle/core.domain_objects.xml
Due: none

No longer needed to test twice unless specifically required
  tests/test_smile.py
Due: userdata

Change date to Monday --> async_update()
  tests/test_smile.py
Due: userdata

Add testdata_updated assert, assert device-items
  tests/test_smile.py
Due: userdata

Fix typos
  plugwise/__init__.py
Due: userdata, pylint

Fix device_item asserts
  tests/test_smile.py
Due: userdata

For a full-update init with empty dicts
  plugwise/__init__.py
Due: userdata, pylint

Add missing import
  plugwise/__init__.py
Due: userdata, pylint

Debug
  plugwise/__init__.py
Due: userdata, pylint

Update/rearrance testassert
  tests/test_smile.py
Due: userdata

Remove walrus, does not work correctly
  plugwise/__init__.py
Due: userdata, pylint

Add pylint disable
  plugwise/__init__.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump to v0.33.0a1 test-version
  pyproject.toml
Due: none

Improve vars as suggested, correction
  plugwise/__init__.py
Due: userdata, pylint

Bump to a2
  pyproject.toml
Due: none

Move pylint-disable
  plugwise/__init__.py
Due: userdata, pylint

Move pylint-disable once more
  plugwise/__init__.py
Due: userdata, pylint

Revert "Full test-output"
  scripts/tests_and_coverage.sh
Due: none

Add debug-logging for testing
  plugwise/__init__.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
