Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: Validating userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: Running MyPy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: PyLinting
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Keep the existing pragma's for the smartmeter
  plugwise/helper.py
Due: userdata, pylint

Implement more none module_data guarding
  plugwise/common.py
  plugwise/helper.py
  plugwise/legacy/helper.py
Due: userdata, pylint

Various updates
  fixtures/anna_v4_no_modules/data.json
  plugwise/common.py
  plugwise/helper.py
  plugwise/legacy/helper.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

fixup: module-deleted Python code fixed using ruff
  plugwise/common.py
  plugwise/legacy/helper.py
  tests/test_anna.py
Due: userdata, pylint

Improve CHANGELOG
  CHANGELOG.md
Due: none

Set to v1.8.1 in pyproject.toml
  pyproject.toml
Due: none

CRAI suggestion
  plugwise/helper.py
Due: userdata, pylint

Again update userdata, now with schedule active
  userdata/adam_anna_new_2/core.domain_objects.xml
Due: none

Update entity_items assert
  tests/test_adam.py
Due: userdata

Update emma-related userdata
  userdata/adam_anna_new_2/core.domain_objects.xml
Due: none

Ruffed
  fixtures/adam_anna_new_2/data.json
  tests/data/adam/adam_anna_new_2.json
Due: none

Save updated fixture, update related test-json
  fixtures/adam_anna_new_2/data.json
  tests/data/adam/adam_anna_new_2.json
Due: none

Ruff updates
  fixtures/adam_anna_new_2/data.json
  tests/data/adam/adam_anna_new_2.json
Due: none

Save updates json files
  fixtures/adam_anna_new_2/data.json
  tests/data/adam/adam_anna_new_2.json
Due: none

Revert mac-addr changes
  userdata/adam_anna_new_2/core.domain_objects.xml
Due: none

Update adam_plus_anna_new userdata
  tests/test_adam.py
  userdata/adam_anna_new_2/core.domain_objects.xml
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: userdata

Save updatef fixture, copy to test-json
  fixtures/adam_plus_anna_new/data.json
  tests/data/adam/adam_plus_anna_new.json
Due: none

Update related test asserts
  tests/test_adam.py
Due: userdata

More updates
  tests/test_adam.py
Due: userdata

Copy over 2 special devices to userdata
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: none

Update related asserts
  fixtures/adam_plus_anna_new/data.json
  tests/test_adam.py
Due: userdata

Save updated files
  fixtures/adam_plus_anna_new/data.json
  fixtures/m_adam_cooling/data.json
  fixtures/m_adam_heating/data.json
  tests/data/adam/adam_plus_anna_new.json
  tests/test_adam.py
Due: userdata

More updates 2
  tests/test_adam.py
Due: userdata

Lock 2568cc4b9c1e401495d4741a5f89bee1 plug
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: none

Update related jsons
  fixtures/adam_plus_anna_new/data.json
  tests/data/adam/adam_plus_anna_new.json
Due: none

Ruffed
  fixtures/adam_plus_anna_new/data.json
Due: none

Unlock Thermex Plug
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: none

Update related test assert
  fixtures/adam_plus_anna_new/data.json
  tests/data/adam/adam_plus_anna_new.json
  tests/test_adam.py
Due: userdata

Remove adam_anna_new_2 files
  fixtures/adam_anna_new_2/data.json
  tests/data/adam/adam_anna_new_2.json
Due: none

Activate bathroom heating in userdata
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: none

Update related test-json
  tests/data/adam/adam_plus_anna_new.json
Due: none

Fix equal MAC addresses
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: none

Update related test-json
  fixtures/adam_plus_anna_new/data.json
Due: none

Save all updates
  fixtures/adam_plus_anna_new/data.json
  fixtures/m_adam_cooling/data.json
  fixtures/m_adam_heating/data.json
  plugwise/helper.py
  tests/data/adam/adam_plus_anna_new.json
Due: userdata, pylint

Add Emma wired to Adam to HW_MODELS
  plugwise/constants.py
Due: userdata, pylint

Rename, add placeholder for Emma Essential
  plugwise/constants.py
Due: userdata, pylint

Bump to v1.8.2a0 for testing
  CHANGELOG.md
  pyproject.toml
Due: none

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
