Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Bump to v0.33.2 release-version
  CHANGELOG.md
  pyproject.toml
Due: none

Correct var--name
  plugwise/__init__.py
Due: userdata, pylint

Set regulation_mode to off in updated/adam_plus_anna_new userdata
  tests/test_smile.py
  userdata/updated/adam_plus_anna_new/core.appliances.xml
Due: userdata

Correct device
  plugwise/__init__.py
Due: userdata, pylint

Set mode = off when regulation_mode = off
  plugwise/__init__.py
Due: userdata, pylint

Bump to a2
  pyproject.toml
Due: none

Store updated fixture
  fixtures/adam_jip/all_data.json
Due: none

Correct
  scripts/manual_fixtures.py
Due: userdata

Gateway_id will never be None
  plugwise/helper.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Adam: don't update for cooling
  plugwise/__init__.py
Due: userdata, pylint

Update adam_jip fixture for testing in pw-beta/Core plugwise
  scripts/manual_fixtures.py
Due: userdata

Try typing self._heater_id as str only
  plugwise/helper.py
Due: userdata, pylint

Correct syntax
  plugwise/helper.py
Due: userdata, pylint

Update related test-asserts
  tests/test_smile.py
Due: userdata

Add new constants.py
  plugwise/constants.py
Due: userdata, pylint

Bump to v0.34.0a0 test-version
  pyproject.toml
Due: none

Bump to a1
  pyproject.toml
Due: none

Another correction
  scripts/manual_fixtures.py
Due: userdata

Add info for mode = off
  plugwise/__init__.py
Due: userdata, pylint

Store updated test-fixtures
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
Due: none

Correct mode-logic
  plugwise/__init__.py
Due: userdata, pylint

Fix errors
  scripts/manual_fixtures.py
Due: userdata

Also add mode=heat for m_adam_heating
  scripts/manual_fixtures.py
Due: userdata

One more creation-fix
  scripts/manual_fixtures.py
Due: userdata

Save updated fixture
  fixtures/adam_heatpump_cooling/all_data.json
  plugwise/__init__.py
Due: userdata, pylint

Save updated fixtures
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
Due: none

Save updated fixture
  fixtures/m_adam_cooling/all_data.json
Due: none

Bump to a3 test-version
  pyproject.toml
Due: none

set_temperature(): add extra guarding for Adam
  plugwise/__init__.py
Due: userdata, pylint

Correct relevant mode-asserts to cool
  tests/test_smile.py
Due: userdata

Update creation of m_adam-fixttures
  scripts/manual_fixtures.py
Due: userdata

Output mode=cool for Adam
  plugwise/__init__.py
Due: userdata, pylint

Update/correct CHANGELOG after rebase
  CHANGELOG.md
Due: none

Further CHANGELOG updates
  CHANGELOG.md
Due: none

Clean up CHANGELOG after rebase
  CHANGELOG.md
Due: none

Repopulate GatewayData class after rebase
  plugwise/constants.py
Due: userdata, pylint

Correct PlugwiseData class
  plugwise/constants.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
