Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: Validating userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: Running MyPy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: PyLinting
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Update test-json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
Due: none

Updated test-json
  tests/data/adam/adam_bad_thermostat.json
  tests/data/adam/adam_plus_anna_new.json
Due: none

Update test-json
  tests/data/adam/adam_jip.json
Due: none

Add missing _couht update
  plugwise/common.py
Due: userdata, pylint

Fix typo
  plugwise/constants.py
Due: userdata, pylint

Init _dhw_allowed_modes
  plugwise/helper.py
Due: userdata, pylint

Update test-jsons
  tests/data/adam/adam_bad_thermostat.json
  tests/data/adam/adam_plus_anna_new.json
Due: none

Update test-json
  tests/data/adam/adam_plus_anna.json
Due: none

Partly revert changes in helper.py
  plugwise/helper.py
Due: userdata, pylint

Correct _get_toggle_state()
  plugwise/helper.py
Due: userdata, pylint

Partly revert changes in smile.py
  plugwise/smile.py
Due: userdata, pylint

Revert test-name-changes in tinker_actuator_temp()
  tests/test_init.py
Due: userdata

Partly revert changes in constants
  plugwise/constants.py
Due: userdata, pylint

Update entity_items count
  tests/test_adam.py
Due: userdata

Update test-jsons
  fixtures/adam_bad_thermostat/data.json
  fixtures/adam_heatpump_cooling/data.json
  fixtures/adam_jip/data.json
  fixtures/adam_onoff_cooling_fake_firmware/data.json
  fixtures/adam_plus_anna/data.json
  fixtures/adam_plus_anna_new/data.json
  fixtures/adam_plus_anna_new_regulation_off/data.json
  fixtures/anna_elga_2/data.json
  fixtures/anna_elga_2_cooling/data.json
  fixtures/anna_elga_2_schedule_off/data.json
  fixtures/anna_elga_no_cooling/data.json
  fixtures/anna_heatpump_cooling/data.json
  fixtures/anna_heatpump_cooling_fake_firmware/data.json
  fixtures/anna_heatpump_heating/data.json
  fixtures/anna_loria_cooling_active/data.json
  fixtures/anna_loria_driessens/data.json
  fixtures/anna_loria_heating_idle/data.json
  fixtures/anna_p1/data.json
  fixtures/anna_v4/data.json
  fixtures/anna_v4_dhw/data.json
  fixtures/anna_v4_no_tag/data.json
  tests/data/anna/anna_elga_2.json
  tests/data/anna/anna_elga_2_cooling.json
  tests/data/anna/anna_elga_2_cooling_UPDATED_DATA.json
  tests/data/anna/anna_elga_2_schedule_off.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_cooling.json
  tests/data/anna/anna_heatpump_cooling_fake_firmware.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_heatpump_heating_UPDATED_DATA.json
  tests/data/anna/anna_loria_cooling_active.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_loria_heating_idle.json
  tests/data/anna/anna_p1.json
  tests/data/anna/anna_v4.json
  tests/data/anna/anna_v4_UPDATED_DATA.json
  tests/data/anna/anna_v4_dhw.json
  tests/data/anna/anna_v4_no_tag.json
  tests/data/anna/anna_without_boiler_fw441.json
Due: none

Update entity_items count
  tests/test_anna.py
Due: userdata

Add missing argument
  plugwise/legacy/helper.py
Due: userdata, pylint

Update test-json
  tests/data/anna/legacy_anna.json
Due: none

Update entity_items counts
  fixtures/legacy_anna/data.json
  tests/test_legacy_anna.py
Due: userdata

Update test-json
  tests/data/anna/legacy_anna_2.json
Due: none

Mypy fix
  plugwise/smile.py
Due: userdata, pylint

Fix manual fixtures script
  scripts/manual_fixtures.py
Due: userdata

Save updated fixture
  fixtures/legacy_anna_2/data.json
Due: none

Update m_adam_heating
  scripts/manual_fixtures.py
Due: userdata

Save updated manual fixtures
  fixtures/m_adam_cooling/data.json
  fixtures/m_adam_heating/data.json
  fixtures/m_adam_heating_off_schedule/data.json
  fixtures/m_adam_jip/data.json
  fixtures/m_anna_heatpump_cooling/data.json
  fixtures/m_anna_heatpump_idle/data.json
Due: none

Shorten guard
  plugwise/smile.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump version to v1.14.0a0
  pyproject.toml
Due: none

One more update for m_adam_heating, as suggested
  scripts/manual_fixtures.py
Due: userdata

Save updated manual fixtures
  fixtures/m_adam_heating/data.json
  fixtures/m_adam_heating_off_schedule/data.json
Due: none

Update docstring as suggested, keep the dhw_temperature sensor for now
  plugwise/common.py
Due: userdata, pylint

Enable skip_testing
  tests/test_adam.py
  tests/test_anna.py
Due: userdata

Disable entity_items count
  tests/test_adam.py
  tests/test_anna.py
Due: userdata

Save updated test-jsons
  tests/data/adam/adam_bad_thermostat.json
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_loria_cooling_active.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_loria_heating_idle.json
Due: none

Revert "Save updated test-jsons"
  tests/data/adam/adam_bad_thermostat.json
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_loria_cooling_active.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_loria_heating_idle.json
Due: none

Revert "Disable entity_items count"
  tests/test_adam.py
  tests/test_anna.py
Due: userdata

Revert "Enable skip_testing"
  tests/test_adam.py
  tests/test_anna.py
Due: userdata

Update entity_items counts
  tests/test_adam.py
Due: userdata

Save updated test-jsons
  tests/data/adam/adam_bad_thermostat.json
  tests/data/adam/adam_heatpump_cooling.json
Due: none

Save various updates
  fixtures/adam_bad_thermostat/data.json
  fixtures/adam_heatpump_cooling/data.json
  fixtures/adam_onoff_cooling_fake_firmware/data.json
  fixtures/anna_elga_no_cooling/data.json
  fixtures/anna_heatpump_heating/data.json
  fixtures/anna_loria_cooling_active/data.json
  fixtures/anna_loria_driessens/data.json
  fixtures/anna_loria_heating_idle/data.json
  fixtures/m_anna_heatpump_cooling/data.json
  fixtures/m_anna_heatpump_idle/data.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_loria_cooling_active.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_loria_heating_idle.json
  tests/test_adam.py
  tests/test_anna.py
Due: userdata

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
