Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

.pre-commit-config.yaml:

ci:
  # Defer autoupdate to quarterly (there is no 'off' button) to have renovate pick up first
  autoupdate_schedule: quarterly
  skip: [pylint, markdownlint, testing, fixtures]
  submodules: true

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.11

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.265
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests|scripts)/.+)?[^/]+\.py$
  #  Moved codespell configuration to setup.cfg as per 'all-files' issues not reading args
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.31.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.5.1
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(plugwise|tests)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/$
      - id: pylint
        name: pylint
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^plugwise/.+\.py$
      - id: testing
        name: "Local Testing - Performing Tests"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh test_and_coverage'
        language: script
        pass_filenames: false
      - id: fixtures
        name: "Fixture formatting"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh fixtures'
        language: script
        pass_filenames: false
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint

Add Smile/Legacy property gateway_id
  plugwise/__init__.py
  plugwise/helper.py
  plugwise/legacy/helper.py
Due: userdata, pylint

Add Smile/Legacy item_count property
  plugwise/__init__.py
  plugwise/helper.py
  plugwise/legacy/helper.py
Due: userdata, pylint

Cleaning up SmileProps
  plugwise/__init__.py
  plugwise/constants.py
  plugwise/data.py
  plugwise/legacy/data.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Import NONE
  plugwise/smile.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Remove pylint_per-file-ignores plugin
  pyproject.toml
Due: none

Remove init in legacy/data.py
  plugwise/legacy/data.py
Due: userdata, pylint

Bump to v1.7.3a3
  pyproject.toml
Due: none

Bump to v1.7.3 release-version
  pyproject.toml
Due: none

Fix double-use of version
  tests/test_init.py
Due: userdata

Use SPDX license identifier
  pyproject.toml
Due: none

Cleanup packaging config
  pyproject.toml
  requirements_commit.txt
  requirements_test.txt
  setup.cfg
  setup.py
Due: userdata

Remove specific python 3.13.0 requirement
  .github/workflows/verify.yml
Due: none

Bump to v1.7.4
  pyproject.toml
Due: none

Move codespell config to pre-commit
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
Due: none

Update scripts wrt uv and venv
  scripts/complexity.sh
  scripts/manual_fixtures.py
  scripts/run-in-env.sh
  scripts/setup.sh
  scripts/setup_test.sh
  scripts/tests_and_coverage.sh
Due: userdata

Redundant script
  scripts/python-venv.sh
Due: none

Improve/clean-up codespell
  .pre-commit-config.yaml
Due: none

Shellcheck
  .pre-commit-config.yaml
  scripts/complexity.sh
  scripts/run-in-env.sh
  scripts/setup.sh
  scripts/setup_test.sh
  scripts/tests_and_coverage.sh
Due: none

Suggested improvements
  scripts/tests_and_coverage.sh
Due: none

Further ingests
  scripts/setup.sh
  scripts/setup_test.sh
Due: none

Bump version and deprecate accordingly
  .github/workflows/verify.yml
  CHANGELOG.md
  pyproject.toml
Due: none

Let set-switch functions return a bool, improve handling of locked state
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

fixup: relay-sw-improve Python code fixed using ruff
  plugwise/__init__.py
  plugwise/legacy/smile.py
Due: userdata, pylint

Adapt tinker_switch() test function
  tests/test_init.py
Due: userdata

Fix legacy set_switch for lock
  plugwise/legacy/smile.py
Due: userdata, pylint

Ruff fix
  tests/test_init.py
Due: userdata

Test: clear no longer expected exception
  tests/test_init.py
Due: userdata

Add pragma-no-cover for legacy
  plugwise/legacy/smile.py
Due: userdata, pylint

Save updates
  fixtures/adam_multiple_devices_per_zone/data.json
  fixtures/m_adam_multiple_devices_per_zone/data.json
  plugwise/smile.py
  tests/data/adam/adam_multiple_devices_per_zone.json
Due: userdata, pylint

Fix expected state value
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Improve test
  tests/test_init.py
Due: userdata

Return fixes
  plugwise/constants.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Update related entity_items
  tests/test_adam.py
Due: userdata

More return fixes
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Fix testcode
  tests/test_init.py
Due: userdata

Add testcase for a blocked switchgroup-change
  tests/data/adam/adam_multiple_devices_per_zone.json
  tests/test_adam.py
  userdata/adam_multiple_devices_per_zone/core.domain_objects.xml
Due: userdata

Bump to v1.7.6a0 test-version
  pyproject.toml
Due: none

Correct switch state input
  plugwise/legacy/smile.py
  plugwise/smile.py
  tests/test_init.py
Due: userdata, pylint
