Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Add support for gateway-modes (vacation, pause)
  plugwise/__init__.py
  plugwise/helper.py
Due: userdata, pylint

Update adam_tests
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_plus_anna_new.json
  tests/test_adam.py
Due: userdata

_get_gateway_mode(): limit to Adam
  plugwise/helper.py
Due: userdata, pylint

Save updated fixtures
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
  fixtures/m_adam_jip/all_data.json
Due: none

Add set_gateway_mode() function
  plugwise/__init__.py
Due: userdata, pylint

Update set_gateway_mode()
  plugwise/__init__.py
Due: userdata, pylint

Add test-method and implement
  plugwise/__init__.py
  tests/test_adam.py
  tests/test_init.py
Due: userdata, pylint

Add new items to DeviceData class
  plugwise/constants.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Fix DTZ003-error
  plugwise/__init__.py
Due: userdata, pylint

Improve
  plugwise/helper.py
Due: userdata, pylint

Improve as suggested
  plugwise/__init__.py
Due: userdata, pylint

Bump to v0.36.0 release-version
  pyproject.toml
Due: none

Revert back to include python 3.11
  .github/workflows/merge.yml
  .github/workflows/verify.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Bump to v0.36.1 release-version
  pyproject.toml
Due: none

Minimal required changes
  .github/workflows/merge.yml
  .github/workflows/verify.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Fix depreciation-warnings
  plugwise/__init__.py
  plugwise/helper.py
Due: userdata, pylint

Remove non-exisiting device for device-removal test, not needed
  scripts/manual_fixtures.py
Due: userdata

Save updated fixture
  fixtures/m_adam_heating/all_data.json
Due: none

Correct m_adam_heating fixture
  scripts/manual_fixtures.py
Due: userdata

Correct script once more
  scripts/manual_fixtures.py
Due: userdata

Add thermostat_supports_cooling to HEATER_CENTRAL_MEASUREMENTS
  plugwise/constants.py
Due: userdata, pylint

Pop thermostat_supports_cooling when no longer needed
  plugwise/helper.py
Due: userdata, pylint

Combine cases
  plugwise/helper.py
Due: userdata, pylint

Add constants, update typing, implement
  plugwise/constants.py
  plugwise/helper.py
Due: userdata, pylint

Simplify
  plugwise/helper.py
Due: userdata, pylint

Implement use of thermostat_supports_cooling
  plugwise/helper.py
Due: userdata, pylint

Add a userdata set for Anna+Elga without cooling support
  userdata/anna_elga_no_cooling/core.appliances.xml
  userdata/anna_elga_no_cooling/core.direct_objects.xml
  userdata/anna_elga_no_cooling/core.domain_objects.xml
  userdata/anna_elga_no_cooling/core.locations.xml
  userdata/anna_elga_no_cooling/core.modules.xml
Due: none

Add related test-case
  tests/test_anna.py
Due: userdata

Add related data-file
  tests/data/anna/anna_elga_no_cooling.json
Due: none

Fix removing unwanted keys
  plugwise/helper.py
Due: userdata, pylint

Fix data-set, device-items count
  tests/data/anna/anna_elga_no_cooling.json
  tests/test_anna.py
Due: userdata

Save new fixtures
  fixtures/anna_elga_no_cooling/all_data.json
  fixtures/anna_elga_no_cooling/device_list.json
  fixtures/anna_elga_no_cooling/notifications.json
Due: none

Bump to v0.36.2a0 test-version
  pyproject.toml
Due: none

Bump to v0.36.2 release-version
  pyproject.toml
Due: none

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
