Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

.pre-commit-config.yaml:

ci:
  # Defer autoupdate to quarterly (there is no 'off' button) to have renovate pick up first
  autoupdate_schedule: quarterly
  skip: [pylint, markdownlint, testing, fixtures]
  submodules: true

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.11

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.265
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests|scripts)/.+)?[^/]+\.py$
  #  Moved codespell configuration to setup.cfg as per 'all-files' issues not reading args
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.31.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.5.1
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(plugwise|tests)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/$
      - id: pylint
        name: pylint
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^plugwise/.+\.py$
      - id: testing
        name: "Local Testing - Performing Tests"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh test_and_coverage'
        language: script
        pass_filenames: false
      - id: fixtures
        name: "Fixture formatting"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh fixtures'
        language: script
        pass_filenames: false
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint

Bump to a5
  pyproject.toml
Due: none

2nd fix
  plugwise/__init__.py
Due: userdata, pylint

Bump to a6
  pyproject.toml
Due: none

Show selected as Off when no schedule is active
  plugwise/helper.py
Due: userdata, pylint

Bump to a7
  pyproject.toml
Due: none

Move code to a better position
  plugwise/__init__.py
  plugwise/helper.py
Due: userdata, pylint

Move again
  plugwise/__init__.py
Due: userdata, pylint

Correct None test-asserts to Off
  tests/test_smile.py
Due: userdata

Improve
  plugwise/__init__.py
Due: userdata, pylint

Add ident
  plugwise/__init__.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump to a8
  pyproject.toml
Due: none

Remove debug-logging
  plugwise/__init__.py
Due: userdata, pylint

Split off _get_schedule_states_with_off() function
  plugwise/__init__.py
Due: userdata, pylint

Reorganize
  plugwise/__init__.py
Due: userdata, pylint

Bump to v0.35.0 release-version
  pyproject.toml
Due: none

Don't capitalize
  plugwise/constants.py
Due: userdata, pylint

Update CHANGELOG, bump to v0.35.1
  CHANGELOG.md
  pyproject.toml
Due: none

Update related test-asserts
  tests/test_smile.py
Due: userdata

Replace not smile(ADAM) guards
  plugwise/__init__.py
Due: userdata, pylint

Reorder functions, optimize/improve guarding
  plugwise/__init__.py
Due: userdata, pylint

Improve comment
  plugwise/__init__.py
Due: userdata, pylint

Ruffed
  plugwise/helper.py
Due: userdata, pylint

Move control_state setting
  plugwise/__init__.py
Due: userdata, pylint

Split off _add_or_update_notifications() function
  plugwise/__init__.py
Due: userdata, pylint

Move collection of gateway outdoor_temp
  plugwise/__init__.py
  plugwise/helper.py
Due: userdata, pylint

Move getting group_switches
  plugwise/__init__.py
  plugwise/helper.py
Due: userdata, pylint

Remove comments
  plugwise/__init__.py
Due: userdata, pylint

Blacked, save updated fixture
  fixtures/adam_jip/all_data.json
  plugwise/__init__.py
Due: userdata, pylint

Improve comments
  plugwise/__init__.py
Due: userdata, pylint

Combine collection of Adam data
  plugwise/__init__.py
Due: userdata, pylint

Fix wrong ident
  plugwise/helper.py
Due: userdata, pylint

Reorder functions
  plugwise/__init__.py
  plugwise/helper.py
Due: userdata, pylint

Make sure to use output of _check_availability()
  plugwise/__init__.py
Due: userdata, pylint

Break-out _get_plugwise_notifications(), replace _update_domain_objects()
  plugwise/__init__.py
Due: userdata, pylint

Anna only has one thermostat
  plugwise/__init__.py
Due: userdata, pylint

Add counting-related comment
  plugwise/helper.py
Due: userdata, pylint

Move use of _scan_thermostats(), _get_appliances_with_offset_functionality()
  plugwise/__init__.py
  plugwise/helper.py
Due: userdata, pylint

Move collection of _dhw_allowed_modes
  plugwise/__init__.py
  plugwise/helper.py
Due: userdata, pylint
