Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Try
  plugwise/helper.py
Due: userdata, pylint

fixup: act_upd_date Python code reformatted using Black
  plugwise/__init__.py
Due: userdata, pylint

Fix 2
  plugwise/helper.py
Due: userdata, pylint

Blacked
  plugwise/helper.py
Due: userdata, pylint

Add debug
  plugwise/__init__.py
Due: userdata, pylint

Add data
  tests/test_smile.py
Due: userdata

Debug
  tests/test_smile.py
Due: userdata

Add modified anna_heatpump_heating userdata, mimicking Core Issue #99372
  userdata/updated/anna_heatpump_heating/core.appliances.xml
  userdata/updated/anna_heatpump_heating/core.direct_objects.xml
  userdata/updated/anna_heatpump_heating/core.domain_objects.xml
  userdata/updated/anna_heatpump_heating/core.locations.xml
  userdata/updated/anna_heatpump_heating/core.modules.xml
Due: none

Try remove
  plugwise/helper.py
Due: userdata, pylint

Some cleaning
  plugwise/__init__.py
  plugwise/constants.py
Due: userdata, pylint

Try 4
  plugwise/helper.py
Due: userdata, pylint

Debug
  plugwise/__init__.py
Due: userdata, pylint

Rebuild device_dict
  plugwise/__init__.py
Due: userdata, pylint

Actuators: check for presence of update_date
  plugwise/helper.py
Due: userdata, pylint

Start updating with empty dicts
  plugwise/__init__.py
Due: userdata, pylint

Add notifications to gw_data
  plugwise/__init__.py
Due: userdata, pylint

Fix syntax
  plugwise/__init__.py
Due: userdata, pylint

Extra debug
  plugwise/helper.py
Due: userdata, pylint

Fix
  plugwise/helper.py
Due: userdata, pylint

Implement new idea
  plugwise/__init__.py
Due: userdata, pylint

Test without doing async_update()
  tests/test_smile.py
Due: userdata

More debug
  plugwise/__init__.py
Due: userdata, pylint

Move debug
  plugwise/helper.py
Due: userdata, pylint

Add selfs
  plugwise/__init__.py
Due: userdata, pylint

Try
  plugwise/__init__.py
Due: userdata, pylint

Try 5
  tests/test_smile.py
Due: userdata

Add missing imports
  plugwise/__init__.py
Due: userdata, pylint

Try 3
  plugwise/helper.py
Due: userdata, pylint

Remove debugging
  plugwise/__init__.py
Due: userdata, pylint

Back to normal testing
  scripts/tests_and_coverage.sh
Due: none

Removed added debugging in test_smile.py
  tests/test_smile.py
Due: userdata

Move the updated_date check up
  plugwise/helper.py
Due: userdata, pylint

The new check covers the setpoint=nil case (adam_plus_anna)
  plugwise/helper.py
Due: userdata, pylint

Improve handling of invalid actuator xml-data
  plugwise/helper.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Improve handling of obsolete measurements
  plugwise/constants.py
  plugwise/helper.py
Due: userdata, pylint

Improve
  plugwise/helper.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
