Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Remove legacy-related testcases
  tests/test_anna.py
  tests/test_p1.py
  tests/test_stretch.py
Due: userdata

Add one cooling_enabled switch for Elga in userdata
  userdata/anna_heatpump_heating/core.domain_objects.xml
Due: none

Fix
  plugwise/__init__.py
Due: userdata, pylint

Fix 15
  tests/data/anna/anna_v4.json
Due: none

Fix valve assert
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_multiple_devices_per_zone.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
  tests/data/adam/adam_zone_per_device.json
Due: none

Fix 18
  tests/data/anna/anna_v4.json
Due: none

Remove vendor-model for test-coverage
  userdata/adam_plus_anna/core.domain_objects.xml
Due: none

Fix reachable to false
  userdata/updated/adam_plus_anna_new/core.domain_objects.xml
Due: none

Update userdata 10
  userdata/anna_elga_2_cooling/core.domain_objects.xml
Due: none

Remove
  plugwise/__init__.py
Due: userdata, pylint

Update usersdata 2
  userdata/anna_v4_dhw/core.domain_objects.xml
Due: none

Update adam_plus_anna userdata to cover helper.py line 524
  userdata/adam_plus_anna/core.domain_objects.xml
Due: none

Fix 26
  tests/data/p1/p1v4.json
Due: none

Remove commented-out lines
  plugwise/__init__.py
  plugwise/helper.py
Due: userdata, pylint

Fix 24
  tests/data/anna/anna_loria_cooling_active.json
Due: none

Change missed to domain_objects
  plugwise/__init__.py
Due: userdata, pylint

Clear domain_objects like appliances
  userdata/adam_onoff_cooling_fake_firmware/core.domain_objects.xml
Due: none

Update userdata 4
  userdata/anna_heatpump_cooling/core.domain_objects.xml
Due: none

Fix 21
  tests/data/anna/anna_v4_dhw.json
Due: none

Fix 12
  userdata/updated/adam_plus_anna_new/core.domain_objects.xml
Due: none

Update userdata 3
  userdata/anna_heatpump_heating/core.domain_objects.xml
Due: none

Remove test_connect_adam_plus_anna_copy_with_error_domain_added
  tests/test_adam.py
Due: userdata

Fix 19
  tests/data/anna/anna_v4.json
Due: none

Fix 27
  tests/data/p1/p1v4_442_single.json
Due: none

Fix 14
  tests/data/anna/anna_v4.json
Due: none

Update userdata 12
  userdata/p1v4_442_triple/core.domain_objects.xml
Due: none

Adapt device_test to async_update() changes
  tests/test_init.py
Due: userdata

Add Aqara Smart Plug appliance to domain_objects
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: none

Update userdata 8
  userdata/anna_elga_2/core.domain_objects.xml
Due: none

Update userdata 11
  userdata/anna_loria_cooling_active/core.domain_objects.xml
Due: none

Save updated fixtures
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
  fixtures/adam_plus_anna/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_zone_per_device/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_heatpump_cooling/all_data.json
  fixtures/anna_heatpump_cooling_fake_firmware/all_data.json
  fixtures/anna_loria_cooling_active/all_data.json
  fixtures/anna_loria_driessens/all_data.json
  fixtures/anna_loria_heating_idle/all_data.json
  fixtures/anna_v4/all_data.json
  fixtures/anna_v4_dhw/all_data.json
  fixtures/anna_v4_no_tag/all_data.json
  fixtures/m_adam_jip/all_data.json
  fixtures/m_adam_jip/device_list.json
  fixtures/p1v4/all_data.json
  fixtures/p1v4_442_single/all_data.json
Due: none

Disable legacy-related code in helper.py
  plugwise/helper.py
Due: userdata, pylint

Update comment
  plugwise/helper.py
Due: userdata, pylint

Fix 25
  tests/data/anna/anna_loria_driessens.json
Due: none

Remove generic legacy-connected test
  tests/test_generic.py
Due: userdata

Separate legacy and non-legacy testfiles
  tests/data/legacy_anna/legacy_anna.json
  tests/data/legacy_anna/legacy_anna_2.json
  tests/data/legacy_p1/smile_p1_v2.json
  tests/data/legacy_p1/smile_p1_v2_2.json
  tests/data/legacy_p1/smile_p1_v2_2_UPDATED_DATA.json
  tests/data/legacy_stretch/stretch_v23.json
  tests/data/legacy_stretch/stretch_v27_no_domain.json
  tests/data/legacy_stretch/stretch_v31.json
  tests/data/legacy_stretch/stretch_v31_UPDATED_DATA.json
  tests/test_adam.py
  tests/test_anna.py
  tests/test_generic.py
  tests/test_legacy_anna.py
  tests/test_legacy_generic.py
  tests/test_legacy_p1.py
  tests/test_legacy_stretch.py
  tests/test_p1.py
Due: userdata

Revert some test-changes
  tests/data/anna/legacy_anna.json
  tests/data/anna/legacy_anna_2.json
  tests/data/p1/smile_p1_v2.json
  tests/data/p1/smile_p1_v2_2.json
  tests/data/p1/smile_p1_v2_2_UPDATED_DATA.json
  tests/data/stretch/stretch_v23.json
  tests/data/stretch/stretch_v27_no_domain.json
  tests/data/stretch/stretch_v31.json
  tests/data/stretch/stretch_v31_UPDATED_DATA.json
Due: none

Rework all set-functions to legacy-only
  plugwise/__init__.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
