Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$

Fix length in test as suggested
  tests/test_anna.py
Due: userdata

Typing fixes
  plugwise/smile.py
Due: userdata, pylint

Fix typo
  tests/test_init.py
Due: userdata

Clean up
  plugwise/__init__.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Adapt tinker_dhw_mode
  tests/test_init.py
Due: userdata

Rework to single if with walrus
  plugwise/data.py
Due: userdata, pylint

Adapt for both select_dhw_mode and dhw_mode options
  plugwise/smile.py
Due: userdata, pylint

Update typing
  plugwise/__init__.py
  plugwise/smile.py
Due: userdata, pylint

Line up all set_dhw_mode() functions
  plugwise/__init__.py
  plugwise/legacy/smile.py
Due: userdata, pylint

Improve
  plugwise/smile.py
Due: userdata, pylint

Back to normal test-output
  scripts/tests_and_coverage.sh
Due: none

Adapt legacy set_switch_state() output typing
  plugwise/legacy/smile.py
Due: userdata, pylint

Change constants preparing for improved water_heater dicts
  plugwise/constants.py
Due: userdata, pylint

Update for dhw_temperature and debug
  plugwise/helper.py
Due: userdata, pylint

Revert removal of original actuator keys
  fixtures/adam_bad_thermostat/data.json
  plugwise/constants.py
Due: userdata, pylint

Add current (temperature) to dhw_temperature dict
  plugwise/helper.py
Due: userdata, pylint

Add current to maximum_boiler_temperature dict
  plugwise/helper.py
Due: userdata, pylint

Handle common dhw_ and water_temperature
  plugwise/helper.py
Due: userdata, pylint

Shorter maximum_boiler_temperature dict name
  plugwise/helper.py
Due: userdata, pylint

Remove test-debug-line
  plugwise/helper.py
Due: userdata, pylint

Update test-jsons to the updated format
  tests/data/adam/adam_bad_thermostat.json
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_plus_anna_new.json
  tests/data/adam/adam_plus_anna_new_regulation_off.json
Due: none

Update parameter name in data.py too
  plugwise/data.py
  tests/data/adam/adam_bad_thermostat.json
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
  tests/data/adam/adam_plus_anna.json
Due: userdata, pylint

Correct items_count
  plugwise/helper.py
Due: userdata, pylint

Update entity_items assert
  tests/test_adam.py
Due: userdata

Update test-json
  tests/data/anna/anna_v4.json
Due: none

Update entity_items assert
  tests/test_anna.py
Due: userdata

Update test-jsons
  tests/data/anna/anna_v4_UPDATED_DATA.json
  tests/data/anna/anna_v4_dhw.json
Due: none

Update test-json
  tests/data/anna/anna_v4_no_tag.json
Due: none

update test-jsons
  tests/data/anna/anna_elga_2_cooling.json
  tests/data/anna/anna_elga_2_cooling_UPDATED_DATA.json
  tests/data/anna/anna_elga_2_schedule_off.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_cooling.json
  tests/data/anna/anna_heatpump_cooling_fake_firmware.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_heatpump_heating_UPDATED_DATA.json
  tests/data/anna/anna_loria_cooling_active.json
  tests/data/anna/anna_loria_driessens.json
  tests/data/anna/anna_loria_heating_idle.json
Due: none

Update classes for typing
  plugwise/constants.py
Due: userdata, pylint

Save updated fixtures
  fixtures/adam_bad_thermostat/data.json
  fixtures/adam_heatpump_cooling/data.json
  fixtures/adam_jip/data.json
  fixtures/adam_onoff_cooling_fake_firmware/data.json
  fixtures/adam_plus_anna/data.json
  fixtures/adam_plus_anna_new/data.json
  fixtures/adam_plus_anna_new_regulation_off/data.json
  fixtures/anna_elga_2_cooling/data.json
  fixtures/anna_elga_2_schedule_off/data.json
  fixtures/anna_elga_no_cooling/data.json
  fixtures/anna_heatpump_cooling/data.json
  fixtures/anna_heatpump_cooling_fake_firmware/data.json
  fixtures/anna_heatpump_heating/data.json
  fixtures/anna_loria_cooling_active/data.json
  fixtures/anna_loria_driessens/data.json
  fixtures/anna_loria_heating_idle/data.json
  fixtures/anna_v4/data.json
  fixtures/anna_v4_dhw/data.json
  fixtures/anna_v4_no_tag/data.json
  fixtures/m_adam_cooling/data.json
  fixtures/m_adam_heating/data.json
  fixtures/m_adam_heating_off_schedule/data.json
  fixtures/m_adam_jip/data.json
  fixtures/m_anna_heatpump_cooling/data.json
  fixtures/m_anna_heatpump_idle/data.json
Due: none

Legacy has no dhw_temperature dict
  plugwise/legacy/helper.py
Due: userdata, pylint

Reduce complexity
  plugwise/helper.py
Due: userdata, pylint

Update manual_fixtures.py
  scripts/manual_fixtures.py
Due: userdata

Save correctly update manual fixtures
  fixtures/m_adam_cooling/data.json
  fixtures/m_adam_heating/data.json
  fixtures/m_adam_heating_off_schedule/data.json
  fixtures/m_anna_heatpump_cooling/data.json
  fixtures/m_anna_heatpump_idle/data.json
Due: none

Change dhw_mode off to eco, dhw heating is never off unless specificly stated
  plugwise/helper.py
Due: userdata, pylint

Save updated test-jsons
  tests/data/adam/adam_bad_thermostat.json
  tests/data/adam/adam_heatpump_cooling.json
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_onoff_cooling_fake_firmware.json
  tests/data/adam/adam_plus_anna.json
  tests/data/adam/adam_plus_anna_new.json
  tests/data/adam/adam_plus_anna_new_regulation_off.json
  tests/data/anna/anna_elga_2.json
  tests/data/anna/anna_elga_2_cooling.json
  tests/data/anna/anna_elga_2_cooling_UPDATED_DATA.json
  tests/data/anna/anna_elga_2_schedule_off.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_cooling.json
  tests/data/anna/anna_heatpump_cooling_fake_firmware.json
  tests/data/anna/anna_heatpump_heating.json
  tests/data/anna/anna_heatpump_heating_UPDATED_DATA.json
  tests/data/anna/anna_p1.json
  tests/data/anna/anna_v4.json
  tests/data/anna/anna_v4_UPDATED_DATA.json
  tests/data/anna/anna_v4_dhw.json
  tests/data/anna/anna_v4_no_tag.json
Due: none

Update test-jsons
  plugwise/helper.py
  tests/data/adam/adam_bad_thermostat.json
  tests/data/adam/adam_jip.json
  tests/data/adam/adam_plus_anna.json
  tests/data/adam/adam_plus_anna_new.json
  tests/data/adam/adam_plus_anna_new_regulation_off.json
  tests/data/anna/anna_elga_2.json
  tests/data/anna/anna_elga_no_cooling.json
  tests/data/anna/anna_heatpump_cooling.json
  tests/data/anna/anna_heatpump_cooling_fake_firmware.json
  tests/data/anna/anna_heatpump_heating_UPDATED_DATA.json
  tests/data/anna/anna_v4.json
  tests/data/anna/anna_v4_dhw.json
  tests/data/anna/anna_v4_no_tag.json
Due: userdata, pylint
