Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

.pre-commit-config.yaml:

ci:
  # Defer autoupdate to quarterly (there is no 'off' button) to have renovate pick up first
  autoupdate_schedule: quarterly
  skip: [pylint, markdownlint, testing, fixtures]
  submodules: true

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3.11

repos:
  # Run manually in CI skipping the branch checks
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.265
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: no-commit-to-branch
        args:
          - --branch=main
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((plugwise|tests|scripts)/.+)?[^/]+\.py$
  #  Moved codespell configuration to setup.cfg as per 'all-files' issues not reading args
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(plugwise|tests)/.+\.py$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.31.0
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.5.1
    hooks:
      # Run `python-typing-update` hook manually from time to time
      # to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py39-plus
          - --force
          - --keep-updates
        files: ^(plugwise|tests)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: userdata
        name: userdata
        entry: scripts/pre-commit.sh
        language: script
        types: [python]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^plugwise/$
      - id: pylint
        name: pylint
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^plugwise/.+\.py$
      - id: testing
        name: "Local Testing - Performing Tests"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh test_and_coverage'
        language: script
        pass_filenames: false
      - id: fixtures
        name: "Fixture formatting"
        # yamllint disable-line rule:line-length
        entry: /usr/bin/env bash -c 'exec env GITHUB_ACTIONS="1" scripts/tests_and_coverage.sh fixtures'
        language: script
        pass_filenames: false
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint

str() away_time
  plugwise/__init__.py
Due: userdata, pylint

Bump to a1
  pyproject.toml
Due: none

Fix set_gateway_mode away timestamp
  plugwise/__init__.py
Due: userdata, pylint

Bump to v0.36.3a0 test-version
  pyproject.toml
Due: none

Fix format
  plugwise/__init__.py
Due: userdata, pylint

fixup: gateway_away Python code fixed using ruff
  plugwise/__init__.py
Due: userdata, pylint

Add missing .find()
  plugwise/__init__.py
Due: userdata, pylint

Bump to a4
  pyproject.toml
Due: none

Extend output of _rule_ids_by_tag()
  plugwise/helper.py
Due: userdata, pylint

Fix
  plugwise/helper.py
Due: userdata, pylint

Also adapt _rule_ids_by_name() to avoid typing issues
  plugwise/helper.py
Due: userdata, pylint

Fix another typing definition
  plugwise/helper.py
Due: userdata, pylint

Bump to a5
  pyproject.toml
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

V0.36.3 release-version
  pyproject.toml
Due: none

Fix CHANGELOG
  CHANGELOG.md
Due: none

Remove unneeded line
  plugwise/helper.py
Due: userdata, pylint

Pre-fix #506
  .github/workflows/verify.yml
Due: none

Update as suggested
  pyproject.toml
Due: none

Fix raise from ... as suggested
  plugwise/helper.py
  tests/test_init.py
Due: userdata, pylint

Revert lint_select
  pyproject.toml
Due: none

Revert lint_ignore
  pyproject.toml
Due: none

Retry
  pyproject.toml
Due: none

Improve comments
  pyproject.toml
Due: none

Fix
  plugwise/__init__.py
Due: userdata, pylint

Clarified
  plugwise/helper.py
Due: userdata, pylint

Remove commented-out lines
  plugwise/__init__.py
  plugwise/helper.py
Due: userdata, pylint

Search only in domain_objects
  plugwise/__init__.py
  plugwise/helper.py
Due: userdata, pylint

Improve locator
  plugwise/helper.py
Due: userdata, pylint

Remove legacy reference in tests
  tests/test_adam.py
  tests/test_anna.py
  tests/test_init.py
Due: userdata

More clean-up
  plugwise/__init__.py
Due: userdata, pylint

Remove generic legacy-connected test
  tests/test_generic.py
Due: userdata

Remove
  plugwise/__init__.py
Due: userdata, pylint

Disable legacy-related code in __init__.py
  plugwise/__init__.py
Due: userdata, pylint

Adapt device_test to async_update() changes
  tests/test_init.py
Due: userdata

Remove legacy-related testcases
  tests/test_anna.py
  tests/test_p1.py
  tests/test_stretch.py
Due: userdata

Disable legacy-related code in helper.py
  plugwise/helper.py
Due: userdata, pylint

More removals/clean-up
  plugwise/__init__.py
  plugwise/constants.py
Due: userdata, pylint

Clean up various legacy references
  plugwise/helper.py
Due: userdata, pylint
