Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Add 3rd input to the HA-related set-number functions,
  plugwise/__init__.py
  tests/test_smile.py
Due: userdata, pylint

Update device-asserts - part 2
  tests/test_smile.py
Due: userdata

Don't obtain actuators for legacy Anna
  plugwise/helper.py
Due: userdata, pylint

Fix f-string
  plugwise/helper.py
Due: userdata, pylint

Change order, line min/max up with Plugwise App
  plugwise/helper.py
Due: userdata, pylint

Revert full test-output
  scripts/tests_and_coverage.sh
Due: none

Fix
  plugwise/__init__.py
Due: userdata, pylint

Bump to a4
  pyproject.toml
Due: none

Change order of LIMITS
  plugwise/constants.py
Due: userdata, pylint

Add required offset-number-keys
  plugwise/helper.py
Due: userdata, pylint

Start adding set_temperature_offset() function
  plugwise/__init__.py
Due: userdata, pylint

Extend fixtures with the added temperature_offset dicts
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_zone_per_device/all_data.json
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_cooling/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_heatpump_cooling/all_data.json
  fixtures/anna_heatpump_cooling_fake_firmware/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
  fixtures/anna_loria_cooling_active/all_data.json
  fixtures/anna_loria_heating_idle/all_data.json
  fixtures/anna_v4/all_data.json
  fixtures/anna_v4_dhw/all_data.json
  fixtures/anna_v4_no_tag/all_data.json
  fixtures/anna_without_boiler_fw3/all_data.json
  fixtures/anna_without_boiler_fw4/all_data.json
  fixtures/anna_without_boiler_fw42/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
  fixtures/m_anna_heatpump_cooling/all_data.json
  fixtures/m_anna_heatpump_idle/all_data.json
Due: none

Update device_asserts - part 1
  tests/test_smile.py
Due: userdata

Revert obtaining actuators for legacy Anna,
  plugwise/helper.py
Due: userdata, pylint

Bump to a1
  pyproject.toml
Due: none

fixup: temp_offset Python code reformatted using Black
  plugwise/helper.py
Due: userdata, pylint

Update test-fixtures
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_zone_per_device/all_data.json
  fixtures/anna_elga_2/all_data.json
  fixtures/anna_elga_2_cooling/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_heatpump_cooling/all_data.json
  fixtures/anna_heatpump_cooling_fake_firmware/all_data.json
  fixtures/anna_heatpump_heating/all_data.json
  fixtures/anna_loria_cooling_active/all_data.json
  fixtures/anna_loria_heating_idle/all_data.json
  fixtures/anna_v4/all_data.json
  fixtures/anna_v4_dhw/all_data.json
  fixtures/anna_v4_no_tag/all_data.json
  fixtures/anna_without_boiler_fw3/all_data.json
  fixtures/anna_without_boiler_fw4/all_data.json
  fixtures/anna_without_boiler_fw42/all_data.json
  fixtures/m_adam_cooling/all_data.json
  fixtures/m_adam_heating/all_data.json
  fixtures/m_anna_heatpump_cooling/all_data.json
  fixtures/m_anna_heatpump_idle/all_data.json
Due: none

Bump to v0.32.0a0 test-version
  pyproject.toml
Due: none

Don't add "empty" temperature_offset dicts
  plugwise/helper.py
Due: userdata, pylint

Full test coverage
  scripts/tests_and_coverage.sh
Due: none

Add temperature_offset to NumberType
  plugwise/constants.py
Due: userdata, pylint

Improve further
  plugwise/helper.py
Due: userdata, pylint

Add temperature_offset to Device_data
  plugwise/constants.py
Due: userdata, pylint

Bump to a2
  pyproject.toml
Due: none

Add test for set_temperature_offset()
  tests/test_smile.py
Due: userdata

Update CHANGELOG
  CHANGELOG.md
Due: none

Improve
  CHANGELOG.md
Due: none

Replace dummy function-arg with "_"
  plugwise/__init__.py
Due: userdata, pylint

Collect device-id's for thermostats with offset_functionality
  plugwise/__init__.py
  plugwise/helper.py
Due: userdata, pylint

Add extra testing to set_temperature_offset()
  plugwise/__init__.py
Due: userdata, pylint

Update set_temperature_offset-related test-code
  tests/test_smile.py
Due: userdata

Collect device_id from parent two levels up
  plugwise/helper.py
Due: userdata, pylint

Always return
  plugwise/helper.py
Due: userdata, pylint

Add 2nd testcase
  tests/test_smile.py
Due: userdata

Set to v0.32.0 release-version
  pyproject.toml
Due: none

Add ApplianceType constant, implement
  plugwise/constants.py
Due: userdata, pylint

Use match case
  plugwise/helper.py
Due: userdata, pylint

Fix typing
  plugwise/constants.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
