Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Fix 16
  tests/data/anna/anna_v4.json
Due: none

2nd legacy-removal
  plugwise/legacy/data.py
  plugwise/legacy/helper.py
Due: userdata, pylint

Add inits
  plugwise/data.py
  plugwise/smile_actual.py
Due: userdata, pylint

Disable assert
  tests/test_adam.py
Due: userdata

Reorganize function-blocks
  plugwise/__init__.py
Due: userdata, pylint

Add pragma-no cover
  plugwise/legacy/smile.py
Due: userdata, pylint

Update userdata 11
  userdata/anna_loria_cooling_active/core.domain_objects.xml
Due: none

Fix
  tests/test_init.py
Due: userdata

Improve set_schedule_state() top-level func, fix call
  plugwise/__init__.py
  tests/test_init.py
Due: userdata, pylint

Ruff fixes
  plugwise/__init__.py
  plugwise/data_legacy.py
  plugwise/helper.py
  plugwise/smile_actual.py
  plugwise/smile_legacy.py
Due: userdata, pylint

Add two legacy-tinker functions
  tests/test_init.py
Due: userdata

Clean up set_switch_state() for legacy
  plugwise/smile_legacy.py
Due: userdata, pylint

Save updated fixture
  fixtures/stretch_v31/all_data.json
Due: none

Init as false
  tests/test_init.py
Due: userdata

Clean up
  plugwise/smile_actual.py
Due: userdata, pylint

Collect location_list from data
  tests/test_init.py
Due: userdata

Call connect_legacy_wrapper()
  tests/test_legacy_anna.py
  tests/test_legacy_generic.py
  tests/test_legacy_p1.py
  tests/test_legacy_stretch.py
Due: userdata

Readd websession and fix typing
  plugwise/__init__.py
  plugwise/helper.py
  plugwise/legacy/smile.py
  plugwise/smile.py
Due: userdata, pylint

Fix 12
  userdata/updated/adam_plus_anna_new/core.domain_objects.xml
Due: none

Save updated fixtures, ruff fixes
  fixtures/adam_zone_per_device/all_data.json
  fixtures/anna_loria_cooling_active/all_data.json
  fixtures/anna_loria_driessens/all_data.json
  fixtures/anna_loria_heating_idle/all_data.json
  plugwise/__init__.py
  plugwise/legacy/smile.py
Due: userdata, pylint

Remove unused
  plugwise/__init__.py
Due: userdata, pylint

Fix 11
  tests/data/adam/adam_plus_anna_new.json
Due: none

Change missed to domain_objects
  plugwise/__init__.py
Due: userdata, pylint

Try 7
  plugwise/__init__.py
Due: userdata, pylint

Try 13
  plugwise/__init__.py
Due: userdata, pylint

Replace smile.device_items
  tests/test_adam.py
  tests/test_anna.py
  tests/test_init.py
  tests/test_p1.py
Due: userdata

Save updated fixtures
  fixtures/adam_heatpump_cooling/all_data.json
  fixtures/adam_jip/all_data.json
  fixtures/adam_multiple_devices_per_zone/all_data.json
  fixtures/adam_onoff_cooling_fake_firmware/all_data.json
  fixtures/adam_plus_anna/all_data.json
  fixtures/adam_plus_anna_new/all_data.json
  fixtures/adam_zone_per_device/all_data.json
  fixtures/anna_elga_2_schedule_off/all_data.json
  fixtures/anna_heatpump_cooling/all_data.json
  fixtures/anna_heatpump_cooling_fake_firmware/all_data.json
  fixtures/anna_loria_cooling_active/all_data.json
  fixtures/anna_loria_driessens/all_data.json
  fixtures/anna_loria_heating_idle/all_data.json
  fixtures/anna_v4/all_data.json
  fixtures/anna_v4_dhw/all_data.json
  fixtures/anna_v4_no_tag/all_data.json
  fixtures/m_adam_jip/all_data.json
  fixtures/m_adam_jip/device_list.json
  fixtures/p1v4/all_data.json
  fixtures/p1v4_442_single/all_data.json
Due: none

Fix
  tests/data/stretch/stretch_v31.json
Due: none

Try alternative
  plugwise/__init__.py
  plugwise/smile_actual.py
Due: userdata, pylint

Copy updates from #511
  tests/test_init.py
Due: userdata

Correct tinker_legacy_thermostat_temp() logic
  tests/test_init.py
Due: userdata

Bump to v0.37.0a0 test-version
  pyproject.toml
Due: none

No longer needed to create separate notifications and device_list files
  tests/test_init.py
Due: userdata

Let's keep gateway_id as api-callable
  plugwise/__init__.py
  plugwise/smile.py
  tests/test_adam.py
  tests/test_anna.py
  tests/test_init.py
  tests/test_legacy_anna.py
  tests/test_legacy_p1.py
  tests/test_legacy_stretch.py
  tests/test_p1.py
Due: userdata, pylint

Bump to a1
  pyproject.toml
Due: none

Don't use self
  plugwise/__init__.py
Due: userdata, pylint

Clean up commented-out code
  plugwise/helper.py
  tests/test_init.py
Due: userdata, pylint

Move remove_empty_platform_dicts() to util.py
  plugwise/data.py
  plugwise/legacy/data.py
  plugwise/util.py
Due: userdata, pylint

Move power_data_local_format() to util.py
  plugwise/helper.py
  plugwise/legacy/helper.py
  plugwise/util.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$
