Repository plugwise/python-plugwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise/$ and \.py$
  pylint: any of: ^plugwise/.+\.py$ and \.py$

Adapt to Emma Pro model update
  tests/data/adam/adam_anna_new_2.json
Due: none

Improve CHANGELOG
  CHANGELOG.md
Due: none

Update emma-related userdata
  userdata/adam_anna_new_2/core.domain_objects.xml
Due: none

Unlock Thermex Plug
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: none

Ruffed
  fixtures/adam_plus_anna_new/data.json
Due: none

More updates
  tests/test_adam.py
Due: userdata

Update related asserts
  fixtures/adam_plus_anna_new/data.json
  tests/test_adam.py
Due: userdata

Save updatef fixture, copy to test-json
  fixtures/adam_plus_anna_new/data.json
  tests/data/adam/adam_plus_anna_new.json
Due: none

Update related test assert
  fixtures/adam_plus_anna_new/data.json
  tests/data/adam/adam_plus_anna_new.json
  tests/test_adam.py
Due: userdata

Save updated fixture, update related test-json
  fixtures/adam_anna_new_2/data.json
  tests/data/adam/adam_anna_new_2.json
Due: none

Save updated files
  fixtures/adam_plus_anna_new/data.json
  fixtures/m_adam_cooling/data.json
  fixtures/m_adam_heating/data.json
  tests/data/adam/adam_plus_anna_new.json
  tests/test_adam.py
Due: userdata

Revert mac-addr changes
  userdata/adam_anna_new_2/core.domain_objects.xml
Due: none

Update related test asserts
  tests/test_adam.py
Due: userdata

Again update userdata, now with schedule active
  userdata/adam_anna_new_2/core.domain_objects.xml
Due: none

Copy over 2 special devices to userdata
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: none

Save updates json files
  fixtures/adam_anna_new_2/data.json
  tests/data/adam/adam_anna_new_2.json
Due: none

Update entity_items assert
  tests/test_adam.py
Due: userdata

Ruff updates
  fixtures/adam_anna_new_2/data.json
  tests/data/adam/adam_anna_new_2.json
Due: none

Update adam_plus_anna_new userdata
  tests/test_adam.py
  userdata/adam_anna_new_2/core.domain_objects.xml
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: userdata

Remove adam_anna_new_2 files
  fixtures/adam_anna_new_2/data.json
  tests/data/adam/adam_anna_new_2.json
Due: none

More updates 2
  tests/test_adam.py
Due: userdata

Update related jsons
  fixtures/adam_plus_anna_new/data.json
  tests/data/adam/adam_plus_anna_new.json
Due: none

Ruffed
  fixtures/adam_anna_new_2/data.json
  tests/data/adam/adam_anna_new_2.json
Due: none

Lock 2568cc4b9c1e401495d4741a5f89bee1 plug
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: none

Fix equal MAC addresses
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Update related test-json
  fixtures/adam_plus_anna_new/data.json
Due: none

Update related test-json
  tests/data/adam/adam_plus_anna_new.json
Due: none

Save all updates
  fixtures/adam_plus_anna_new/data.json
  fixtures/m_adam_cooling/data.json
  fixtures/m_adam_heating/data.json
  plugwise/helper.py
  tests/data/adam/adam_plus_anna_new.json
Due: userdata, pylint

Activate bathroom heating in userdata
  userdata/adam_plus_anna_new/core.domain_objects.xml
Due: none

Adapt Emma model
  tests/data/adam/adam_plus_anna_new.json
Due: none

Save updated json-files, ruff changes
  fixtures/adam_plus_anna_new/data.json
  fixtures/m_adam_cooling/data.json
  fixtures/m_adam_heating/data.json
  plugwise/constants.py
Due: userdata, pylint

Manual fixtures: update for new devices
  scripts/manual_fixtures.py
Due: userdata

Save updated manual fixtures
  fixtures/m_adam_cooling/data.json
  fixtures/m_adam_heating/data.json
Due: none

Update CHANGELOG for v1.8.2 release
  CHANGELOG.md
Due: none

Update to 1.8.2 in pyproject.toml
  pyproject.toml
Due: none

Remove use of last_active
  plugwise/__init__.py
  plugwise/helper.py
  plugwise/smile.py
  tests/test_adam.py
  tests/test_anna.py
Due: userdata, pylint

Clean up now unused imports
  plugwise/helper.py
Due: userdata, pylint

Revert removals and adapt
  plugwise/smile.py
Due: userdata, pylint
